<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_doi_assign_status.html 75663 2017-01-25 06:17:45Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->

<div class="w650px pd10">
	<{if $action.doiAssigned==0}>
		<{* DOI未付与 *}>
		<{if $action.resultCheckDoiJaLC.isGrantDoi == 1 || $action.resultCheckDoiCrossRef.isGrantDoi == 1 || $action.resultCheckDoiDataCite.isGrantDoi == 1}>
			<div class="success_msg">
				<{$lang.repository_doi_assign_label_can_doi_grant}><br/>
			</div>
		<{else}>
			<div class="error_msg">
				<{$lang.repository_doi_assign_label_cannnot_doi_grant}><br/>
				<{$lang.repository_doi_assign_label_satisfy_condition_all_to_grant_doi}><br/>
			</div>
		<{/if}>
	<{elseif $action.doiAssigned==1}>
		<{* DOI付与済 *}>
		<{if ($action.doiAssignedType=="JaLC" && $action.resultCheckDoiJaLC.isGrantDoi == 1) || ($action.doiAssignedType=="CrossRef" && $action.resultCheckDoiCrossRef.isGrantDoi == 1) || ($action.doiAssignedType=="DataCite" && $action.resultCheckDoiDataCite.isGrantDoi == 1)}>
			<div class="success_msg">
				<{$lang.repository_doi_assign_label_satisfy_doi_grant}><br/>
			</div>
		<{else}>
			<div class="error_msg">
				<{$lang.repository_doi_assign_label_not_satisfy_doi_grant}><br/>
				<{$lang.repository_doi_assign_label_satisfy_condition_all}><br/>
			</div>
		<{/if}>
	<{/if}>
	
	<{* DOI付与条件チェック結果 *}>
	<div>
		<table border="1" class="w650px">
			<tr>
				<td align="center" valign="middle" class="pd05">
					<img class="brd03" style="background-color: <{if $action.resultCheckDoiJaLC.isNotReviewItem == 0}>#fff;<{elseif $action.resultCheckDoiJaLC.isNotReviewItem == 1}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_review}>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" class="pd05">
					<img class="brd03" style="background-color: <{if $action.resultCheckDoiJaLC.isPublicItem == 0}>#fff;<{elseif $action.resultCheckDoiJaLC.isPublicItem == 1}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_public_item}>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" class="pd05">
					<img class="brd03" style="background-color: <{if $action.resultCheckDoiJaLC.isSetNiiType == 0}>#fff;<{elseif $action.resultCheckDoiJaLC.isSetNiiType == 1}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_nii_type}>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" class="pd05">
					<{if $action.doiAssigned==1 && $action.doiAssignedType=="JaLC"}>
						<img class="brd03" style="background-color: <{if $action.resultCheckDoiJaLC.isSetItemTypeMapping ==0}>#fff;<{elseif $action.resultCheckDoiJaLC.isSetItemTypeMapping == 1}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
					<{elseif $action.doiAssigned==1 && $action.doiAssignedType=="CrossRef"}>
						<img class="brd03" style="background-color: <{if $action.resultCheckDoiCrossRef.isSetItemTypeMapping == 0}>#fff;<{elseif $action.resultCheckDoiCrossRef.isSetItemTypeMapping == 1}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
					<{elseif $action.doiAssigned==1 && $action.doiAssignedType=="DataCite"}>
						<img class="brd03" style="background-color: <{if $action.resultCheckDoiDataCite.isSetItemTypeMapping == 0}>#fff;<{elseif $action.resultCheckDoiDataCite.isSetItemTypeMapping == 1}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
					<{else}>
						<img class="brd03" style="background-color: <{if $action.resultCheckDoiJaLC.isSetItemTypeMapping == 0}>#fff;<{elseif $action.resultCheckDoiJaLC.isSetItemTypeMapping == 1}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
					<{/if}>
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_itemtype}><br/>
					<{if $action.doiAssigned==1 && $action.doiAssignedType=="JaLC" && count($action.resultCheckDoiJaLC.LackItemTypeMapping) > 0}>
						<hr/>
						<{$lang.repository_doi_assign_label_lack_itemtype}><br/>
						<{$lang.repository_doi_assign_label_set_junii2}><br/>
						<div class="pl01em">
							<ul style="list-style: disc none inside;">
								<{foreach from=$action.resultCheckDoiJaLC.LackItemTypeMapping item=mapping}>
									<li><{$mapping}></li>
								<{/foreach}>
							</ul>
						</div>
					<{elseif $action.doiAssigned==1 && $action.doiAssignedType=="CrossRef" && count($action.resultCheckDoiCrossRef.LackItemTypeMapping) > 0}>
						<hr/>
						<{$lang.repository_doi_assign_label_lack_itemtype}><br/>
						<{$lang.repository_doi_assign_label_set_junii2}><br/>
						<div class="pl01em">
							<ul style="list-style: disc none inside;">
								<{foreach from=$action.resultCheckDoiCrossRef.LackItemTypeMapping item=mapping}>
									<li><{$mapping}></li>
								<{/foreach}>
							</ul>
						</div>
					<{elseif $action.doiAssigned==1 && $action.doiAssignedType=="DataCite" && count($action.resultCheckDoiDataCite.LackItemTypeMapping) > 0}>
						<hr/>
						<{$lang.repository_doi_assign_label_lack_itemtype}><br/>
						<{$lang.repository_doi_assign_label_set_junii2}><br/>
						<div class="pl01em">
							<ul style="list-style: disc none inside;">
								<{foreach from=$action.resultCheckDoiDataCite.LackItemTypeMapping item=mapping}>
									<li><{$mapping}></li>
								<{/foreach}>
							</ul>
						</div>
					<{elseif $action.doiAssigned==0 && (count($action.resultCheckDoiJaLC.LackItemTypeMapping) > 0 || count($action.resultCheckDoiCrossRef.LackItemTypeMapping) > 0 || count($action.resultCheckDoiDataCite.LackItemTypeMapping) > 0)}>
						<hr/>
						<{$lang.repository_doi_assign_label_lack_itemtype}><br/>
						<{$lang.repository_doi_assign_label_set_junii2}><br/>
						<{if count($action.resultCheckDoiJaLC.LackItemTypeMapping) > 0}>
							<{$lang.repository_doi_assign_status_label_jalc}><br/>
							<div class="pl01em">
								<ul style="list-style: disc none inside;">
									<{foreach from=$action.resultCheckDoiJaLC.LackItemTypeMapping item=mapping}>
										<li><{$mapping}></li>
									<{/foreach}>
								</ul>
							</div>
						<{/if}>
						<{if count($action.resultCheckDoiCrossRef.LackItemTypeMapping) > 0}>
							<{$lang.repository_doi_assign_status_label_crossref}><br/>
							<div class="pl01em">
								<ul style="list-style: disc none inside;">
									<{foreach from=$action.resultCheckDoiCrossRef.LackItemTypeMapping item=mapping}>
										<li><{$mapping}></li>
									<{/foreach}>
								</ul>
							</div>
						<{/if}>
						<{if count($action.resultCheckDoiDataCite.LackItemTypeMapping) > 0}>
							<{$lang.repository_doi_assign_status_label_datacite}><br/>
							<div class="pl01em">
								<ul style="list-style: disc none inside;">
									<{foreach from=$action.resultCheckDoiDataCite.LackItemTypeMapping item=mapping}>
										<li><{$mapping}></li>
									<{/foreach}>
								</ul>
							</div>
						<{/if}>
					<{/if}>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" class="pd05">
					<img class="brd03" style="background-color: <{if (($action.doiAssigned == 0 || $action.doiAssignedType == 'JaLC') && $action.resultCheckDoiJaLC.isPublicIndex == 0) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isPublicIndex == 0) ||  ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isPublicIndex == 0)}>#fff;<{elseif (($action.doiAssigned == 0 || $action.doiAssignedType == 'JaLC') && $action.resultCheckDoiJaLC.isPublicIndex == 1) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isPublicIndex == 1) ||  ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isPublicIndex == 1)}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_public_index}>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" class="pd05">
					<img class="brd03" style="background-color: <{if (($action.doiAssigned == 0 || $action.doiAssignedType == 'JaLC') && $action.resultCheckDoiJaLC.isOpenAccessIndex == 0) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isOpenAccessIndex == 0) ||  ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isOpenAccessIndex == 0)}>#fff;<{elseif (($action.doiAssigned == 0 || $action.doiAssignedType == 'JaLC') && $action.resultCheckDoiJaLC.isOpenAccessIndex == 1) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isOpenAccessIndex == 1) ||  ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isOpenAccessIndex == 1)}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_open_access_index}>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" class="pd05">
					<img class="brd03" style="background-color: <{if (($action.doiAssigned == 0 || $action.doiAssignedType == 'JaLC') && $action.resultCheckDoiJaLC.isPublicHarvestIndex == 0) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isPublicHarvestIndex == 0) ||  ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isPublicHarvestIndex == 0)}>#fff;<{elseif (($action.doiAssigned == 0 || $action.doiAssignedType == 'JaLC') && $action.resultCheckDoiJaLC.isPublicHarvestIndex == 1) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isPublicHarvestIndex == 1) ||  ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isPublicHarvestIndex == 1)}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_harvest_index}>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" class="pd05">
					<img class="brd03" style="background-color: <{if ($action.doiAssigned == 0 && $action.resultCheckDoiJaLC.isSetMetadata == 0 && $action.resultCheckDoiCrossRef.isSetMetadata == 0 && $action.resultCheckDoiDataCite.isSetMetadata == 0) || ($action.doiAssignedType == 'JaLC' && $action.resultCheckDoiJaLC.isSetMetadata == 0) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isSetMetadata == 0) || ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isSetMetadata == 0)}>#fff;<{elseif ($action.doiAssigned == 0 && ($action.resultCheckDoiJaLC.isSetMetadata == 1 || $action.resultCheckDoiCrossRef.isSetMetadata == 1 || $action.resultCheckDoiDataCite.isSetMetadata == 1)) || ($action.doiAssignedType == 'JaLC' && $action.resultCheckDoiJaLC.isSetMetadata == 1) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isSetMetadata == 1) || ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isSetMetadata == 1)}>#0f0;<{else}>#f00;<{/if}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/check.png" />
				</td>
				<td class="pd05">
					<{$lang.repository_doi_assign_label_metadata}><br/>
					<{if !(($action.doiAssigned == 0 && $action.resultCheckDoiJaLC.isSetMetadata == 0 && $action.resultCheckDoiCrossRef.isSetMetadata == 0 && $action.resultCheckDoiDataCite.isSetMetadata == 0) || ($action.doiAssignedType == 'JaLC' && $action.resultCheckDoiJaLC.isSetMetadata == 0) || ($action.doiAssignedType == 'CrossRef' && $action.resultCheckDoiCrossRef.isSetMetadata == 0) || ($action.doiAssignedType == 'DataCite' && $action.resultCheckDoiDataCite.isSetMetadata == 0))}>
						<b><{$lang.repository_doi_assign_label_itemtype_name}></b><{$action.itemtypeName}><br/>
						<table class="tb01">
							<tr>
								<th class="item_edit_list" align="center" valign="middle"></th>
								<{section name=ii loop=$action.mappingList}>
									<th class="item_edit_list" align="center" valign="middle"><{$action.mappingList[ii]}></th>
								<{/section}>
							</tr>
							<{foreach from=$action.requiredMetadata key=doiType item=metadata}>
								<!-- DOI未付与の場合、全DOI種別の情報を表示する。DOI付与済の場合、付与済のDOIに関する情報のみ表示する -->
								<{if $action.doiAssigned==0 || $action.doiAssignedType==$doiType}>
									<{if count($metadata)==0 || (($doiType=="JaLC" && count($action.resultCheckDoiJaLC.LackItemTypeMapping) > 0) || ($doiType=="CrossRef" && count($action.resultCheckDoiCrossRef.LackItemTypeMapping) > 0) || ($doiType=="DataCite" && count($action.resultCheckDoiDataCite.LackItemTypeMapping) > 0))}>
										<!-- このDOIを付与できるアイテムタイプではない -->
										<tr>
											<th class="item_edit_list" align="center" valign="middle"><{$doiType}></th>
											<{section name=ii loop=$action.mappingList}>
												<td class="disabled" align="center" valign="middle">-</td>
											<{/section}>
										</tr>
									<{else}>
										<tr>
											<th class="item_edit_list" align="center" valign="middle" ><{$doiType}></th>
											<{foreach from=$metadata key=mapping item=checkValue}>
												<{if is_array($checkValue)}>
													<td class="item_edit_list" align="center" valign="middle" <{if ($doiType=="JaLC" && in_array($mapping,$action.resultCheckDoiJaLC.LackMetadata)) || ($doiType=="CrossRef" && in_array($mapping,$action.resultCheckDoiCrossRef.LackMetadata)) || ($doiType=="DataCite" && in_array($mapping,$action.resultCheckDoiDataCite.LackMetadata))}>style="background-color:#ff6666;"<{/if}>>
														<{* 必須項目 *}>
														<{if $checkValue.required!=0}><{$lang.repository_doi_assign_label_required}><{/if}>
														
														<{* 複数不可 *}>
														<{if $checkValue.not_multiple!=0}><{$lang.repository_doi_assign_label_not_multiple}><{/if}>
															
														<{* 言語設定 *}>
														<{if $checkValue.english!=0}><{$lang.repository_doi_assign_label_english}><{/if}>
													</td>
												<{/if}>
											<{/foreach}>
										</tr>
									<{/if}>
								<{/if}>
							<{/foreach}>
						</table>
						<table border="0" align="right" style="margin-right: 20px;">
							<tr>
								<td><{$lang.repository_doi_assign_label_metadata_table_description}></td>
							</tr>
						</table>
					<{/if}>
				</td>
			</tr>
		</table>
	</div>
</div>
