<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_type_setting_delete $  2017/01/23 kentaro_miura      -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{*repository アイテムタイプ削除時に表示するポップアップ*}>
<div style="padding: 30px 50px 30px 50px;">
	<table align="center">
		<tr>
			<td>
				<div class="paging" style="text-align: center;">
					<br>
					<p style="color: #ff0000; font-size: 28px;">
					<img src="<{$smarty.const.BASE_URL}>/images/repository/tree/warning.png">
					<{$lang.repository_itemtype_delete_fail}>
					</p>
					<br>
					<{$lang.repository_itemtype_delete_infomation}>
				</div>
			</td>
		</tr>
		<tr>
			<td align="center">
				<input type="button" class="btn_delete" onclick="javascript: sendItemSetting();" value="<{$lang.repository_itemtype_delete_send_item_setting}>" />
				<input type="button" class="btn_white" onclick="commonCls.removeBlock('<{$id}>');" value="<{$lang.repository_cancel}>" />
			</td>
        </tr>
	</table>
</div>

<{include file="repository_script.html"}>

<{* 最後にonload相当時に呼ぶスクリプトを書く*}>
<script class="nc_script" type="text/javascript">
	sendItemSetting = function(){
		// アイテム管理画面に遷移する
		// TODO:ダイアログのメッセージを確認して修正する
        if(!commonCls.confirm('<{$lang.repository_itemtype_delete_send_item_setting_confirm}>')) {
            return false;
        }
        else {
    	    location.href="<{$smarty.const.BASE_URL}>/?action=pages_view_main&active_action=repository_view_edit_item_setting"
                +"&page_id=<{$page_id}>"
                +"&block_id=<{$block_id}>"
                +"&item_setting_active_tab=2";
        }
	}
</script>
