<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_type_setting.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<div class="mt10">
<{* エラー表示 *}>
<{if $smarty.session.error_code!=""}>
 <div class="paging" style="color: #ff0000;">
 <{if $smarty.session.error_code=="1"}><{$lang.db_repeat_error}><{/if}>
 <{if $smarty.session.error_code=="2"}><{$lang.db_itemtype_notthing_error}><{/if}>
 <{if $smarty.session.error_code=="6"}><{$lang.itemtype_null_error}><{/if}>
 <{if $smarty.session.error_code=="7"}><{$lang.itemtype_update_error}><{/if}>
 <{if $smarty.session.error_code=="9"}><{$lang.db_itemtype_itemname_error}><{/if}>
 </div>
<{/if}>
<{if $action.error_msg!=""}>
 <div class="paging" style="color: #ff0000;">
  <{$action.error_msg}>
 </div>
<{/if}>

<{*make item type*}>
<div class="ac">
 <table class="w800px tb00 box_center mb20">
	<{*ヘルプ*}>
	<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
		<tr>
			<td align="right" class="ptb10">
				<a href="#" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'itemtype_making'); return false;" style="cursor: help;">
					<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" align="right" alt="help">
				</a>
			</td>
		</tr>
	<{/if}>
  <tr>
   <th><div align="left" class="th_repos_title_bar"><{$lang.repository_itemtype_create}></div></th>
  </tr>
  <tr>
   <td class="ranking_list_paging ac">
    <input type="button" class="btn_white" value="<{$lang.repository_itemtype_new}>" onclick="javascript: makeitemtype(1);"/><{*create*}>
    <input type="button" class="btn_white" value="<{$lang.repository_itemtype_edit_import}>" onclick="javascript: makeitemtype(2);"/><{*import*}>
   </td>
  </tr>
 </table>

 <!-- アイテムタイプ選択 -->

 <table id="create" class="w800px tb00 box_center mb20" style="display:none;">
  <tr>
   <td class="ranking_list_paging ac">
	 <{if $smarty.session._lang == "japanese"}>
		<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_type_settings9.png" />
	 <{else}>
		<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_type_settings9_eng.png" />
	 <{/if}>
   </td>
  </tr>
  <tr>
   <td class="ranking_list_paging ac">
    <table class="box_center ac">
     <tr>
      <td class="ranking_list_paging" colspan="2">
       <{$lang.repository_itemtype_input_itemtype_name}>
      </td>
     </tr>
     <tr>
      <td class="w500px">
       <form action="./Createitem_type_Edit_1.html" id="itemtype_create" method="post" class="mr05">
       <input type="text" name="dummy" style="position:absolute;visibility:hidden"><!-- エンターキーはじく処理 -->
       <input type="Text" name="item_type_name" value="" class="full">
       </form>
      </td>
      <td>
       <input type="button" class="btn_next" value="<{$lang.repository_page_next}>" onclick="repositoryCls['<{$id}>'].repositoryItemTypeCreate(); return false;">
      </td>
     </tr>
    </table>
   </td>
  </tr>
 </table>

 <{* Item type Import *}>
 <!-- アイテムタイプ読み込み -->
 <table id="import" style="display:none;" class="w800px tb00 box_center mtb20">
  <tr>
   <td class="ranking_list_paging ac">
	 <{if $smarty.session._lang == "japanese"}>
		<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_type_settings7.png" />
	 <{else}>
		<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_type_settings7_eng.png" />
	 <{/if}>
   </td>
  </tr>
  <tr>
   <td class="ranking_list_paging ac">
     <div class="ranking_list_paging">
      <{$lang.repository_itemtype_select_import_file}>
     </div>
     <form id="attachment_form<{$id}>" target="attachment_form<{$id}>" enctype="multipart/form-data">
      <div class="nowrap">
       <input type="file" name="upload[]" size=50 class="upload"/>
      </div>
     </form>
     <div class="ranking_list_paging ac">
     <input type="button" class="btn_white" value="<{$lang.repository_itemtype_edit_import}>" onclick="repositoryCls['<{$id}>'].repositoryImportItemtypeFileUpload(); return false;">
    </div>
   </td>
  </tr>
 </table>
</div>

<{if $smarty.session.item_type_edit_flag==0 && count($action.itemtype_data)>$smarty.session.def_item_type_num}>
<div class="paging" style="text-align:center; color:#ff0000;">
 <b><{$lang.repository_itemtype_mapping}></b>
</div>
<{/if}>

<{* アイテムタイプ管理 *}>
<!-- アイテムタイプ管理 -->
<form action="./Createitem_type_Edit_1.html" id="itemtype_setting" method="post">
<div class="th_classic_content content text_color ac">
 <table class="w800px tb00 box_center mb20">
  <tr>
   <th><div class="th_repos_title_bar al" ><{$lang.repository_itemtype_setting}></div></th>
  </tr>
  <tr>
   <td class="ranking_list_paging ac">
	 <{if $smarty.session._lang == "japanese"}>
		<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_type_settings1.png" />
	 <{else}>
		<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_type_settings1_eng.png" />
	 <{/if}>
   </td>
  </tr>
  <tr>
   <td class="ranking_list_paging" style="text-align: center;">
    <div>
     <input type="radio" id="select_default_itemtype_list" name="select_itemtype" value="" onchange="javascript: changeItemtypeList<{$id}>(1)" <{if $action.select_item_type_id < 20000}>checked<{/if}>><label for="select_default_itemtype_list"><{$lang.repository_itemtype_default_itemtype}></label>
     <input type="radio" id="select_harvest_itemtype_list" name="select_itemtype" value="" onchange="javascript: changeItemtypeList<{$id}>(2)" <{if $action.select_item_type_id > 20000}>checked<{/if}>><label for="select_harvest_itemtype_list"><{$lang.repository_itemtype_harvest_itemtype}></label>
    </div>
    <div class="ranking_list_paging" style="text-align: center;">
     <select id="item_type_default_id" name="default_item_type_list" class="w500px" onchange="javascript: changeItemtype<{$id}>(1);">
      <!-- 標準アイテムタイプをスクリプトで登録。valueは主キー, 表示はアイテムタイプ名 -->
      <{foreach from=$action.itemtype_data item=item_type}>
       <{if $item_type[0] < 20000}>
       <option value="<{$item_type[0]}>" <{if $item_type[0] == $action.select_item_type_id}>SELECTED<{/if}>><{$item_type[1]}></option>
       <{/if}>
      <{/foreach}>
     </select>
     <select id="item_type_harvest_id" name="harvest_item_type_list" class="w500px" onchange="javascript: changeItemtype<{$id}>(2);">
      <!-- ハーベスト用アイテムタイプ一覧をスクリプトで登録。valueは主キー, 表示はアイテムタイプ名 -->
      <{foreach from=$action.itemtype_data item=item_type}>
       <{if $item_type[0] > 20000}>
       <option value="<{$item_type[0]}>" <{if $item_type[0] == $action.select_item_type_id}>SELECTED<{/if}>><{$item_type[1]}></option>
       <{/if}>
      <{/foreach}>
     </select>
    </div>
    <div>
     <input type="hidden" id="item_type_id<{$id}>" name="item_type_id" value="">
    <div class="ranking_list_paging" style="text-align: center;">
     <input type="button" class="btn_white" value="<{$lang.repository_itemtype_edit_metadata}>" onclick="repositoryCls['<{$id}>'].repositoryItemTypeEdit(); return false;">
     <input type="button" class="btn_white" value="<{$lang.repository_itemtype_edit_mapping}>" style="color:#000000;" id="mapping_btn" <{if $smarty.session.item_type_edit_flag==0 && count($action.itemtype_data)>12}> onload="setInterval('blinkButton()',1000);" <{/if}> onclick="repositoryCls['<{$id}>'].repositoryItemTypeMapping(); return false;">
     <input type="button" class="btn_white" value="<{$lang.repository_itemtype_edit_export}>" onclick="repositoryCls['<{$id}>'].repositoryItemTypeExport(); return false;">
     <input type="button" class="btn_white" value="<{$lang.repository_itemtype_copy}>" onclick="repositoryCls['<{$id}>'].repositoryItemTypeCopy(); return false;">
     <{*アイテムタイプ(論理)削除, 実装済みだが削除時の影響大。*}>
     <{*実際は論理削除せず、アイテムタイプ編集およびこの削除されたアイテムタイプの新規作成ができなくなる*}>
     <{*アイテムタイプ削除時にそのアイテムタイプのアイテムを検索。1件でも登録されていればアイテムタイプを削除できない 2017/01/23*}>
     <input type="button" id="itemtype_delete_button" class="btn_delete" value="<{$lang.repository_delete}>" onclick="javascript: checkItemtypeDelete<{$id}>(event);">
    </div>
   </td>
  </tr>
  <!-- アイテムタイプ権限管理 -->
  <tr>
   <table class="tb00 w500px" align="center">
    <tr class="tree_access_control" >
      <th class="ranking_repos ranking_paging al item_edit_list4" colspan="2"><{$lang.repository_access_role}>(<{$lang.repository_authority_base}>)</th>
    </tr>
    <tr class="tree_access_control">
     <td colspan="2" class="pt00 pb00 pr00 pl00 item_edit_list4">
      <table class="tb00 full">
       <tr>
        <td class="ptb04 plr08 w45 al">
         <{$lang.repository_edittree_insert_OFF}><br/>
         <select multiple id="itemtype_exclusive_itemtype_acl_role_name<{$id}>" class="full h10em" disabled></select>
        </td>
        <td class="ptb04 plr08 w10 ac" valign="middle">
         <br/>
         <input type="button" 
                class="btn_white" 
                value="&gt;&gt;" 
                id="itemtype_acl_add_auth_btn<{$id}>" 
                onclick="javascript: moveItemtypeACLRole<{$id}>('itemtype_exclusive_itemtype_acl_role_name<{$id}>', 'itemtype_acl_role_name<{$id}>');" disabled/><br/>
         <br/>
         <input type="button" 
                class="btn_white" 
                value="&lt;&lt;" 
                id="itemtype_acl_del_auth_btn<{$id}>" 
                onclick="javascript: moveItemtypeACLRole<{$id}>('itemtype_acl_role_name<{$id}>', 'itemtype_exclusive_itemtype_acl_role_name<{$id}>');" disabled/>
         <br/>
        </td>
        <td class="ptb04 plr08 w45 al">
         <{$lang.repository_edittree_insert_ON}><br/>
         <select multiple id="itemtype_acl_role_name<{$id}>" class="full h10em" disabled></select>
        </td>
       </tr>
      </table>
     </td>
    </tr>
    <tr class="tree_access_control">
     <th class="ranking_repos ranking_paging al item_edit_list4" colspan="2"><{$lang.repository_access_role}>(<{$lang.repository_authority_room}>)</th>
    </tr>
    <tr class="tree_access_control">
     <td colspan="2">
      <table class="tb00 full">
       <tr>
        <td class="al" colspan="3">
         <{$lang.repository_edittree_insert_ON}>
         </br>
         <label>
          <input checked="checked" type="checkbox" disabled>
          <{$smarty.const._AUTH_CHIEF_NAME}>
         </label>
         <label for="itemtype_acl_room_auth<{$smarty.const._AUTH_MODERATE}><{$id}>">
          <input id="itemtype_acl_room_auth<{$smarty.const._AUTH_MODERATE}><{$id}>" value="<{$smarty.const._ON}>" onclick="commonCls.changeAuthority(this, '<{$id}>');" type="checkbox" disabled>
          <{$smarty.const._AUTH_MODERATE_NAME}>
         </label>
         <label for="itemtype_acl_room_auth<{$smarty.const._AUTH_GENERAL}><{$id}>">
          <input id="itemtype_acl_room_auth<{$smarty.const._AUTH_GENERAL}><{$id}>" value="<{$smarty.const._ON}>" onclick="commonCls.changeAuthority(this, '<{$id}>');" type="checkbox" disabled>
          <{$smarty.const._AUTH_GENERAL_NAME}>
         </label>
        </td>
       </tr>
      </table>
     </td>
    </tr>
    <tr class="tree_access_control">
     <td>
      <div class="pt10 pb10 ac">
       <input type="button" class="btn_blue" align="center" id="itemtype_send_button<{$id}>" value="<{$lang.repository_send}>" onclick="sendItemtypeACLRole<{$id}>(); return false;" disabled/>
      </div>
     </td>
    </tr>
   </table>
  </tr>
 </table>
</div>
    <input type="hidden" id="page_id" value="<{$page_id}>">
    <input type="hidden" id="block_id" value="<{$block_id}>">
</form>
</div>
<{include file="repository_script.html"}>


<script class="nc_script" type="text/javascript">
	makeitemtype = function(make_type){
		if(make_type == "1"){
			$('create').style.display = "";
			$('import').style.display = "none";
		} else if(make_type == "2"){
			$('create').style.display = "none";
			$('import').style.display = "";
		}
	}
</script>

<script class="nc_script" type="text/javascript">
	blinkButton = function(){
		if($('mapping_btn').style.color == ''){
			$('mapping_btn').style.color = '#ff0000';
		} else {
			$('mapping_btn').style.color = '#000000';
		}
	}
</script>

<script class="nc_script" type="text/javascript">
    changeItemtype<{$id}> = function(itemtype){
	// どちらのアイテムタイプリストか判定
	if(itemtype == "1"){
		var selects = document.getElementById("item_type_default_id");
		var itemTypeId = selects.options[selects.selectedIndex].value;
	}
	else if(itemtype == "2"){
		var selects = document.getElementById("item_type_harvest_id");
		var itemTypeId = selects.options[selects.selectedIndex].value;
	}
	// セッション用の値として保持
	document.getElementById("item_type_id<{$id}>").value = itemTypeId;
	
        // アイテムタイプの権限情報をAjaxを使って問い合わせる
        var pars='';
        pars =  'action=repository_action_edit_itemtype_auth_load';
        pars += '&page_id=<{$page_id}>';
        pars += '&block_id=<{$block_id}>';
        pars += '&item_type_id='+itemTypeId;
        var url = "<{$smarty.const.BASE_URL}>/index.php";
        var myAjax = new Ajax.Request(
                        url,
                        {
                            method: 'get',
                            parameters: pars, 
                            onComplete: function(req) {
                                itemTypeInfo = eval("("+req.responseText+")");
                                changeItemtypeAuthView<{$id}>(itemTypeId, itemTypeInfo);
                            }
                        }
                    );
    }
</script>

<script class="nc_script" type="text/javascript">
    changeItemtypeAuthView<{$id}> = function(itemTypeId, itemTypeInfo){
        // ベース権限(閲覧権限なし)
        var exclusive_base_acl_role = document.getElementById("itemtype_exclusive_itemtype_acl_role_name<{$id}>");
        // 現在表示されている要素をリセット
        for(var i=exclusive_base_acl_role.childNodes.length-1; i>=0; i--) {
            exclusive_base_acl_role.removeChild(exclusive_base_acl_role.childNodes[i]);
        }
        // 子要素の追加
        for(var i=0; i < itemTypeInfo.exclusive_base_auth.length; i=i+1) {
            for(var key in itemTypeInfo.exclusive_base_auth[i]) {
                var option = document.createElement("option");
                option.setAttribute("value", key);
                if(itemTypeInfo.exclusive_base_auth[i][key] == '_AUTH_SYSADMIN_NAME'){
                    option.text = "<{$smarty.const._AUTH_SYSADMIN_NAME}>";
                } else if(itemTypeInfo.exclusive_base_auth[i][key] == '_AUTH_ADMIN_NAME'){
                    option.text = "<{$smarty.const._AUTH_ADMIN_NAME}>";
                } else if(itemTypeInfo.exclusive_base_auth[i][key] == '_AUTH_CHIEF_NAME'){
                    option.text = "<{$smarty.const._AUTH_CHIEF_NAME}>";
                } else if(itemTypeInfo.exclusive_base_auth[i][key] == '_AUTH_MODERATE_NAME'){
                    option.text = "<{$smarty.const._AUTH_MODERATE_NAME}>";
                } else if(itemTypeInfo.exclusive_base_auth[i][key] == '_AUTH_GENERAL_NAME'){
                    option.text = "<{$smarty.const._AUTH_GENERAL_NAME}>";
                } else if(itemTypeInfo.exclusive_base_auth[i][key] == '_AUTH_GUEST_NAME'){
                    option.text = "<{$smarty.const._AUTH_GUEST_NAME}>";
                } else {
                    option.text = decodeAuthNameHtmlSpecialChars<{$id}>(itemTypeInfo.exclusive_base_auth[i][key]);
                }
                exclusive_base_acl_role.appendChild(option);
            }
        }
        // ベース権限(閲覧権限あり)
        var base_acl_role = document.getElementById("itemtype_acl_role_name<{$id}>");
        // 現在表示されている要素をリセット
        for(var i=base_acl_role.childNodes.length-1; i>=0; i--) {
            base_acl_role.removeChild(base_acl_role.childNodes[i]);
        }
        // 子要素の追加
        for(var i=0; i < itemTypeInfo.base_auth.length; i=i+1) {
            for(var key in itemTypeInfo.base_auth[i]) {
                var option = document.createElement("option");
                option.setAttribute("value", key);
                if(itemTypeInfo.base_auth[i][key] == '_AUTH_SYSADMIN_NAME'){
                    option.text = "<{$smarty.const._AUTH_SYSADMIN_NAME}>";
                } else if(itemTypeInfo.base_auth[i][key] == '_AUTH_ADMIN_NAME'){
                    option.text = "<{$smarty.const._AUTH_ADMIN_NAME}>";
                } else if(itemTypeInfo.base_auth[i][key] == '_AUTH_CHIEF_NAME'){
                    option.text = "<{$smarty.const._AUTH_CHIEF_NAME}>";
                } else if(itemTypeInfo.base_auth[i][key] == '_AUTH_MODERATE_NAME'){
                    option.text = "<{$smarty.const._AUTH_MODERATE_NAME}>";
                } else if(itemTypeInfo.base_auth[i][key] == '_AUTH_GENERAL_NAME'){
                    option.text = "<{$smarty.const._AUTH_GENERAL_NAME}>";
                } else if(itemTypeInfo.base_auth[i][key] == '_AUTH_GUEST_NAME'){
                    option.text = "<{$smarty.const._AUTH_GUEST_NAME}>";
                } else {
                    option.text = decodeAuthNameHtmlSpecialChars<{$id}>(itemTypeInfo.base_auth[i][key]);
                }
                base_acl_role.appendChild(option);
            }
        }
        // ルーム権限
        var moderaterCheck = document.getElementById("itemtype_acl_room_auth<{$smarty.const._AUTH_MODERATE}><{$id}>");
        var generalCheck = document.getElementById("itemtype_acl_room_auth<{$smarty.const._AUTH_GENERAL}><{$id}>");
        // 現在表示されているチェック状態をリセット
        moderaterCheck.checked = false;
        generalCheck.checked = false;
        // ルーム権限からチェック状態を設定
        if(itemTypeInfo.room_auth >= 3) {
            // 何もしない
        } else if(itemTypeInfo.room_auth >= 2) {
            moderaterCheck.checked = true;
        } else if(itemTypeInfo.room_auth >= 1) {
            moderaterCheck.checked = true;
            generalCheck.checked = true;
        } else {
            moderaterCheck.checked = true;
            generalCheck.checked = true;
        }
        
        // 各フォームの使用状態を変更する
        // ハーベスト用アイテムタイプの権限は変更不可
        if(itemTypeId > 20000) {
            exclusive_base_acl_role.disabled = false;
            base_acl_role.disabled = true;
            var addButton = document.getElementById("itemtype_acl_add_auth_btn<{$id}>");
            addButton.disabled = true;
            var delButton = document.getElementById("itemtype_acl_del_auth_btn<{$id}>");
            delButton.disabled = true;
            moderaterCheck.disabled = true;
            generalCheck.disabled = true;
            var sendButton = document.getElementById("itemtype_send_button<{$id}>");
            sendButton.disabled = true;
        } else {
            exclusive_base_acl_role.disabled = false;
            base_acl_role.disabled = false;
            var addButton = document.getElementById("itemtype_acl_add_auth_btn<{$id}>");
            addButton.disabled = false;
            var delButton = document.getElementById("itemtype_acl_del_auth_btn<{$id}>");
            delButton.disabled = false;
            moderaterCheck.disabled = false;
            generalCheck.disabled = false;
            var sendButton = document.getElementById("itemtype_send_button<{$id}>");
            sendButton.disabled = false;
        }
    }
</script>

<script class="nc_script" type="text/javascript">
    moveItemtypeACLRole<{$id}> = function(from, to){
        // "FROM"で選択されているオプション要素を"TO"へ移動する
        var selectFrom = document.getElementById(from);
        var selectTo = document.getElementById(to);
        // 複数選択されているオプションの情報を取得
        for(var i=selectFrom.childNodes.length-1; i>=0; i--) {
            if(selectFrom.childNodes[i].selected == true) {
                var tmpOption = selectFrom.childNodes[i].cloneNode();
                tmpOption.text = selectFrom.childNodes[i].text;
                selectTo.appendChild(tmpOption);
                selectFrom.removeChild(selectFrom.childNodes[i]);
            }
        }
    }
</script>

<script class="nc_script" type="text/javascript">
    sendItemtypeACLRole<{$id}> = function(){
        // 選択中のアイテムタイプ
        var selects = document.getElementById("item_type_id<{$id}>");
        // 除外ベース権限
        var exclusiveBaseAuth = document.getElementById("itemtype_exclusive_itemtype_acl_role_name<{$id}>");
        // 除外ルーム権限
        var exclusiveRoomAuthModerater = document.getElementById("itemtype_acl_room_auth<{$smarty.const._AUTH_MODERATE}><{$id}>");
        var exclusiveRoomAuthGeneral = document.getElementById("itemtype_acl_room_auth<{$smarty.const._AUTH_GENERAL}><{$id}>");
        
        // パラメータ用のデータを設定する
        var itemTypeIdParam = "";
        var exclusiveBaseAuthParam = "";
        var exclusiveRoomAuthParam = "";
        // アイテムタイプID (数値)
        var itemTypeIdParam = selects.value;
        // 除外ベース権限(カンマ区切りの数値)
        for(var i=0; i < exclusiveBaseAuth.childNodes.length; i++) {
            if(exclusiveBaseAuthParam.length > 0) {
                exclusiveBaseAuthParam += ',';
            }
            exclusiveBaseAuthParam += exclusiveBaseAuth.childNodes[i].value;
        }
        // 除外ルーム権限(数値)
        if(exclusiveRoomAuthModerater.checked == true && exclusiveRoomAuthGeneral.checked == true) {
            exclusiveRoomAuthParam = 1;
        } else if(exclusiveRoomAuthModerater.checked == true) {
            exclusiveRoomAuthParam = 2;
        } else {
            exclusiveRoomAuthParam = 3;
        }
        
        // アイテムタイプの権限情報をAjaxを使って問い合わせる
        var pars='';
        pars += '&item_type_id='+itemTypeIdParam;
        pars += '&exclusive_base_auth='+exclusiveBaseAuthParam;
        pars += '&exclusive_room_auth='+exclusiveRoomAuthParam;
        repositoryCls['<{$id}>'].repositoryItemTypeAuthorityAdd(pars);
    }
</script>

<script class="nc_script" type="text/javascript">
    decodeAuthNameHtmlSpecialChars<{$id}> = function(str){
        str = str.replace(/&amp;/g,"&");
        str = str.replace(/&quot;/g,"\"");
        str = str.replace(/&#039;/g,"'");
        str = str.replace(/&lt;/g,"<");
        str = str.replace(/&gt;/g,">");
        str = str.replace(/\\/g,"\\");
        return str;
    }
</script>
<script class="nc_script" type="text/javascript">
    changeItemtypeList<{$id}> = function(itemtype){
	// ラジオボタンにチェックのついたアイテムタイプリストを表示
	radio = document.getElementsByName('select_itemtype');
	if(radio[0].checked){
		document.getElementById("item_type_default_id").style.display = "";
		document.getElementById("item_type_harvest_id").style.display = "none";
		document.getElementById("itemtype_delete_button").disabled = "";
		// アイテムタイプの選択が変わる
		changeItemtype<{$id}>(itemtype);
	}
	else if(radio[1].checked){
		document.getElementById("item_type_default_id").style.display = "none";
		document.getElementById("item_type_harvest_id").style.display = "";
		document.getElementById("itemtype_delete_button").disabled = "true";
		// アイテムタイプの選択が変わる
		changeItemtype<{$id}>(itemtype);
	}
    }
</script>
<script class="nc_script" type="text/javascript">
    getSelectItemtype<{$id}> = function(){
    // 各操作後のアイテムタイプを選択状態にする
	if( '<{$action.select_item_type_id}>' < 20000){
		changeItemtypeList<{$id}>(1);
	}
	else if( '<{$action.select_item_type_id}>' > 20000 && '<{$action.select_item_type_id}>' < 29999){
		changeItemtypeList<{$id}>(2);
	}
	// 初期状態では標準アイテムタイプの一番上のアイテムタイプを選択
	else{
		changeItemtypeList<{$id}>(1);
	}
    }
</script>
<script class="nc_script" type="text/javascript">
    getSelectItemtype<{$id}>();
</script>
<script class="nc_script" type="text/javascript">
    checkItemtypeDelete<{$id}> = function(event){
        var itemTypeId = document.getElementById("item_type_id<{$id}>").value;
        var pars='';
        pars =  'action=repository_action_edit_itemtype_delete';
        pars += '&page_id=<{$page_id}>';
        pars += '&block_id=<{$block_id}>';
        pars += '&item_type_id='+itemTypeId;
        pars += '&check_undeleted_item_flg=1';
        var url = "<{$smarty.const.BASE_URL}>/index.php";
        var myAjax = new Ajax.Request(
                        url,
                        {
                            method: 'post',
                            parameters: pars, 
                            onComplete: function(req) {
                                var item_num = parseInt(req.responseText);
                                if(item_num > 0){
                                    // アイテムが登録されている旨のポップアップを表示
                                    repositoryCls['<{$id}>'].repositoryItemtypeDeleteConfirm(event);
                                }
                                else {
                                    //削除実行確認のダイアログを表示
                                    if(!commonCls.confirm('<{$lang.repository_confimation_delete}>')) {
                                        return false;
                                    }
                                    else {
                                        repositoryCls['<{$id}>'].repositoryItemTypeDelete();
                                    }
                                }
                            }
                        }
                    );
    }
</script>
