<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_contents.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<div class="mt10">
<{strip}>
	<{include file="repository_item_search_indexlist.html"}>
	
	<form action="./iiiii.html" id="export_print" method="post">
		<{* Modify Export data not mediation session for all_Export and contens_all_print Y.Nakao 2013/05/09 --start-- *}>
		<input type="hidden" name="keyword" value="<{$smarty.session.searchkeyword}>"/>
		<{* Fix when index_id="", at PHP fill index_id=0 Y.Nakao 2013/05/21 --start--*}>
		<{if strlen($smarty.session.searchIndexId)>0}>
			<input type="hidden" name="index_id" value="<{$smarty.session.searchIndexId}>"/>
		<{/if}>
		<{* Fix when index_id="", at PHP fill index_id=0 Y.Nakao 2013/05/21 --end--*}>
		<input type="hidden" name="order" value="<{$smarty.session.sort_order}>"/>
		<input type="hidden" name="count" value="100"/>
		<{* Modify Export data not mediation session for all_Export and contens_all_print Y.Nakao 2013/05/09 --end-- *}>
	</form>
	
	<div id="search_print_order" class="pd10">
		<table class="repository_contents_table">
			<{if $smarty.session.index_data != null}>
				<{assign var="index_data" value=$smarty.session.index_data}>
				
				<!-- pankuzu **start** -->
				<tr>
					<td colspan="2" align="left" valign="top" class="ws050 ptb20">
						<{strip}>
						<!-- parent index name **start** -->
						<{if $smarty.session.parent_index_data != null}>
							<{assign var="parent_index" value=$smarty.session.parent_index_data}>
							<{section name=i loop=$parent_index}>
								<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 *}>
								<a href="<{$smarty.const.BASE_URL}>/?action=repository_opensearch&index_id=<{$parent_index[i].index_id}>&count=<{$smarty.session.list_view_num}>&order=<{$smarty.session.sort_order}>&pn=1">
								<{if $smarty.session._lang=="japanese"}>
									<{if $parent_index[i].index_name != "" && $parent_index[i].index_name != null}>
										<{$parent_index[i].index_name}>
									<{else}>
										<{$parent_index[i].index_name_english}>
									<{/if}>
								<{else}>
									<{if $parent_index[i].index_name_english != "" && $parent_index[i].index_name_english != null}>
										<{$parent_index[i].index_name_english}>
									<{else}>
										<{$parent_index[i].index_name}>
									<{/if}>
								<{/if}>
								</a>
								<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/page_next.gif" class="plr10 vam" border="0" /><!-- index name sepalate -->
							<{/section}>
						<{/if}>
						<!-- parent index name **end** -->
						<!-- index name **start** -->
						<b>
							<{if $smarty.session._lang=="japanese"}>
								<{if $index_data.index_name != "" && $index_data.index_name != null}>
									<{$smarty.session.index_data.index_name}>
								<{else}>
									<{$smarty.session.index_data.index_name_english}>
								<{/if}>
							<{else}>
								<{if $index_data.index_name_english != "" && $index_data.index_name_english != null}>
									<{$smarty.session.index_data.index_name_english}>
								<{else}>
									<{$smarty.session.index_data.index_name}>
								<{/if}>
							<{/if}>
						</b>
						<!-- index name **end** -->
						<{/strip}>
					</td>
				</tr>
				<!-- pankuzu **end** -->
				
				<!-- Expotr and Print icon -->
				<tr>
					<td colspan="2" align="right" valign="center">
						<{* Modify #268 index that has not item show thumbnail 2012/01/18 T.Koyasu -start- *}>
						<{if count($action.array_title)!=0}>
							<span id="print_icon">
								<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 *}>
								<a href="#" title="<{$lang.repository_search_all_export_index}>" onclick="repositoryCls['<{$id}>'].goExportORPrint('all_Export',0, '<{$smarty.const.CORE_BASE_URL}>/?action=repository_action_main_print', '<{$page_id}>', '<{$block_id}>'); return false;">
									<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/export.png" alt="WEKO EXPORT"/>
								</a>
								<a href="#" title="<{$lang.repository_search_all_print_index}>" onclick="repositoryCls['<{$id}>'].goExportORPrint('contens_all_print',0, '<{$smarty.const.CORE_BASE_URL}>/?action=repository_action_main_print', '<{$page_id}>', '<{$block_id}>'); return false;" >
									<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/print.png" alt="PRINT PREVIEW"/>
								</a>
							</span>
						<{/if}>
						<{* Modify #268 index that has not item show thumbnail 2012/01/18 T.Koyasu -start- *}>
					</td>
				</tr>
				
				<!-- index comment **start** -->
				<tr>
					<td align="center" class="pl01em">
						<{if strlen($index_data.thumbnail_name) > 0}>
							<!-- thumbnail -->
							<{* Modify #268 index that has not item show thumbnail 2012/01/18 T.Koyasu -start- *}>
							<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 *}>
							<img border="0" alt="" style="padding-right:10px;" 
								<{if $index_data.thumbnail_width > 280 || $index_data.thumbnail_height > 200}>
									<{if $index_data.thumbnail_width > $index_data.thumbnail_height}>
										width="280px"
									<{else}>
										height="200px"
									<{/if}>
								<{/if}>
								src="<{$smarty.const.CORE_BASE_URL}>/?action=repository_action_common_download&index_id=<{$index_data.index_id}>" 
							/>
							<{* Modify #268 index that has not item show thumbnail 2012/01/18 T.Koyasu -end- *}>
							<!-- comment -->
						<{/if}>
					</td>
					<td align="left" valign="top" class="pl01em">
						<{if count($index_data.comment) > 0}>
							<{section name=i loop=$index_data.comment}>
								<{$index_data.comment[i]|regex_replace:'/(.*)\[\[([^\]\|]+)\|([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$3</a>$4'|regex_replace:'/(.*)\[\[([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$2</a>$3'}><br/>
							<{/section}>
						<{/if}>
					</td>
				</tr>
				<!-- index comment **end** -->
				
				<!-- split **start** -->
				<tr>
					<td colspan="2" class="ptb10"><hr class="tb01"/></td>
				</tr>
				<!-- split **end** -->
			<{/if}>
			<!-- pankuzu **end** -->
			
			<!-- metadata **start** -->
			<{if ($smarty.session.child_index == null || count($smarty.session.child_index) == 0) && count($action.array_title) == 0}>
				<tr>
					<{* Modify delete bar fill of cell 2012/01/18 T.Koyasu -start- *}>
					<td colspan="2">
						<font style="color:#f00;"><{$lang.repository_search_error2}></font>
					</td>
					<{* Modify delete bar fill of cell 2012/01/18 T.Koyasu -end- *}>
				</tr>
			<{/if}>
			<tr>
				<td colspan="2">
					<{section name=i loop=$action.array_title}>
						<{assign var="title" value=$action.array_title[i]}>
						<{assign var="title_en" value=$action.array_title_english[i]}>
						<{assign var="item" value=$action.array_item[i]}>
						<{assign var="heading" value=$action.heading[i]}>
						<{assign var="metadata" value=$action.contents[i]}>
						<{assign var=i value=$smarty.section.i.index}>
						<!-- heading **start** -->
						<{if strlen($heading[0]) > 0 || strlen($heading[1]) > 0 || strlen($heading[2]) > 0 || strlen($heading[3]) > 0}>
							<{if $i==0 || ( $i>0 && ($heading[0]!=$heading_prev[0] || $heading[1]!=$heading_prev[1] || $heading[2]!=$heading_prev[2] || $heading[3]!=$heading_prev[3]) )}>
								<div class="panelbar large text_color mt10 clear">
									<!-- heading -->
									<{if $heading[0] != "" || $heading[1] != ""}>
										<{if $smarty.session._lang=="japanese"}>
											<{if $heading[0] != ""}>
												<{$action.heading[i][0]}>
											<{else}>
												<{$action.heading[i][1]}>
											<{/if}>
										<{else}>
											<{if $heading[1] != ""}>
												<{$action.heading[i][1]}>
											<{else}>
												<{$action.heading[i][0]}>
											<{/if}>
										<{/if}>
									<{/if}>
									<!-- Sub heading -->
									<{if $heading[2] != "" || $heading[3] != ""}>
										&nbsp;:&nbsp;
										<{if $smarty.session._lang=="japanese"}>
											<{if $heading[2] != ""}>
												<{$action.heading[i][2]}>
											<{else}>
												<{$action.heading[i][3]}>
											<{/if}>
										<{else}>
											<{if $heading[3] != ""}>
												<{$action.heading[i][3]}>
											<{else}>
												<{$action.heading[i][2]}>
											<{/if}>
										<{/if}>
									<{/if}>
								</div>
							<{/if}>
						<{/if}>
						<{assign var="heading_prev" value=$action.heading[i]}>
						<!-- heading **end** -->
						
						<div class="pt05 lh15 clear">
							<!-- title **start** -->
							<{assign var="item_attr_type" value=$metadata.item_attr_type}>
							<{assign var="item_attr" value=$metadata.item_attr}>
							
							<{*$start_pageと$end_pageを初期化する*}>
							<{assign var="start_page" value=""}>
							<{assign var="end_page" value=""}>
							
							<{section name=j loop=$item_attr_type}>
								<{if $item_attr_type[j].input_type=="biblio_info"}>
									<{assign var="start_page" value=$item_attr[j][0].start_page}>
									<{assign var="end_page" value=$item_attr[j][0].end_page}>
								<{/if}>
							<{/section}>
							
							<div class=<{if strlen($start_page) > 0 || strlen($end_page) > 0}>"dotImage pb40"<{else}>"pb40"<{/if}>>
								<!-- hidden : other lang title -->
								<{if strlen($title) > 0 || strlen($title_en) > 0}>
									<{if $smarty.session._lang=="japanese"}>
									<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 --start--  *}>
										<{if strlen($title) > 0}>
											<p class="item_title bold pl01em bg_fff fl" style="max-width:80%">
												<a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title[i]}></a>
											</p>
											<{if strlen($start_page) > 0 && strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>-<{$end_page}>
												</p>
											<{elseif strlen($start_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>
												</p>
											<{elseif strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$end_page}>
												</p>
											<{/if}>
										<{else}>
											<p class="item_title bold pl01em bg_fff fl" style="max-width:80%">
												<a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title_english[i]}></a>
											</p>
											<{if strlen($start_page) > 0 && strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>-<{$end_page}>
												</p>
											<{elseif strlen($start_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>
												</p>
											<{elseif strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$end_page}>
												</p>
											<{/if}>
										<{/if}>
									<{else}>
										<{if strlen($title_en) > 0}>
											<p class="item_title bold pl01em bg_fff fl" style="max-width:80%">
												<a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title_english[i]}></a>
											</p>
											<{if strlen($start_page) > 0 && strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>-<{$end_page}>
												</p>
											<{elseif strlen($start_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>
												</p>
											<{elseif strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$end_page}>
												</p>
											<{/if}>
										<{else}>
											<p class="item_title bold pl01em bg_fff fl" style="max-width:80%">
												<a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title[i]}></a>
											</p>
											<{if strlen($start_page) > 0 && strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>-<{$end_page}>
												</p>
											<{elseif strlen($start_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$start_page}>
												</p>
											<{elseif strlen($end_page) > 0}>
												<p class="fr ar bg_fff pr10" style="padding-top: 8px">
													<{$end_page}>
												</p>
											<{/if}>
										<{/if}>
									<{/if}>
									<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 --end-- *}>
								<{/if}>
							</div>
							<!-- title **end** -->
							
							<!-- attr data **start** -->
							<div class="repository_contents_metadata pl02em clear">
								
								<{assign var=flg_name value="false"}>
								<{section name=j loop=$item_attr_type}>
									<{assign var=j value=$smarty.section.j.index}>
									<{assign var="attr_type" value=$item_attr_type[j]}>
									<{assign var="attr" value=$item_attr[j]}>
									<!-- name **start** -->
									<{if $attr_type.input_type=="name"}>
										<{if $attr_type.display_lang_type == $smarty.session._lang && count($attr) > 0 && $flg_name == "false"}>
											<{section name=k loop=$attr}>
												<{assign var=k value=$smarty.section.k.index}>
												<{if $k > 0}>
													, 
												<{/if}>
												<a href="<{$attr[k].url}>" >
													<{*目次形式の著者名から検索できない不具合修正 2015/01/21 K.Sugimoto --start--*}>
													<{$attr[k].family}> <{$attr[k].name}>
												</a>
											<{/section}>
											<br/>
											<{assign var=flg_name value="true"}>
										<!-- another language -->
										<{elseif $attr_type.display_lang_type != $smarty.session._lang && count($attr) > 0 && $flg_name == "false" && $attr_type.display_flag!="false"}>
											<{section name=k loop=$attr}>
												<{assign var=k value=$smarty.section.k.index}>
												<{if $k > 0}>
													, 
												<{/if}>
												<a href="<{$attr[k].url}>" >
													<{$attr[k].family}> <{$attr[k].name}>
													<{*目次形式の著者名から検索できない不具合修正 2015/01/21 K.Sugimoto --end--*}>
												</a>
											<{/section}>
											<br/>
											<{assign var=flg_name value="true"}>
										<{/if}>
									<{/if}>
									<!-- name **end** -->
									<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 *}>
									<{*
									<!-- thumbnail **start** -->
									<{elseif $attr_type.input_type=="thumbnail"}>
										<{section name=k loop=$attr}>
											<{assign var=k value=$smarty.section.k.index}>
											<img vspace="0" title="<{$attr[k].file_name}>" hspace="0" border="0" 
											onload="javascript: if(this.height < this.width){if(this.width>100){this.height=100*this.height/this.width;this.width=100;}}else{if(this.height>100){this.width=100*this.width/this.height;this.height=100;}};" 
											src="<{$smarty.const.BASE_URL}>/index.php?action=repository_action_common_download&item_id=<{$attr[k].item_id}>&item_no=<{$attr[k].item_no}>&attribute_id=<{$attr[k].attribute_id}>&file_no=<{$attr[k].file_no}>&img=true"/>
										<{/section}>
									<!-- thumbnail **end** -->
									*}>
									<{*
									<!-- biblio_info **start** -->
									<{elseif $attr_type.input_type=="biblio_info"}>
										<{section name=k loop=$attr}>
											<{assign var=k value=$smarty.section.k.index}>
											<!-- jtitle -->
											<{if $smarty.session._lang=="japanese" && strlen($attr[k].biblio_name) > 0}>
												<{$attr[k].biblio_name}>&nbsp;
											<{else && strlen($attr[k].biblio_name_english) > 0}>
												<{$attr[k].biblio_name_english}>&nbsp;
											<{/if}>
											<!-- volume -->
											<{if strlen($attr[k].volume) > 0}>
												Vol.<{$attr[k].volume}>&nbsp;
											<{/if}>
											<!-- issue -->
											<{if strlen($attr[k].issue) > 0}>
												No.<{$attr[k].issue}>&nbsp;
											<{/if}>
											<!-- page -->
											<{if strlen($attr[k].start_page) > 0 && strlen($attr[k].end_page) > 0}>
												<{$attr[k].start_page}>-<{$attr[k].end_page}>&nbsp;
											<{elseif strlen($attr[k].start_page) > 0}>
												<{$attr[k].start_page}>&nbsp;
											<{elseif strlen($attr[k].end_page) > 0}>
												<{$attr[k].end_page}>
											<{/if}>
											<!-- dateofissued -->
											<{if strlen($attr[k].date_of_issued) > 0}>
												<{$attr[k].date_of_issued}>&nbsp;
											<{/if}>
										<{/section}>
									<!-- biblio_info **end** -->
									*}>
									<{*
									<!-- else **start** -->
									<{elseif $attr_type.input_type!="heading"}>
										<{section name=k loop=$attr}>
											<{assign var=k value=$smarty.section.k.index}>
											<{if $k > 0}>
												, 
											<{/if}>
											<{$attr[k].attribute_value}>
										<{/section}>
									<{/if}>
									*}>
									<!-- else **end** -->
								<{/section}>
								<!-- attr data **end** -->
								
								<{* Fix output file last 2013/05/21 Y.Nakao --start-- *}>
								<!-- output file last -->
								<{section name=j loop=$item_attr_type}>
									<{assign var=j value=$smarty.section.j.index}>
									<{assign var="attr_type" value=$item_attr_type[j]}>
									<{assign var="attr" value=$item_attr[j]}>
									<!-- file **start** -->
									<{if $attr_type.input_type=="file" || $attr_type.input_type=="file_price"}>
										<{foreach from=$attr item=str_data name=loop_str}>
											<{assign var="loop_str" value=$smarty.foreach.loop_str.iteration-1}>
											<{* modify file Access K.Matsuo 2011/10/25 --start-- *}>
											<{if $attr[$loop_str].mimetype_name != ""}>
											<a  class="list_mimetype_icon"
												style="cursor : pointer;"
												href="<{$attr[$loop_str].open_access_file}>"
											>
												<{* ボタンの文字作成開始 *}>
												<{* フラッシュ表示ではないとき *}>
												<{foreach from=$attr[$loop_str].mimetype_name item=str_mime name=loop_mime}>
													<{assign var="loop_mime" value=$smarty.foreach.loop_mime.iteration-1}>
													<{* 空白はそのまま表示 *}>
													<{if $attr[$loop_str].mimetype_name[$loop_mime]==' '}>
														&nbsp;
													<{else}><{* 空白でない(表示文字列)を表示 *}>
														<{$attr[$loop_str].mimetype_name[$loop_mime]}>
													<{/if}>
												<{/foreach}>
												<{* ボタンの文字作成終わり *}>
											</a>
											&nbsp;&nbsp;
											<{/if}>
											<{* Add hidden link to openaccess file 2010/04/20 A.Suzuki --start-- *}>
											<{* for bot search metadata --start-- *}>
												<div style="display:none;">
													<a href="<{$attr[$loop_str].open_access_file}>">
														<{if $attr[$loop_str].display_neme != ""}>
															<{$attr[$loop_str].display_neme}>
														<{else}>
															<{$attr[$loop_str].fileneme}>
														<{/if}>
													</a>
												</div>
											<{* for bot search metadata --end-- *}>
											<{* Add hidden link to openaccess file 2010/04/20 A.Suzuki --end-- *}>
										<{/foreach}>
									<{/if}>
									<!-- file **end** -->
								<{/section}>
								<{* Fix output file last 2013/05/21 Y.Nakao --end-- *}>
								
							</div>
							
						</div>
						
					<{/section}>
				</td>
			</tr>
			<!-- metadata **end** -->
		</table>
	</div>
	<input type="hidden" id="send_footer" value="<{$smarty.session._meta.meta_footer}>" />
<{/strip}>
</div>
