<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_name_authority_change.html 81438 2017-11-20 04:49:51Z keiya_sugimoto $        -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->

<{* WEKOヘルプへのリンク *}>
<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
    <div align="right" class="pt10 pr10">
        <a href="#" style="cursor: help;" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'nameauthority_change'); return false;">
            <img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
        </a>
    </div>
<{/if}>

<form class="pd10" id="repository<{$id}>NameAuthorityChangeForm">
	<table>
		<tr>
			<td>
				<span><{$lang.repository_name_authority_change_label_beforeIntegration}></span>
				<div style="border: 1px solid #ccc; margin-bottom: 20px; padding: 5px;">
					<table width="100%" cellspacing="2">
						<tr>
							<td class="pd05" valign="top">
								<{$lang.repository_name_authority_change_label_nameAuthorityId}><input type="text" size="5" value="" id="repository<{$id}>before_author_id" onchange="repository<{$id}>NameAuthorityChangeBeforeAuthorId();" />
								<input type="hidden" size="5" value="" name="before_author_id" id="repository<{$id}>before_author_id_value" />
								<br>
								<span style="color:#F00;" id="repository<{$id}>errorBefore"></span>
							</td>
							<td>
								<table cellspacing="5" class="full" style="word-break: break-all;">
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_fullNameJpn}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>nameBefore"></span>
										</td>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_seimei}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>rubyBefore"></span>
										</td>
									</tr>
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_fullNameEng}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td colspan="3" width="370">
											<span id="repository<{$id}>nameEnBefore"></span>
										</td>
									</tr>
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_fullNameOther}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>nameNoneBefore"></span>
										</td>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_seimei}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>rubyNoneBefore"></span>
										</td>
									</tr>
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_eMail}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td colspan="3" width="370">
											<span id="repository<{$id}>emailBefore"></span>
										</td>
									</tr>
									<tr>
										<td align="right" valign="top" width="100">
											<{$lang.repository_name_authority_change_label_externalAuthorId}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td colspan="3" width="370">
											<span id="repository<{$id}>ex_author_idBefore"></span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="pd05 error_msg display-none" id="repository<{$id}>NameAuthorityChangeBeforeAuthorMessage">
								</div>
							</td>
							<td class="pd05" align="right">
								<input type="button" class="btn_blue" value="<{$lang.repository_name_authority_change_button_search}>" onclick="repository<{$id}>NameAuthorityClickSearchChangeItemList(); return false;" />
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-none" id="repository<{$id}>NameAuthorityChangeList">
					<div class="pd05 information_msg" id="repository<{$id}>NameAuthorityChangeListMessage">
					</div>
					<div style="border: 1px solid #ccc;">
						<table width="720" style="word-break: break-all;">
							<tr style="height:100%;">
								<th style="height:100%;" width="50">
									<label for="repository<{$id}>checkAll">
										<input type="checkbox" id="repository<{$id}>checkAll" onchange="javascript: repository<{$id}>checkAllItem();" />
									</label>
								</th>
								<th width="70" class="pd05"><{$lang.repository_name_authority_change_label_itemId}></th>
								<th width="600" class="pd05"><{$lang.repository_name_authority_change_label_title}></th>
							</tr>
						</table>
						<div style="height:400px; overflow-y:scroll;">
							<table width="720" class="NameAuthorityLine" id="repository<{$id}>NameAuthorityChangeItemList" style="word-break: break-all;">
							</table>
							<div class="display-none" id="show_more_change_item_list<{$id}>" align="right">
								<input type="button" class="full" value="more">
							</div>
						</div>
					</div>
					<div class="display-none" id="repository<{$id}>NameAuthorityDownRow" style="padding: 20px; text-align: center; vertical-align: middle;">
						<center>
							<table>
								<tbody><tr>
									<td>
										<img border="0" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/down.png">
									</td>
									<td>
										<span><{$lang.repository_name_authority_change_label_integrate}></span>
									</td>
								</tr>
							</tbody></table>
						</center>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="display-none" id="repository<{$id}>combinedAuthor">
				<span><{$lang.repository_name_authority_change_label_afterIntegration}></span>
				<div style="border: 1px solid #ccc; margin-bottom: 20px; padding: 5px;">
					<table width="100%" cellspacing="2">
						<tr>
							<td class="pd05" valign="top">
								<{$lang.repository_name_authority_change_label_nameAuthorityId}><input type="text" size="5" value="" id="repository<{$id}>after_author_id" onchange="repository<{$id}>NameAuthorityChangeAfterAuthorId();" />
								<input type="hidden" size="5" value="" name="after_author_id" id="repository<{$id}>after_author_id_value" />
								<br>
								<span style="color:#F00;" id="repository<{$id}>errorAfter"></span>
							</td>
							<td>
								<table cellspacing="5" class="full" style="word-break: break-all;">
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_fullNameJpn}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>nameAfter"></span>
										</td>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_seimei}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>rubyAfter"></span>
										</td>
									</tr>
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_fullNameEng}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td colspan="3" width="370">
											<span id="repository<{$id}>nameEnAfter"></span>
										</td>
									</tr>
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_fullNameOther}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>nameNoneAfter"></span>
										</td>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_seimei}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td width="140">
											<span id="repository<{$id}>rubyNoneAfter"></span>
										</td>
									</tr>
									<tr>
										<td align="right" width="100">
											<{$lang.repository_name_authority_change_label_eMail}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td colspan="3" width="370">
											<span id="repository<{$id}>emailAfter"></span>
										</td>
									</tr>
									<tr>
										<td align="right" valign="top" width="100">
											<{$lang.repository_name_authority_change_label_externalAuthorId}><{$lang.repository_name_authority_change_label_colon}>
										</td>
										<td colspan="3" width="370">
											<span id="repository<{$id}>ex_author_idAfter"></span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="pd05 error_msg display-none" id="repository<{$id}>NameAuthorityChangeAfterAuthorMessage">
								</div>
							</td>
							<td class="pd05" align="right">
								<input type="button" class="btn_blue" value="<{$lang.repository_name_authority_change_button_search}>" onclick="repository<{$id}>NameAuthorityClickSearchCombinedAuthor(); return false;" />
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr class="display-none" id="repository<{$id}>NameAuthorityChangeUpdate">
			<td>
				<div class="display-none" id="repository<{$id}>submitCombine" class="pd10" align="center">
					<label><input type="checkbox" name="overwrite_flg" value="1" id="repository<{$id}>NameAuthorityChangeMetadataOverWrite" /><{$lang.repository_name_authority_change_label_overwriteMetadata}></label>
					<br/>
					<div>
						<span style="color:#F00;">
							<{$lang.repository_name_authority_change_label_overwriteWarning}>
						</span>
					</div>
					<br/>
					<div class="pd05 error_msg display-none" style="text-align : left" id="repository<{$id}>NameAuthorityChangeCommitMessage">
					</div>
					<br/>
					<input class="btn_blue" type="button" value="<{$lang.repository_commit}>" onclick="repository<{$id}>NameAuthorityClickChangeMetadataOverWrite(); return false;"/>
					<br/>
					<br/>
				</div>
			</td>
		</tr>
	</table>
</form>

<script class="nc_script" type="text/javascript">
	// 統合前の著者ID変更時の動作
	repository<{$id}>NameAuthorityChangeBeforeAuthorId = function()
	{
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage'));
		$('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage').innerHTML = '';
		
		$('repository<{$id}>NameAuthorityChangeMetadataOverWrite').checked = false;
		
		repository<{$id}>InitializeBeforeAuthorForm();
		
		$('repository<{$id}>checkAll').checked = false;
		var changeItemList = $('repository<{$id}>NameAuthorityChangeItemList');
	    while(changeItemList.rows.length > 0)
	    {
	    	changeItemList.deleteRow(0);
	    }
		
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeUpdate'));
	}
	
	// 統合前の著者・アイテム検索
	repository<{$id}>NameAuthorityClickSearchChangeItemList = function()
	{
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage'));
		$('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage').innerHTML = '';
		
		$('repository<{$id}>NameAuthorityChangeMetadataOverWrite').checked = false;
		
		$('repository<{$id}>NameAuthorityChangeCommitMessage').innerHTML = '';
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeCommitMessage'));
		
		$('repository<{$id}>before_author_id_value').value = $('repository<{$id}>before_author_id').value;
		repository<{$id}>InitializeBeforeAuthorForm();
		
		if(isNaN($('repository<{$id}>before_author_id_value').value) || Number($('repository<{$id}>before_author_id_value').value) <= 0)
		{
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage'));
			$('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage').innerHTML = '<{$lang.repository_name_authority_edit_error_invalid_author_id}>';
			repository<{$id}>DisplayNoneChangeArea();
			return false;
		}
		
		repository<{$id}>SearchBeforeAuthor();
	}
	
	// アイテムリスト・統合先著者検索・付替え実行の非表示
	repository<{$id}>DisplayNoneChangeArea = function()
	{
		commonCls.displayNone($('repository<{$id}>combinedAuthor'));
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeList'));
		commonCls.displayNone($('repository<{$id}>NameAuthorityDownRow'));
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeUpdate'));
		commonCls.displayNone($('repository<{$id}>submitCombine'));
	}
	
	// 統合前の著者情報検索
	repository<{$id}>SearchBeforeAuthor = function()
	{
		var url = "<{$smarty.const.BASE_URL}>/index.php";
		var pars = "";
		pars += 'action=repository_action_edit_nameauthority_search_author';
		pars += '&author_id='+$('repository<{$id}>before_author_id_value').value;
		pars += '&is_delete=0';
		pars += '&start_num=0';
		pars += '&per_num=1';
		pars += '&page_id=' + <{$page_id}>;
		pars += '&block_id=' + <{$block_id}>;
		repository<{$id}>AjaxMethod(url, pars, 'post', repository<{$id}>ShowBeforeAuthorInfo, repository<{$id}>FailedSearchChangeItemList);
	}
	
	// 統合前の著者情報表示
	repository<{$id}>ShowBeforeAuthorInfo = function(req)
	{
		authorList = eval("("+req+")");
		var wekoAuthorList = eval(authorList.author_list);
		if(wekoAuthorList.length == 0)
		{
			repository<{$id}>CheckDeleteBeforeAuthor();
			repository<{$id}>DisplayNoneChangeArea();
			return false;
		}
		else
		{
			if(wekoAuthorList[0].family != null || wekoAuthorList[0].name != null)
			{
				$('repository<{$id}>nameBefore').innerHTML = wekoAuthorList[0].family;
				if($('repository<{$id}>nameBefore').innerHTML.length > 0)
				{
					$('repository<{$id}>nameBefore').innerHTML += " ";
				}
				$('repository<{$id}>nameBefore').innerHTML += wekoAuthorList[0].name;
			}
			if(wekoAuthorList[0].family_ruby != null || wekoAuthorList[0].name_ruby != null)
			{
				$('repository<{$id}>rubyBefore').innerHTML = wekoAuthorList[0].family_ruby;
				if($('repository<{$id}>rubyBefore').innerHTML.length > 0)
				{
					$('repository<{$id}>rubyBefore').innerHTML += " ";
				}
				$('repository<{$id}>rubyBefore').innerHTML += wekoAuthorList[0].name_ruby;
			}
			if(wekoAuthorList[0].family_en != null || wekoAuthorList[0].name_en != null)
			{
				$('repository<{$id}>nameEnBefore').innerHTML = wekoAuthorList[0].name_en;
				if($('repository<{$id}>nameEnBefore').innerHTML.length > 0)
				{
					$('repository<{$id}>nameEnBefore').innerHTML += " ";
				}
				$('repository<{$id}>nameEnBefore').innerHTML += wekoAuthorList[0].family_en;
			}
			if(wekoAuthorList[0].family_other != null || wekoAuthorList[0].name_other != null)
			{
				$('repository<{$id}>nameNoneBefore').innerHTML = wekoAuthorList[0].family_other;
				if($('repository<{$id}>nameNoneBefore').innerHTML.length > 0)
				{
					$('repository<{$id}>nameNoneBefore').innerHTML += " ";
				}
				$('repository<{$id}>nameNoneBefore').innerHTML += wekoAuthorList[0].name_other;
			}
			if(wekoAuthorList[0].family_other_ruby != null || wekoAuthorList[0].name_other_ruby != null)
			{
				$('repository<{$id}>rubyNoneBefore').innerHTML = wekoAuthorList[0].family_other_ruby;
				if($('repository<{$id}>rubyNoneBefore').innerHTML.length > 0)
				{
					$('repository<{$id}>rubyNoneBefore').innerHTML += " ";
				}
				$('repository<{$id}>rubyNoneBefore').innerHTML += wekoAuthorList[0].name_other_ruby;
			}
			if(wekoAuthorList[0].mail != null)
			{
				$('repository<{$id}>emailBefore').innerHTML = wekoAuthorList[0].mail;
			}
			if(wekoAuthorList[0].external_id != null)
			{
				var externalAuthorIdList = eval(wekoAuthorList[0].external_id);
				for(var ii=0; ii < externalAuthorIdList.length; ii++)
				{
					if(ii != 0)
					{
						$('repository<{$id}>ex_author_idBefore').innerHTML += '<br/>';
					}
					$('repository<{$id}>ex_author_idBefore').innerHTML += externalAuthorIdList[ii].name+' ; '+externalAuthorIdList[ii].suffix;
				}
			}
		}
		
		// 統合前の著者に紐付くアイテムの検索
		repository<{$id}>SearchItemListWithBeforeAuthor(0);
	}
	
	// 統合前の著者情報初期化
	repository<{$id}>InitializeBeforeAuthorForm = function()
	{
		$('repository<{$id}>errorBefore').innerHTML = "";
		$('repository<{$id}>nameBefore').innerHTML = "";
		$('repository<{$id}>rubyBefore').innerHTML = "";
		$('repository<{$id}>nameEnBefore').innerHTML = "";
		$('repository<{$id}>nameNoneBefore').innerHTML = "";
		$('repository<{$id}>emailBefore').innerHTML = "";
		$('repository<{$id}>ex_author_idBefore').innerHTML = "";
	}
	
	// 著者が削除されているかチェック
	repository<{$id}>CheckDeleteBeforeAuthor = function()
	{
		var url = "<{$smarty.const.BASE_URL}>/index.php";
		var pars = "";
		pars += 'action=repository_action_edit_nameauthority_search_author';
		pars += '&author_id='+$('repository<{$id}>before_author_id_value').value;
		pars += '&is_delete=1';
		pars += '&start_num=0';
		pars += '&per_num=1';
		pars += '&page_id=' + <{$page_id}>;
		pars += '&block_id=' + <{$block_id}>;
		repository<{$id}>AjaxMethod(url, pars, 'post', repository<{$id}>ShowAuthorBeforeError, repository<{$id}>FailedSearchChangeItemList);
	}
	
	// 統合前著者検索に関するエラー表示
	repository<{$id}>ShowAuthorBeforeError = function(req)
	{
		authorList = eval("("+req+")");
		var wekoAuthorList = eval(authorList.author_list);
		if(wekoAuthorList.length == 0)
		{
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage'));
			$('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage').innerHTML = '<{$lang.repository_name_authority_change_error_no_author}>';
		}
		else
		{
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage'));
			$('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage').innerHTML = '<{$lang.repository_name_authority_change_error_delete_author}>';
		}
	}
	
	// 統合前の著者に紐付くアイテム検索
	repository<{$id}>SearchItemListWithBeforeAuthor = function(start_num)
	{
		var url = "<{$smarty.const.BASE_URL}>/index.php";
		var pars = "";
		pars += 'action=repository_action_edit_nameauthority_search_item'
		pars += '&author_id='+$('repository<{$id}>before_author_id_value').value;
		if(isFinite(start_num))
		{
			pars += '&start_num='+start_num;
		}
		else
		{
			pars += '&start_num=0';
		}
        pars += '&per_num=50';
		pars += '&page_id=' + <{$page_id}>;
		pars += '&block_id=' + <{$block_id}>;
		repository<{$id}>AjaxMethod(url, pars, 'post', repository<{$id}>SuccessSearchChangeItemList, repository<{$id}>FailedSearchChangeItemList);
	}
	
	// 統合前の著者名に紐づくアイテム一覧を表示する(先頭50件)
	repository<{$id}>SuccessSearchChangeItemList = function(req)
	{
		var changeItemList = $('repository<{$id}>NameAuthorityChangeItemList');
		itemList = eval("("+req+")");
		var wekoItemList = eval(itemList.item_list);
		// 表示画面作成
		$('repository<{$id}>checkAll').checked = false;
		if(Number(itemList.start_num) == 0)
		{
		    while(changeItemList.rows.length > 0)
		    {
		    	changeItemList.deleteRow(0);
		    }
		}
		if(wekoItemList.length == 0)
		{
			$('repository<{$id}>NameAuthorityChangeListMessage').innerHTML = '<{$lang.repository_name_authority_change_error_no_item}>';
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeList'));
			commonCls.displayNone($('repository<{$id}>combinedAuthor'));
			commonCls.displayNone($('repository<{$id}>NameAuthorityDownRow'));
			commonCls.displayNone($('repository<{$id}>NameAuthorityChangeUpdate'));
			commonCls.displayNone($('repository<{$id}>submitCombine'));
			return;
		}
		$('repository<{$id}>NameAuthorityChangeListMessage').innerHTML = '<{$lang.repository_name_authority_charge_label_changeItemSelect}>';
		var cnt = 0;
		for(cnt = 0; cnt < wekoItemList.length; cnt++)
		{
		    row = changeItemList.insertRow(-1);
		    row.setAttribute('id','repository<{$id}>NameAuthorityChangeItemListLine' + wekoItemList[cnt].item_id);
		    row.setAttribute('name','repository<{$id}>NameAuthorityChangeItemListLine');
		    td = row.insertCell(-1);
		    td.setAttribute('width','50');
		    td.setAttribute('align','center');
		    td.setAttribute('style','height:100%');
		    td.innerHTML = '<label for="check_'+wekoItemList[cnt].item_id+'" class="full">';
		    td.innerHTML += '<input id="check_'+wekoItemList[cnt].item_id+'" name="item_id_list[]" value="'+wekoItemList[cnt].item_id+'" type="checkbox" onclick="javascript: repository<{$id}>checkChangeItem(this);">';
		    td.innerHTML += '</label>';
		    td = row.insertCell(-1);
		    td.setAttribute('width','70');
		    td.setAttribute('class','pd05');
		    td.innerHTML = wekoItemList[cnt].item_id;
		    td = row.insertCell(-1);
		    td.setAttribute('width','600');
		    td.setAttribute('class','pd05');
		    var itemTitle = '<a href="#" onclick="commonCls.sendPopupView(event,{\'action\':\'repository_view_common_item_detail\', \'item_id\':\''+wekoItemList[cnt].item_id+'\'}, {\'center_flag\':true, \'modal_flag\':true});">';
		    if(wekoItemList[cnt].title.length > 0)
		    {
		    	itemTitle += wekoItemList[cnt].title;
		    }
		    else
		    {
		    	itemTitle += wekoItemList[cnt].title_english;
		    }
		    itemTitle += '</a>';
		    td.innerHTML = itemTitle;
		}
		var position = Number(itemList.start_num) + Number(itemList.per_num);
		if(position < itemList.total_num)
		{
			$('show_more_change_item_list<{$id}>').setAttribute('onclick','repository<{$id}>SearchItemListWithBeforeAuthor(' + position + '); return false;');
			commonCls.displayVisible($('show_more_change_item_list<{$id}>'));
		}
		else
		{
			commonCls.displayNone($('show_more_change_item_list<{$id}>'));
		}
		
		commonCls.displayVisible($('repository<{$id}>combinedAuthor'));
		commonCls.displayVisible($('repository<{$id}>NameAuthorityDownRow'));
		commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeList'));
	}
	
	// 統合前の著者名に紐づくアイテム一覧の検索に失敗した
	repository<{$id}>FailedSearchChangeItemList = function()
	{
		commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage'));
		$('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage').innerHTML = '<{$lang.repository_name_authority_change_error_failed_search}>';
		repository<{$id}>DisplayNoneChangeArea();
	}
	
	// 統合先の著者ID変更時の動作
	repository<{$id}>NameAuthorityChangeAfterAuthorId = function()
	{
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeAfterAuthorMessage'));
		$('repository<{$id}>NameAuthorityChangeAfterAuthorMessage').innerHTML = '';
		
		$('repository<{$id}>NameAuthorityChangeMetadataOverWrite').checked = false;
		
		repository<{$id}>InitializeAfterAuthorForm();
		
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeUpdate'));
	}
	
	// 統合先の著者検索
	repository<{$id}>NameAuthorityClickSearchCombinedAuthor = function()
	{
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeAfterAuthorMessage'));
		$('repository<{$id}>NameAuthorityChangeAfterAuthorMessage').innerHTML = '';
		
		$('repository<{$id}>NameAuthorityChangeMetadataOverWrite').checked = false;
		
		$('repository<{$id}>NameAuthorityChangeCommitMessage').innerHTML = '';
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeCommitMessage'));
		
		$('repository<{$id}>after_author_id_value').value = $('repository<{$id}>after_author_id').value;
		repository<{$id}>InitializeAfterAuthorForm();
		
		if(isNaN($('repository<{$id}>after_author_id_value').value) || Number($('repository<{$id}>after_author_id_value').value) <= 0)
		{
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeAfterAuthorMessage'));
			$('repository<{$id}>NameAuthorityChangeAfterAuthorMessage').innerHTML = '<{$lang.repository_name_authority_edit_error_invalid_author_id}>';
			repository<{$id}>DisplayNoneCombineArea();
			return false;
		}
		if($('repository<{$id}>after_author_id_value').value == $('repository<{$id}>before_author_id_value').value)
		{
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeAfterAuthorMessage'));
			$('repository<{$id}>NameAuthorityChangeAfterAuthorMessage').innerHTML = '<{$lang.repository_name_authority_change_error_same_author}>';
			repository<{$id}>DisplayNoneCombineArea();
			return false;
		}
		
		repository<{$id}>SearchAfterAuthor();
	}
	
	// 付替え実行の非表示
	repository<{$id}>DisplayNoneCombineArea = function()
	{
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeUpdate'));
		commonCls.displayNone($('repository<{$id}>submitCombine'));
	}
	
	// 統合先の著者情報検索
	repository<{$id}>SearchAfterAuthor = function()
	{
		var url = "<{$smarty.const.BASE_URL}>/index.php";
		var pars = "";
		pars += 'action=repository_action_edit_nameauthority_search_author';
		pars += '&author_id='+$('repository<{$id}>after_author_id_value').value;
		pars += '&is_delete=0';
		pars += '&start_num=0';
		pars += '&per_num=1';
		pars += '&page_id=' + <{$page_id}>;
		pars += '&block_id=' + <{$block_id}>;
		repository<{$id}>AjaxMethod(url, pars, 'post', repository<{$id}>ShowAfterAuthorInfo, repository<{$id}>FailedSearchCombinedAuthor);
	}
	
	// 統合先の著者情報表示
	repository<{$id}>ShowAfterAuthorInfo = function(req)
	{
		authorList = eval("("+req+")");
		var wekoAuthorList = eval(authorList.author_list);
		if(wekoAuthorList.length == 0)
		{
			repository<{$id}>CheckDeleteAfterAuthor();
			repository<{$id}>DisplayNoneCombineArea();
			return false;
		}
		else
		{
			if(wekoAuthorList[0].family != null || wekoAuthorList[0].name != null)
			{
				$('repository<{$id}>nameAfter').innerHTML = wekoAuthorList[0].family;
				if($('repository<{$id}>nameAfter').innerHTML.length > 0)
				{
					$('repository<{$id}>nameAfter').innerHTML += " ";
				}
				$('repository<{$id}>nameAfter').innerHTML += wekoAuthorList[0].name;
			}
			if(wekoAuthorList[0].family_ruby != null || wekoAuthorList[0].name_ruby != null)
			{
				$('repository<{$id}>rubyAfter').innerHTML = wekoAuthorList[0].family_ruby;
				if($('repository<{$id}>rubyAfter').innerHTML.length > 0)
				{
					$('repository<{$id}>rubyAfter').innerHTML += " ";
				}
				$('repository<{$id}>rubyAfter').innerHTML += wekoAuthorList[0].name_ruby;
			}
			if(wekoAuthorList[0].family_en != null || wekoAuthorList[0].name_en != null)
			{
				$('repository<{$id}>nameEnAfter').innerHTML = wekoAuthorList[0].name_en;
				if($('repository<{$id}>nameEnAfter').innerHTML.length > 0)
				{
					$('repository<{$id}>nameEnAfter').innerHTML += " ";
				}
				$('repository<{$id}>nameEnAfter').innerHTML += wekoAuthorList[0].family_en;
			}
			if(wekoAuthorList[0].family_other != null || wekoAuthorList[0].name_other != null)
			{
				$('repository<{$id}>nameNoneAfter').innerHTML = wekoAuthorList[0].family_other;
				if($('repository<{$id}>nameNoneAfter').innerHTML.length > 0)
				{
					$('repository<{$id}>nameNoneAfter').innerHTML += " ";
				}
				$('repository<{$id}>nameNoneAfter').innerHTML += wekoAuthorList[0].name_other;
			}
			if(wekoAuthorList[0].family_other_ruby != null || wekoAuthorList[0].name_other_ruby != null)
			{
				$('repository<{$id}>rubyNoneAfter').innerHTML = wekoAuthorList[0].family_other_ruby;
				if($('repository<{$id}>rubyNoneAfter').innerHTML.length > 0)
				{
					$('repository<{$id}>rubyNoneAfter').innerHTML += " ";
				}
				$('repository<{$id}>rubyNoneAfter').innerHTML += wekoAuthorList[0].name_other_ruby;
			}
			if(wekoAuthorList[0].mail != null)
			{
				$('repository<{$id}>emailAfter').innerHTML = wekoAuthorList[0].mail;
			}
			if(wekoAuthorList[0].external_id != null)
			{
				var externalAuthorIdList = eval(wekoAuthorList[0].external_id);
				for(var ii=0; ii < externalAuthorIdList.length; ii++)
				{
					if(ii != 0)
					{
						$('repository<{$id}>ex_author_idAfter').innerHTML += '<br/>';
					}
					$('repository<{$id}>ex_author_idAfter').innerHTML += externalAuthorIdList[ii].name+' ; '+externalAuthorIdList[ii].suffix;
				}
			}
		}
		
		commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeUpdate'));
		commonCls.displayVisible($('repository<{$id}>submitCombine'));
	}
	
	// 統合先の著者情報初期化
	repository<{$id}>InitializeAfterAuthorForm = function()
	{
		$('repository<{$id}>errorAfter').innerHTML = "";
		$('repository<{$id}>nameAfter').innerHTML = "";
		$('repository<{$id}>rubyAfter').innerHTML = "";
		$('repository<{$id}>nameEnAfter').innerHTML = "";
		$('repository<{$id}>nameNoneAfter').innerHTML = "";
		$('repository<{$id}>emailAfter').innerHTML = "";
		$('repository<{$id}>ex_author_idAfter').innerHTML = "";
	}
	
	// 著者が削除されているかチェック
	repository<{$id}>CheckDeleteAfterAuthor = function()
	{
		var url = "<{$smarty.const.BASE_URL}>/index.php";
		var pars = "";
		pars += 'action=repository_action_edit_nameauthority_search_author';
		pars += '&author_id='+$('repository<{$id}>after_author_id_value').value;
		pars += '&is_delete=1';
		pars += '&start_num=0';
		pars += '&per_num=1';
		pars += '&page_id=' + <{$page_id}>;
		pars += '&block_id=' + <{$block_id}>;
		repository<{$id}>AjaxMethod(url, pars, 'post', repository<{$id}>ShowAuthorAfterError, repository<{$id}>FailedSearchCombinedAuthor);
	}
	
	// 統合先著者検索に関するエラー表示
	repository<{$id}>ShowAuthorAfterError = function(req)
	{
		authorList = eval("("+req+")");
		var wekoAuthorList = eval(authorList.author_list);
		if(wekoAuthorList.length == 0)
		{
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeAfterAuthorMessage'));
			$('repository<{$id}>NameAuthorityChangeAfterAuthorMessage').innerHTML = '<{$lang.repository_name_authority_change_error_no_author}>';
		}
		else
		{
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeAfterAuthorMessage'));
			$('repository<{$id}>NameAuthorityChangeAfterAuthorMessage').innerHTML = '<{$lang.repository_name_authority_change_error_delete_author}>';
		}
	}
	
	// 統合先の著者名に紐づくアイテム一覧の検索に失敗した
	repository<{$id}>FailedSearchCombinedAuthor = function()
	{
		commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage'));
		$('repository<{$id}>NameAuthorityChangeBeforeAuthorMessage').innerHTML = '<{$lang.repository_name_authority_change_error_failed_search}>';
		repository<{$id}>DisplayNoneCombineArea();
	}
</script>
<script class="nc_script" type="text/javascript">
	// アイテムリストのチェックボックスをすべてチェックON/OFFにする
	repository<{$id}>checkAllItem = function()
	{
		checkStatus = $('repository<{$id}>checkAll').checked;
		itemList = document.getElementsByName('item_id_list[]');
		for(ii=0; ii<itemList.length; ii++)
		{
			itemList[ii].checked = checkStatus;
			if(itemList[ii].checked == true)
			{
				$('repository<{$id}>NameAuthorityChangeItemListLine'+itemList[ii].value).className='NameAuthorityLineClick';
			}
			else
			{
				$('repository<{$id}>NameAuthorityChangeItemListLine'+itemList[ii].value).className='';
			}
		}
	}
	
	// アイテムリストのチェックボックス操作
	repository<{$id}>checkChangeItem = function(element)
	{
		if(element.checked == true)
		{
			$('repository<{$id}>NameAuthorityChangeItemListLine'+element.value).className='NameAuthorityLineClick';
		}
		else
		{
			$('repository<{$id}>checkAll').checked = false;
			$('repository<{$id}>NameAuthorityChangeItemListLine'+element.value).className='';
		}
	}
</script>
<script class="nc_script" type="text/javascript">
	// 付替えボタンクリック
	// ⇒著者典拠の選択状態変更
	repository<{$id}>NameAuthorityClickChangeMetadataOverWrite = function()
	{
		// エラーメッセージ削除
		$('repository<{$id}>NameAuthorityChangeCommitMessage').innerHTML = '';
		commonCls.displayNone($('repository<{$id}>NameAuthorityChangeCommitMessage'));
		
		// 付替え先アイテム選択状態確認
		var selectItem = false;
		var itemList = document.getElementsByName('item_id_list[]');
		for(ii=0; ii<itemList.length; ii++)
		{
			if(itemList[ii].checked == true)
			{
				selectItem = true;
				break;
			}
		}
		// 付替え先アイテムが未選択の場合、エラーメッセージを表示して終了。
		if(!selectItem)
		{
			$('repository<{$id}>NameAuthorityChangeCommitMessage').innerHTML = '<{$lang.repository_name_authority_charge_label_changeItemSelect}>';
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeCommitMessage'));
			return false;
		}
		
		// リクエスト送付
		var url = "<{$smarty.const.BASE_URL}>/index.php";
		var pars = "";
		pars += 'action=repository_action_edit_nameauthority_change'
		pars += '&'+Form.serialize($('repository<{$id}>NameAuthorityChangeForm'));
		pars += '&isCheckOnly=1';
		pars += '&page_id=' + <{$page_id}>;
		pars += '&block_id=' + <{$block_id}>;
		repository<{$id}>AjaxMethod(url, pars, 'post', repository<{$id}>NameAuthorityExecuteChange, repository<{$id}>FailedNameAuthorityChange);
	}
	
	// 付替え実行確認
	repository<{$id}>NameAuthorityExecuteChange = function(responseText)
	{
		var changeResult = eval("("+responseText+")");
		if(changeResult.beforeAuthorId != null && changeResult.beforeAuthorId > 0 && changeResult.afterAuthorId != null && changeResult.afterAuthorId > 0)
		{
			// メタデータ上書き確認
			if($('repository<{$id}>NameAuthorityChangeMetadataOverWrite').checked==true && !commonCls.confirm('<{$lang.repository_name_authority_change_comfirmOverwrite}>'))
			{
				$('repository<{$id}>NameAuthorityChangeMetadataOverWrite').checked=false;
				return false;
			}
			
			var confirmMsg = '<{$lang.repository_name_authority_change_confirmChangeNameAuthority}>';
			confirmMsg = confirmMsg.replace(/__%beforeAuthorId%__/ig, $('repository<{$id}>before_author_id_value').value);
			confirmMsg = confirmMsg.replace(/__%afterAuthorId%__/ig, $('repository<{$id}>after_author_id_value').value);
			if(!commonCls.confirm(confirmMsg))
			{
				return false;
			}
			
			// リクエスト送付
			var url = "<{$smarty.const.BASE_URL}>/index.php";
			var pars = "";
			pars += 'action=repository_action_edit_nameauthority_change'
			pars += '&'+Form.serialize($('repository<{$id}>NameAuthorityChangeForm'));
			pars += '&isCheckOnly=0';
			pars += '&page_id=' + <{$page_id}>;
			pars += '&block_id=' + <{$block_id}>;
			repository<{$id}>AjaxMethod(url, pars, 'post', repository<{$id}>SuccessNameAuthorityChange, repository<{$id}>FailedNameAuthorityChange);
		}
		else
		{
			var msg = "";
			for(ii=0; ii<changeResult.length; ii++)
			{
				msg += changeResult[ii]+"<br/>";
			}
			$('repository<{$id}>NameAuthorityChangeCommitMessage').innerHTML = msg;
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeCommitMessage'));
		}
	}
	
	// 付替え成功
	repository<{$id}>SuccessNameAuthorityChange = function(responseText)
	{
		var changeResult = eval("("+responseText+")");
		if(changeResult.beforeAuthorId != null && changeResult.beforeAuthorId > 0 && changeResult.afterAuthorId != null && changeResult.afterAuthorId > 0)
		{
			// 付替え成功メッセージを表示する。
			var msg = '<{$lang.repository_name_authority_change_successChangeNameAuthority}>';
			msg = msg.replace(/__%beforeAuthorId%__/ig, changeResult.beforeAuthorId);
			msg = msg.replace(/__%afterAuthorId%__/ig, changeResult.afterAuthorId);
			commonCls.alert(msg);
			// 統合前の著者を再検索
			repository<{$id}>NameAuthorityClickSearchChangeItemList();
		}
		else
		{
			var msg = "";
			for(ii=0; ii<changeResult.length; ii++)
			{
				msg += changeResult[ii]+"<br/>";
			}
			$('repository<{$id}>NameAuthorityChangeCommitMessage').innerHTML = msg;
			commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeCommitMessage'));
		}
	}
	// 付替え失敗
	repository<{$id}>FailedNameAuthorityChange = function()
	{
		$('repository<{$id}>NameAuthorityChangeCommitMessage').innerHTML = '<{$lang.repository_name_authority_change_error_changeNameAuthority}>';
		commonCls.displayVisible($('repository<{$id}>NameAuthorityChangeCommitMessage'));
	}
</script>
