<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_edit_tree_indexscript.html 59015 2015-10-19 13:21:48Z yuko_nakao $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{* ツリー編集関連のJavaScript一式 *}>
<script class="nc_script" type="text/javascript">
	var deleteProcess = false;
	var insertProcess = false;
	var dragProcess = false;
</script>

<{* Bugfix input scrutiny Y.Nakao 2011/06/17 --start-- *}>
<script class="nc_script" type="text/javascript">
	treePubDateCheck = function() {
		if(pub_year.value.length == 0 || pub_month.value.length == 0 || pub_day.value.length==0){
			alert('<{$lang.repository_edittree_dayerror}>');
			pub_year.value = hid_pub_year.value;
			pub_month.value = hid_pub_month.value;
			pub_day.value = hid_pub_day.value;
			return;
		}
		
		// Regular expression check
		if(pub_year.value.search(/[^0-9]+/) != -1) {
			alert('<{$lang.repository_edittree_dayerror}>');
			pub_year.value = hid_pub_year.value;
			pub_month.value = hid_pub_month.value;
			pub_day.value = hid_pub_day.value;
			return;
		}

		if(pub_year.value != "" && pub_month.value != " " && pub_day.value != " "){
			var dt = new Date(pub_year.value, pub_month.value - 1, pub_day.value);
			if(dt == null || dt.getFullYear() != pub_year.value || dt.getMonth() + 1 != pub_month.value || dt.getDate() != pub_day.value) {
				alert('<{$lang.repository_edittree_dayerror}>');
				pub_year.value = hid_pub_year.value;
				pub_month.value = hid_pub_month.value;
				pub_day.value = hid_pub_day.value;
				return;
			}
		}
	}
</script>
<{* Bugfix input scrutiny Y.Nakao 2011/06/17 --end-- *}>

<script class="nc_script" type="text/javascript">
	var idxDataAjax = null;
	var idxMetadataAjax = null;
	repositoryClickTreeSelect<{$id}> = function(id){
		// 追加・削除・ドラッグの操作中は選択NG
		if(deleteProcess || insertProcess || dragProcess) return false;
		
    	/////////// focus out /////////////
		outSelect();
		
		// おかしいIDの選択はスルー
		if(parseInt(id) < 0)
		{
			return false;
		}
		
    	// 選択したインデックスを保持
		edit_id = id;
		
		// ラベルと文字強調
		var elm_name = $('tree_nodelabel'+id);
        if(elm_name != null) { elm_name.className = "nodelabel_s_repos"; }
        var block_name = $('tree_nodeblock' + id);
		if(block_name != null) { block_name.className = "indexLineSelectTreeEdit"; }
		
		// 前回の通信を中断
		if(idxDataAjax) {
			idxDataAjax.transport.abort();
		}
		
		//ルートインデックスの場合に操作を制限する K.Miura 2017/01/30 --start--
		if(id=="0") {
	        document.getElementById("index_delete_button<{$id}>").disabled = "disabled";
	        document.getElementById("index_data_edit_menu").style.display = "none";
	        return false;
		}
		document.getElementById("index_delete_button<{$id}>").disabled = "";
		document.getElementById("index_data_edit_menu").style.display = "";
		//ルートインデックスの場合に操作を制限する K.Miura 2017/01/30 --end-
		
		var pars="";
		if('<{$smarty.session.MyPrivateTreeRootId}>' != ""){
			pars =  'action=repository_action_main_privatetree';
		} else {
			pars =  'action=repository_action_edit_tree';
		}
		pars += '&edit_id='+id+
				'&page_id='+<{$page_id}>+
				'&block_id='+<{$block_id}>;
		var url = "<{$smarty.const.BASE_URL}>/index.php";	// Modify Directory specification BASE_URL K.Matsuo 2011/9/2
		idxDataAjax = new Ajax.Request(
						url,
						{
							method: 'get',
							parameters: pars, 
							onSuccess: function(req) {
								fillEditData(req.responseText);
							}
						}
					);
        // インデックス雑誌情報
        if('<{$smarty.session.MyPrivateTreeRootId}>' == ""){
			// 前回の通信を中断
			if(idxMetadataAjax) {
				idxMetadataAjax.transport.abort();
			}

            pars = 'action=repository_action_edit_treeselect' + 
                   '&edit_id=' + id +
                   '&page_id=' + <{$page_id}> +
                   '&block_id=' + <{$block_id}>;
            idxMetadataAjax = new Ajax.Request(
                              url,
                              {
                               method: 'get',
                               parameters: pars, 
                               onSuccess: function(req) {
                                  fillEditMetadata(req.responseText);
                                 }
                              }
                             );
        }
	}
</script>
<script class="nc_script" type="text/javascript">
	fillEditData = function(edit_data){
		// ルートインデックス選択時はノード編集欄を表示しない K.Miura 2017/01/30 --start--
		if(edit_id=="0") {
			$("index_delete_button<{$id}>").disabled = "disabled";
			$("index_data_edit_menu").style.display = "none";
			return false;
		}
		$("index_delete_button<{$id}>").disabled = "";
		$("index_data_edit_menu").style.display = "";
		// ルートインデックス選択時はノード編集欄を表示しない K.Miura 2017/01/30 --end--
		
		/////////// eval JSON data /////////////
		var idx_data = eval("(" + edit_data + ")");
		
		/////////// set edit data /////////////
		///// name of japanese /////
		idx_name.value = this.decodeHtmlSpecialChars(idx_data.name_jp);
		if(edit_id=="0"){
			idx_name.disabled = "true";
		} else {
			idx_name.disabled = "";
		}
		///// name of english /////
		idx_name_en.value = this.decodeHtmlSpecialChars(idx_data.name_en);
		if(edit_id=="0"){
			idx_name_en.disabled = "true";
		} else {
			idx_name_en.disabled = "";
		}
		///// comment of index /////
		idx_comment.value = this.decodeHtmlSpecialChars(idx_data.comment);
		if(edit_id=="0"){
			idx_comment.disabled = "true";
		} else {
			idx_comment.disabled = "";
		}
		///// parent_index_id /////
		pid.value = idx_data.pid;
		///// mod_date /////
		mod_date.value = idx_data.mod_date;
		///// show_order /////
		show_order.value = idx_data.show_order;
		///// public or not /////
		if(idx_data.public_state == "true"){
			pub_chk.checked = "true";
			/// open pub date space ///
			$('input_date_repos').style.display='block';
		} else {
			pub_chk.checked = "";
			/// close pub date space ///
			$('input_date_repos').style.display='none';
		}
		if(edit_id=="0"){
			pub_chk.disabled = "true";
		} else {
			pub_chk.disabled = "";
		}
		///// pub date /////
		pub_year.value = idx_data.pub_year;
		pub_month.value = idx_data.pub_month;
		pub_day.value = idx_data.pub_day;
		
		// Bugfix input scrutiny Y.Nakao 2011/06/17 --start--
		///// hidden pub date /////
		hid_pub_year.value = idx_data.pub_year;
		hid_pub_month.value = idx_data.pub_month;
		hid_pub_day.value = idx_data.pub_day;
		// Bugfix input scrutiny Y.Nakao 2011/06/17 --end--
		
		///// access OK group /////
		access_group_id.value = idx_data.access_group_id;
		if(edit_id=="0"){
			access_group_name.disabled = "true";
		} else {
			access_group_name.disabled = "";
		}
		// Add child index display more 2009/01/16 Y.Nakao --start--
		///// display more /////
		if(idx_data.has_child == "true"){
			// has child index
			if(idx_data.display_more != ""){
				display_more.checked = "true";
				$('input_display_more').style.display = "block";
				display_more_num.value = idx_data.display_more;
			} else {
				display_more.checked = "";
				$('input_display_more').style.display = "none";
				display_more_num.value = "5";
			}
			display_more.disabled = "";
			display_more_num.disabled = "";
		} else {
			// not has child index
			display_more.checked = "";
			display_more.disabled = "true";
			display_more_num.value = "5";
			display_more_num.disabled = "true";
			$('input_display_more').style.display = "none";
		}
		// Add child index display more 2009/01/16 Y.Nakao --end--
		
		// Add new items RSS icon display select 2009/07/06 A.Suzuki --start--
		if(idx_data.rss_display == "true"){
			rss_display.checked = "true";
		} else {
			rss_display.checked = "";
		}
		if(edit_id=="0"){
			rss_display.disabled = "true";
		} else {
			rss_display.disabled = "";
		}
		// Add new items RSS icon display select 2009/07/06 A.Suzuki --end--
		
		
		<{* Add tree access control list 2011/12/28 Y.Nakao --start-- *}>
		
		//------------------------------------------
		// setting Exclusive ACL role list
		//------------------------------------------
		exclusive_acl_role_id.value = idx_data.exclusive_acl_role_id;
        <{* Add tree access control list 2012/03/02 T.Koyasu -start- *}>
        exclusive_acl_user_auth_id.value = idx_data.exclusive_acl_user_auth_id;
        <{* Add tree access control list 2012/03/02 T.Koyasu -end- *}>
		
		// remove list
		var cnt = exclusive_acl_role_name.length;
		for(ii=0; ii<cnt; ii++)
		{
			var jj = exclusive_acl_role_name.length--;
			exclusive_acl_role_name.options[ jj - 1 ] = null;
		}
		
		// setting list
		var list = idx_data.exclusive_acl_role_name;
		var cnt = list.length;
		if(exclusive_acl_role_id.value!=""){
			for(ii=0; ii<cnt; ii++){
				var jj = ++exclusive_acl_role_name.length;
				if(list[ii] == '_AUTH_SYSADMIN_NAME'){
					exclusive_acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_SYSADMIN_NAME}>';
				} else if(list[ii] == '_AUTH_ADMIN_NAME'){
					exclusive_acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_ADMIN_NAME}>';
				} else if(list[ii] == '_AUTH_CHIEF_NAME'){
					exclusive_acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_CHIEF_NAME}>';
				} else if(list[ii] == '_AUTH_MODERATE_NAME'){
					exclusive_acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_MODERATE_NAME}>';
				} else if(list[ii] == '_AUTH_GENERAL_NAME'){
					exclusive_acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GENERAL_NAME}>';
				} else if(list[ii] == '_AUTH_GUEST_NAME'){
					exclusive_acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GUEST_NAME}>';
				} else if(list[ii] != '') {
					exclusive_acl_role_name.options[ jj - 1 ].innerHTML = list[ii];
				}
			}
		}
		// unlock disabled
		if(edit_id=="0"){
			exclusive_acl_role_name.disabled = "true";
		} else {
			exclusive_acl_role_name.disabled = "";
		}
		
		//------------------------------------------
		// setting ACL role list
		//------------------------------------------
		acl_role_id.value = idx_data.acl_role_id;
        <{* Add tree access control list 2012/03/02 T.Koyasu -start- *}>
        acl_user_auth_id.value = idx_data.acl_user_auth_id;
        <{* Add tree access control list 2012/03/02 T.Koyasu -end- *}>
		
		// remove list
		var cnt = acl_role_name.length;
		for(ii=0; ii<cnt; ii++)
		{
			var jj = acl_role_name.length--;
			acl_role_name.options[ jj - 1 ] = null;
		}
		
		// setting list
		var list = idx_data.acl_role_name;
		var cnt = list.length;
		if(acl_role_id.value!=""){
			for(ii=0; ii<cnt; ii++){
				var jj = ++acl_role_name.length;
                // Add tree access control list 2012/02/22 T.Koyasu -start-
				if(list[ii] == '_AUTH_SYSADMIN_NAME'){
					acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_SYSADMIN_NAME}>';
                    acl_role_name.options[ jj - 1 ].disabled = "true";
                    //acl_role_name.options[ jj - 1 ].style.color = "#000";
				} else if(list[ii] == '_AUTH_ADMIN_NAME'){
					acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_ADMIN_NAME}>';
				} else if(list[ii] == '_AUTH_CHIEF_NAME'){
					acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_CHIEF_NAME}>';
				} else if(list[ii] == '_AUTH_MODERATE_NAME'){
					acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_MODERATE_NAME}>';
				} else if(list[ii] == '_AUTH_GENERAL_NAME'){
					acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GENERAL_NAME}>';
				} else if(list[ii] == '_AUTH_GUEST_NAME'){
					acl_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GUEST_NAME}>';
                } else if(list[ii] == '管理者'){
                    acl_role_name.options[ jj - 1 ].innerHTML = list[ii];
                    acl_role_name.options[ jj - 1 ].disabled = "true";
                    //acl_role_name.options[ jj - 1 ].style.color = "#000";
				} else if(list[ii] != '') {
					acl_role_name.options[ jj - 1 ].innerHTML = list[ii];
				}
                // Add tree access control list 2012/02/22 T.Koyasu -end-
			}
		}
		// unlock disabled
		if(edit_id=="0"){
			acl_role_name.disabled = "true";
		} else {
			acl_role_name.disabled = "";
		}
		
		//------------------------------------------
		// setting Exclusive ACL group list
		//------------------------------------------
		exclusive_acl_group_id.value = idx_data.exclusive_acl_group_id;
		
		// remove list
		var cnt = exclusive_acl_group_name.length;
		for(ii=0; ii<cnt; ii++)
		{
			var jj = exclusive_acl_group_name.length--;
			exclusive_acl_group_name.options[ jj - 1 ] = null;
		}
		
		// setting list
		var list = idx_data.exclusive_acl_group_name;
		var cnt = list.length;
		if(exclusive_acl_group_id.value!=""){
			for(ii=0; ii<cnt; ii++){
				var jj = ++exclusive_acl_group_name.length;
				if(list[ii] == '_AUTH_SYSADMIN_NAME'){
					exclusive_acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_SYSADMIN_NAME}>';
				} else if(list[ii] == '_AUTH_ADMIN_NAME'){
					exclusive_acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_ADMIN_NAME}>';
				} else if(list[ii] == '_AUTH_CHIEF_NAME'){
					exclusive_acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_CHIEF_NAME}>';
				} else if(list[ii] == '_AUTH_MODERATE_NAME'){
					exclusive_acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_MODERATE_NAME}>';
				} else if(list[ii] == '_AUTH_GENERAL_NAME'){
					exclusive_acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GENERAL_NAME}>';
				} else if(list[ii] == '_AUTH_GUEST_NAME'){
					exclusive_acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GUEST_NAME}>';
				} else if(list[ii] != '') {
					exclusive_acl_group_name.options[ jj - 1 ].innerHTML = list[ii];
				}
			}
		}
		// unlock disabled
		if(edit_id=="0"){
			exclusive_acl_group_name.disabled = "true";
		} else {
			exclusive_acl_group_name.disabled = "";
		}
		
		//------------------------------------------
		// setting ACL group list
		//------------------------------------------
		acl_group_id.value = idx_data.acl_group_id;
		
		// remove list
		var cnt = acl_group_name.length;
		for(ii=0; ii<cnt; ii++)
		{
			var jj = acl_group_name.length--;
			acl_group_name.options[ jj - 1 ] = null;
		}
		
		// setting list
		var list = idx_data.acl_group_name;
		var cnt = list.length;
		if(acl_group_id.value!=""){
			for(ii=0; ii<cnt; ii++){
				var jj = ++acl_group_name.length;
				if(list[ii] == '_AUTH_SYSADMIN_NAME'){
					acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_SYSADMIN_NAME}>';
				} else if(list[ii] == '_AUTH_ADMIN_NAME'){
					acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_ADMIN_NAME}>';
				} else if(list[ii] == '_AUTH_CHIEF_NAME'){
					acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_CHIEF_NAME}>';
				} else if(list[ii] == '_AUTH_MODERATE_NAME'){
					acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_MODERATE_NAME}>';
				} else if(list[ii] == '_AUTH_GENERAL_NAME'){
					acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GENERAL_NAME}>';
				} else if(list[ii] == '_AUTH_GUEST_NAME'){
					acl_group_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GUEST_NAME}>';
				} else if(list[ii] != '') {
					acl_group_name.options[ jj - 1 ].innerHTML = list[ii];
				}
			}
		}
		// unlock disabled
		if(edit_id=="0"){
			acl_group_name.disabled = "true";
		} else {
			acl_group_name.disabled = "";
		}
		
		//------------------------------------------
		// setting ACL room authority
		//------------------------------------------
		if(idx_data.acl_room_auth_moderate == "true"){
			acl_room_auth_moderate.checked = "true";
		} else {
			acl_room_auth_moderate.checked = "";
		}
		if(idx_data.acl_room_auth_general == "true"){
			acl_room_auth_general.checked = "true";
		} else {
			acl_room_auth_general.checked = "";
		}
		if(idx_data.acl_room_auth_guest == "true"){
			acl_room_auth_guest.checked = "true";
		} else {
			acl_room_auth_guest.checked = "";
		}
		if(idx_data.acl_room_auth_logout == "true"){
			acl_room_auth_logout.checked = "true";
		} else {
			acl_room_auth_logout.checked = "";
		}
		if(edit_id=="0"){
			acl_room_auth_moderate.disabled = "true";
			acl_room_auth_general.disabled = "true";
			acl_room_auth_guest.disabled = "true";
			acl_room_auth_logout.disabled = "true";
		} else {
			acl_room_auth_moderate.disabled = "";
			acl_room_auth_general.disabled = "";
			acl_room_auth_guest.disabled = "";
			acl_room_auth_logout.disabled = "";
		}
		
		<{* Add tree access control list 2011/12/28 Y.Nakao --end-- *}>
		
		///// remove list /////
		var group = idx_data.access_group_name;
		cnt = access_group_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = access_group_name.length--;
			access_group_name.options[ jj - 1 ] = null;
		}
		if(access_group_id.value!=""){
			cnt = group.length;
			for(ii=0; ii<cnt; ii++){
				var jj = ++access_group_name.length;
				access_group_name.options[ jj - 1 ].innerHTML = group[ii];
			}
		}
		///// access NG group /////
		not_access_group_id.value = idx_data.not_access_group_id;
		if(edit_id=="0"){
			not_access_group_name.disabled = "true";
		} else {
			not_access_group_name.disabled = "";
		}
		///// remove list /////
		cnt = not_access_group_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = not_access_group_name.length--;
			not_access_group_name.options[ jj - 1 ] = null;
		}
		var group = idx_data.not_access_group_name;
		if(not_access_group_id.value!=""){
			var cnt = group.length;
			for(ii=0; ii<cnt; ii++){
				var jj = ++not_access_group_name.length;
				not_access_group_name.options[ jj - 1 ].innerHTML = group[ii];
			}
		}
		
		///// access OK authorities /////
		access_role_id.value = idx_data.access_role_id;
		if(edit_id=="0"){
			access_role_name.disabled = "true";
		} else {
			access_role_name.disabled = "";
		}
		///// remove list /////
		access_role_name.length = 0;
		var auth = idx_data.access_role_name;
		var cnt = access_role_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = access_role_name.length--;
			access_role_name.options[ jj - 1 ] = null;
		}
		if(access_role_id.value!=""){
			var cnt = auth.length;
			for(ii=0; ii<cnt; ii++){
				var jj = ++access_role_name.length;
				if(auth[ii] == '_AUTH_SYSADMIN_NAME'){
					access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_SYSADMIN_NAME}>';
				} else if(auth[ii] == '_AUTH_ADMIN_NAME'){
					access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_ADMIN_NAME}>';
				} else if(auth[ii] == '_AUTH_CHIEF_NAME'){
					access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_CHIEF_NAME}>';
				} else if(auth[ii] == '_AUTH_MODERATE_NAME'){
					access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_MODERATE_NAME}>';
				} else if(auth[ii] == '_AUTH_GENERAL_NAME'){
					access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GENERAL_NAME}>';
				} else if(auth[ii] == '_AUTH_GUEST_NAME'){
					access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GUEST_NAME}>';
				} else if(auth[ii] != '') {
					access_role_name.options[ jj - 1 ].innerHTML = auth[ii];
				}
			}
		}
		///// access NG authorities /////
		not_access_role_id.value = idx_data.not_access_role_id;
		if(edit_id=="0"){
			not_access_role_name.disabled = "true";
		} else {
			not_access_role_name.disabled = "";
		}
		///// remove list /////
		var cnt = not_access_role_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = not_access_role_name.length--;
			not_access_role_name.options[ jj - 1 ] = null;
		}
		var auth = idx_data.not_access_role_name;
		if(not_access_role_id.value!=""){
			var cnt = auth.length;
			for(ii=0; ii<cnt; ii++){
				var jj = ++not_access_role_name.length;
				if(auth[ii] == '_AUTH_SYSADMIN_NAME'){
					not_access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_SYSADMIN_NAME}>';
				} else if(auth[ii] == '_AUTH_ADMIN_NAME'){
					not_access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_ADMIN_NAME}>';
				} else if(auth[ii] == '_AUTH_CHIEF_NAME'){
					not_access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_CHIEF_NAME}>';
				} else if(auth[ii] == '_AUTH_MODERATE_NAME'){
					not_access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_MODERATE_NAME}>';
				} else if(auth[ii] == '_AUTH_GENERAL_NAME'){
					not_access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GENERAL_NAME}>';
				} else if(auth[ii] == '_AUTH_GUEST_NAME'){
					not_access_role_name.options[ jj - 1 ].innerHTML = '<{$smarty.const._AUTH_GUEST_NAME}>';
				} else if(auth[ii] != '') {
					not_access_role_name.options[ jj - 1 ].innerHTML = auth[ii];
				}
			}
		}
		
		<{* Add tree access control list 2011/12/28 Y.Nakao --start-- *}>
		///// move group button /////
		if(edit_id=="0"){
			add_group.disabled = "true";
			del_group.disabled = "true";
			acl_add_group_btn.disabled = "true";
			acl_del_group_btn.disabled = "true";
		} else {
			add_group.disabled = "";
			del_group.disabled = "";
			acl_add_group_btn.disabled = "";
			acl_del_group_btn.disabled = "";
		}
		///// move auth button /////
		if(edit_id=="0"){
			add_auth.disabled = "true";
			del_auth.disabled = "true";
			acl_add_auth_btn.disabled = "true";
			acl_del_auth_btn.disabled = "true";
		} else {
			add_auth.disabled = "";
			del_auth.disabled = "";
			acl_add_auth_btn.disabled = "";
			acl_del_auth_btn.disabled = "";
		}
		<{* Add tree access control list 2011/12/28 Y.Nakao --end-- *}>
		
		///// send alert and button view /////
		if(edit_id=="0"){
			send_alert.style.display = 'none';
			send_button.disabled = "true";
		} else {
			send_alert.style.display = 'block';
			send_button.disabled = "";
		}
		
        // Add config management authority 2010/02/23 Y.Nakao --start--
        ///// room authority /////
        if(idx_data.room_auth_moderate == "true"){
            room_auth_moderate.checked = "true";
        } else {
            room_auth_moderate.checked = "";
        }
        if(idx_data.room_auth_general == "true"){
            room_auth_general.checked = "true";
        } else {
            room_auth_general.checked = "";
        }
        if(edit_id=="0"){
            room_auth_moderate.disabled = "true";
            room_auth_general.disabled = "true";
        } else {
            room_auth_moderate.disabled = "";
            room_auth_general.disabled = "";
        }
        // Add config management authority 2010/02/23 Y.Nakao --end--

		// Add OpenSearch URI 2010/05/10 A.Suzuki --start--
		opensearch_uri.value = idx_data.opensearch_uri;
		opensearch_uri.disabled = "";
		// Add OpenSearch URI 2010/05/10 A.Suzuki --end--
		
		// Add contents page 2010/07/02 Y.Nakao --start--
		if(edit_id == "0"){
			display_type_0.disabled = "true";
			display_type_1.disabled = "true";
		} else {
			display_type_0.disabled = "";
			display_type_1.disabled = "";
			if(idx_data.display_type == "1"){
				display_type_0.checked = "";
				display_type_1.checked = "true";
			} else {
				display_type_0.checked = "true";
				display_type_1.checked = "";
			}
		}
		// Add contents page 2010/07/02 Y.Nakao --end--
		// Add index list 2011/04/6 S.Abe --start--
		///// display index list name /////
		select_index_list_name.value = this.decodeHtmlSpecialChars(idx_data.select_index_list_name);
		select_index_list_name_english.value = this.decodeHtmlSpecialChars(idx_data.select_index_list_name_english);
		if(idx_data.select_index_list_display == 1) {
		    select_index_list_display_0.disabled = "";
		    select_index_list_display_0.checked = true;
		    select_index_list_display_1.checked = false;
		    select_index_list_display_1.disabled = "";
		    select_index_list_name.disabled = false;
		    select_index_list_name_english.disabled = false;  
		}else{
		    select_index_list_display_0.checked = false;
		    select_index_list_display_0.disabled = "";
            select_index_list_display_1.checked = true;
            select_index_list_display_1.disabled = "";
            select_index_list_name.disabled = true;
            select_index_list_name.value = "";
            select_index_list_name_english.disabled = true;
            select_index_list_name_english.value = "";
		}
		// Add index list 2011/04/6 S.Abe --end--
		// Add index thumbnail 2010/08/20 Y.Nakao --start--
		if(idx_data.thumbnail == "true"){
			thumbnail_disp.src = "<{$smarty.const.BASE_URL}>/?action=repository_action_common_download&index_id="+edit_id;	// Modify Directory specification BASE_URL K.Matsuo 2011/9/2
			thumbnail_disp.onload = function(){
				// get image size
				var w = thumbnail_disp.width;
				var h = thumbnail_disp.height;
				// get original image size
				if (thumbnail_disp.naturalWidth != null && thumbnail_disp.naturalWidth != 'undefined' ) {
					// for Firefox, Safari, Chrome
					w = thumbnail_disp.naturalWidth;
					h = thumbnail_disp.naturalHeight;
				} else if (thumbnail_disp.runtimeStyle != null && thumbnail_disp.runtimeStyle !== 'undefined' ) {
					// for IE
					w = thumbnail_disp.width;
					h = thumbnail_disp.height;
				} else {
					// for Opera
					thumbnail_disp.removeAttribute("width");
					thumbnail_disp.removeAttribute("height");
					w = thumbnail_disp.width;
					h = thumbnail_disp.height;
				}
				// image resize
				if(h < w){
					if(w>280){
						thumbnail_disp.height=280*h/w;
						thumbnail_disp.width=280;
					}
				} else {
					if(h>200){
						thumbnail_disp.width=200*w/h;
						thumbnail_disp.height=200;
					}
				}
				thumbnail_input.style.display = "none";
				thumbnail_edit.style.display = "block";
			}
		} else {
			thumbnail_edit.style.display = 'none';
			thumbnail_input.style.display = 'block';
			thumbnail_file.disabled = "";
			thumbnail_disp.src = "";
			thumbnail_disp.width="";
			thumbnail_disp.height="";
		}
		// Add index thumbnail 2010/08/20 Y.Nakao --end--

        // Add PDF cover page setting 2013/01/29 A.Suzuki --start--
        if(idx_data.create_cover_flag == "true"){
            create_cover_flag.checked = "true";
        } else {
            create_cover_flag.checked = "";
        }
        if(edit_id=="0"){
            create_cover_flag.disabled = "true";
        } else {
            create_cover_flag.disabled = "";
        }
        // Add PDF cover page setting 2013/01/29 A.Suzuki --end--
        // Add harvest public flag 2013/07/04 K.Matsuo --start--
        if(idx_data.harvest_public_state == "true"){
            harvest_public_state.checked = "true";
        } else {
            harvest_public_state.checked = "";
        }
        if(edit_id=="0"){
            harvest_public_state.disabled = "true";
        } else {
            harvest_public_state.disabled = "";
        }
        // Add harvest public flag 2013/07/04 K.Matsuo --end--
        // Add privatetree check 2013/04/19 K.Matsuo --start--
        if(idx_data.owner_user_id == ""){
        	showHideTreeAccessControl(true);
        } else {
        	showHideTreeAccessControl(false);
        }
        // Add privatetree check 2013/04/19 K.Matsuo --end--
        // Add issn and biblio flag 2014/04/16 --start--
        if(edit_id=="0" || idx_data.disable_biblio_flag == "true"){
            online_issn.disabled = "true";
            biblio_flag.disabled = "true";
        } else {
            online_issn.disabled = "";
            biblio_flag.disabled = "";
        }
        if(idx_data.online_issn != "" && idx_data.online_issn != null){
            online_issn.value = idx_data.online_issn;
        } else {
            online_issn.value = "";
        }
        if(idx_data.biblio_flag == "1"){
            biblio_flag.checked = "true";
        } else {
            biblio_flag.checked = "";
        }
        // Add issn and biblio flag 2014/04/16 --end--
        
        // Add recursively uppdate flag 2015/01/21 S.Suzuki --start--
        if(edit_id == "0"){
            pubdate_recursive.disabled = "true";
            pubdate_recursive.checked = false;
            create_cover_recursive.disabled = "true";
            create_cover_recursive.checked = false;
            aclRoleIds_recursive.disabled = "true";
            aclRoleIds_recursive.checked = false;
            aclRoomAuth_recursive.disabled = "true";
            aclRoomAuth_recursive.checked = false;
            aclGroupIds_recursive.disabled = "true";
            aclGroupIds_recursive.checked = false;
        }
        else {
            pubdate_recursive.disabled = "";
            pubdate_recursive.checked = "";
            create_cover_recursive.disabled = "";
            create_cover_recursive.checked = "";
            aclRoleIds_recursive.disabled = "";
            aclRoleIds_recursive.checked = "";
            aclRoomAuth_recursive.disabled = "";
            aclRoomAuth_recursive.checked = "";
            aclGroupIds_recursive.disabled = "";
            aclGroupIds_recursive.checked = "";
        }
        // Add recursively uppdate flag 2015/01/21 S.Suzuki --end--
	}
</script>

<{* make index tree 2008/12/04 Y.Nakao --end-- *}>

<script class="nc_script" type="text/javascript">
	fillEditMetadata = function(edit_metadata){
		/////////// eval JSON data /////////////
		var idx_metadata = eval("(" + edit_metadata + ")");
		
		if (idx_metadata.KBART2.journal_info[0] == 0)
		{
			journal_info[0].click();
		}
		else if (idx_metadata.KBART2.journal_info[0] == 1)
		{
			journal_info[1].click();
		}

		var disableFlag = "";
		if(edit_id == "0") {
			disableFlag = "true";
		}
		
		<{section name=i loop=$action.metadata}>
			<{assign var="metadata" value=$action.metadata}>
			/////////// set edit data /////////////
			<{if $metadata[i].input_type == "text"}>
				index_attr_<{$metadata[i].attribute_id}>.value = this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0]);
				index_attr_<{$metadata[i].attribute_id}>.disabled = disableFlag;
			<{elseif $metadata[i].input_type == "date"}>
				index_attr_<{$metadata[i].attribute_id}>_year.value = this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].year);
				index_attr_<{$metadata[i].attribute_id}>_year.disabled = disableFlag;
				index_attr_<{$metadata[i].attribute_id}>_month.value = this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].month);
				index_attr_<{$metadata[i].attribute_id}>_month.disabled = disableFlag;
				index_attr_<{$metadata[i].attribute_id}>_day.value = this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].day);
				index_attr_<{$metadata[i].attribute_id}>_day.disabled = disableFlag;
				// DateStr
				index_attr_<{$metadata[i].attribute_id}>.value = "";
				if(this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].year) != "") {
					index_attr_<{$metadata[i].attribute_id}>.value += this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].year);
					if(this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].month) != "") {
					    index_attr_<{$metadata[i].attribute_id}>.value += "-" + this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].month);
					    if(this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].day) != "") {
					        index_attr_<{$metadata[i].attribute_id}>.value += "-" + this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0].day);
					    }
					}
				}
			<{elseif $metadata[i].input_type == "select"}>
				var selects = index_attr_<{$metadata[i].attribute_id}>;
				selects.options[0].selected = true;
				for(var ii=0; ii < selects.options.length; ii++) {
					if(selects.options[ii].value == this.decodeHtmlSpecialChars(idx_metadata.KBART2.attr_<{$metadata[i].attribute_id}>[0])) {
						selects.options[ii].selected = true;
					}
				}
				index_attr_<{$metadata[i].attribute_id}>.disabled = disableFlag;
			<{/if}>
		<{/section}>
	}
</script>

<{* set access group 2008/12/09 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
	addAccessGroup = function(){
		if(not_access_group_name.selectedIndex != -1){
			var access_group_id_txt = access_group_id.value.split(",");
			var not_access_group_id_txt = not_access_group_id.value.split(",");
			var cnt = not_access_group_name.length
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = not_access_group_name.options[ii];
				if (elm.selected) {
					var jj = ++access_group_name.length;
					access_group_name.options[ jj-1 ].innerHTML = elm.text;
					not_access_group_name.options[ii] = null;
					access_group_id_txt.push(not_access_group_id_txt[ii]);
					not_access_group_id_txt.splice(ii,1);
				}
			}
			if(access_group_id.value == ""){
				access_group_id.value = access_group_id_txt.toString().substring(1);
			} else {
				access_group_id.value = access_group_id_txt.toString();
			}
			if(not_access_group_id.value == ""){
				not_access_group_id.value = not_access_group_id_txt.toString().substring(1);
			} else {
				not_access_group_id.value = not_access_group_id_txt.toString();
			}
		}
	}
</script>

<script class="nc_script" type="text/javascript">
	delAccessGroup = function(){
		if(access_group_name.selectedIndex != -1){
			var access_group_id_txt = access_group_id.value.split(",");
			var not_access_group_id_txt = not_access_group_id.value.split(",");
			var cnt = access_group_name.length;
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = access_group_name.options[ii];
				if (elm.selected) {
					var jj = ++not_access_group_name.length;
					not_access_group_name.options[ jj-1 ].innerHTML = elm.text;
					access_group_name.options[ii] = null;
					not_access_group_id_txt.push(access_group_id_txt[ii]);
					access_group_id_txt.splice(ii,1);
				}
			}
			if(access_group_id.value == ""){
				access_group_id.value = access_group_id_txt.toString().substring(1);
			} else {
				access_group_id.value = access_group_id_txt.toString();
			}
			if(not_access_group_id.value == ""){
				not_access_group_id.value = not_access_group_id_txt.toString().substring(1);
			} else {
				not_access_group_id.value = not_access_group_id_txt.toString();
			}
		}
	}
</script>
<{* set access group 2008/12/09 Y.Nakao --end-- *}>

<{* set access auth 2008/12/22 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
	addAccessAuth = function(){
		if(not_access_role_name.selectedIndex != -1){
			var access_role_id_txt = access_role_id.value.split(",");
			var not_access_role_id_txt = not_access_role_id.value.split(",");
			var cnt = not_access_role_name.length
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = not_access_role_name.options[ii];
				if (elm.selected) {
					var jj = ++access_role_name.length;
					access_role_name.options[ jj-1 ].innerHTML = elm.text;
					not_access_role_name.options[ii] = null;
					access_role_id_txt.push(not_access_role_id_txt[ii]);
					not_access_role_id_txt.splice(ii,1);
				}
			}
			if(access_role_id.value == ""){
				access_role_id.value = access_role_id_txt.toString().substring(1);
			} else {
				access_role_id.value = access_role_id_txt.toString();
			}
			if(not_access_role_id.value == ""){
				not_access_role_id.value = not_access_role_id_txt.toString().substring(1);
			} else {
				not_access_role_id.value = not_access_role_id_txt.toString();
			}
		}
	}
</script>

<script class="nc_script" type="text/javascript">
	delAccessAuth = function(){
		if(access_role_name.selectedIndex != -1){
			var access_role_id_txt = access_role_id.value.split(",");
			var not_access_role_id_txt = not_access_role_id.value.split(",");
			var cnt = access_role_name.length;
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = access_role_name.options[ii];
				if (elm.selected) {
					var jj = ++not_access_role_name.length;
					not_access_role_name.options[ jj-1 ].innerHTML = elm.text;
					access_role_name.options[ii] = null;
					not_access_role_id_txt.push(access_role_id_txt[ii]);
					access_role_id_txt.splice(ii,1);
				}
			}
			if(access_role_id.value == ""){
				access_role_id.value = access_role_id_txt.toString().substring(1);
			} else {
				access_role_id.value = access_role_id_txt.toString();
			}
			if(not_access_role_id.value == ""){
				not_access_role_id.value = not_access_role_id_txt.toString().substring(1);
			} else {
				not_access_role_id.value = not_access_role_id_txt.toString();
			}
		}
	}
</script>
<{* set access auth 2008/12/22 Y.Nakao --end-- *}>

<{* make new index and del index 2008/12/09 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
	insertNode = function(){
		
		// 不正なedit_idは無視する
		if(edit_id === "" || edit_id < 0) {
			return false;
		}
		
		// // 前回の追加中はあらたな追加リクエストは受け付けない
		if(insertProcess) return false;
		insertProcess = true;
		
		var pars="";
		if('<{$smarty.session.MyPrivateTreeRootId}>' != ""){
			pars =  'action=repository_action_main_privatetree';
		} else {
			pars =  'action=repository_action_edit_tree';
		}
		pars +=	'&edit_mode=insert'+
				'&edit_id='+encodeURIComponent(edit_id)+
				'&name_jp='+encodeURIComponent(idx_name.value)+
				'&name_en='+encodeURIComponent(idx_name_en.value)+
				'&comment='+encodeURIComponent(idx_comment.value)+
				'&pid='+encodeURIComponent(pid.value)+
				'&mod_date='+encodeURIComponent(mod_date.value)+
				'&show_order='+encodeURIComponent(show_order.value)+
				'&pub_chk='+encodeURIComponent(pub_chk.checked)+
				'&pub_year='+encodeURIComponent(pub_year.value)+
				'&pub_month='+encodeURIComponent(pub_month.value)+
				'&pub_day='+encodeURIComponent(pub_day.value)+
				'&access_group_ids='+encodeURIComponent(access_group_id.value)+
				'&not_access_group_ids='+encodeURIComponent(not_access_group_id.value)+
				'&access_role_ids='+encodeURIComponent(access_role_id.value)+
				'&not_access_role_ids='+encodeURIComponent(not_access_role_id.value)+
				'&page_id='+<{$page_id}>+
				'&block_id='+<{$block_id}>;
		var url = "<{$smarty.const.BASE_URL}>/index.php";	// Modify Directory specification BASE_URL K.Matsuo 2011/9/2
		var myAjax = new Ajax.Request(
						url,
						{
							method: 'get',
							parameters: pars, 
							asynchronous:false,
							onFailure : function(){
								insertProcess = false;
							},
							onSuccess: function(req) {
								var idx_data = eval("(" + req.responseText + ")");
								if('<{$smarty.session.MyPrivateTreeRootId}>' == ""){
									repositoryAddTree<{$id}>(idx_data.pid, 'tree_node'+idx_data.pid, 'edit', idx_data.id);
								} else {
									repositoryAddTree<{$id}>(idx_data.pid, 'tree_node'+idx_data.pid, 'editPrivatetree', idx_data.id);
								}
							}
						}
					);
	}
</script>

<script class="nc_script" type="text/javascript">
    repositoryAddTree<{$id}> = function(idx_id, elm_name, sel_mode, sel_index){
		var pars="";
		pars += 'action=repository_action_main_tree';
		pars += '&edit_id='+idx_id;
		pars += '&sel_mode='+sel_mode;
		var url = "<{$smarty.const.BASE_URL}>/index.php";	// Modify Directory specification BASE_URL K.Matsuo 2011/9/2
		var myAjax = new Ajax.Request(
						url,
						{
							method: 'post',
							postBody: pars,
							asynchronous:false,
							onFailure : function(){
								insertProcess = false;
							},
							onSuccess: function(req) {
								$(elm_name).innerHTML = req.responseText;
								insertProcess = false;
								repositoryClickTreeSelect<{$id}>(sel_index);
							}
						}
					);
	}
</script>

<script class="nc_script" type="text/javascript">
	deleteNodeConfirm = function(event){
		// 不正なedit_idおよびルートインデックスは無視する
		if(edit_id === "" || edit_id <= 0) {
			return false;
		}
		
		// 前回の削除中はあらたな削除リクエストは受け付けない
		if(deleteProcess) return false;
		deleteProcess = true;
		
		// プライベートツリーは削除できない
		if('<{$smarty.session.MyPrivateTreeRootId}>' != ""){
			if(edit_id == '<{$smarty.session.MyPrivateTreeRootId}>' || edit_id ==""){
				alert("<{$lang.repository_privatetree_root_delete}>");
				return;
			}
		}
		
		var pars="";
		if('<{$smarty.session.MyPrivateTreeRootId}>' != ""){
			pars =  'action=repository_action_main_privatetree';
		} else {
			pars =  'action=repository_action_edit_tree';
		}
		pars +=  '&edit_mode=delete'+
				'&edit_id='+encodeURIComponent(edit_id)+
				'&name_jp='+encodeURIComponent(idx_name.value)+
				'&name_en='+encodeURIComponent(idx_name_en.value)+
				'&comment='+encodeURIComponent(idx_comment.value)+
				'&pid='+encodeURIComponent(pid.value)+
				'&mod_date='+encodeURIComponent(mod_date.value)+
				'&show_order='+encodeURIComponent(show_order.value)+
				'&pub_chk='+encodeURIComponent(pub_chk.checked)+
				'&pub_year='+encodeURIComponent(pub_year.value)+
				'&pub_month='+encodeURIComponent(pub_month.value)+
				'&pub_day='+encodeURIComponent(pub_day.value)+
				'&access_group_ids='+encodeURIComponent(access_group_id.value)+
				'&not_access_group_ids='+encodeURIComponent(not_access_group_id.value)+
				'&access_role_ids='+encodeURIComponent(access_role_id.value)+
				'&not_access_role_ids='+encodeURIComponent(not_access_role_id.value)+
				'&block_id='+<{$block_id}>;
		var url = "<{$smarty.const.BASE_URL}>/index.php";	// Modify Directory specification BASE_URL K.Matsuo 2011/9/2
		var myAjax = new Ajax.Request(
						url,
						{
							method: 'get',
							parameters: pars, 
							asynchronous:false,
							onFailure : function(){
								deleteProcess = false;
							},
							onSuccess: function(req) {
								// eval JSON data
								var idx_data = eval("(" + req.responseText + ")");
								if(idx_data.del_flg=="true"){
									if('<{$smarty.session.MyPrivateTreeRootId}>' == ""){
										repositoryUpdateTree<{$id}>(idx_data.pid, 'tree_node'+idx_data.pid, 'edit', idx_data.sel_index);
									} else {
										repositoryUpdateTree<{$id}>(idx_data.pid, 'tree_node'+idx_data.pid, 'editPrivatetree', '<{$smarty.session.MyPrivateTreeRootId}>');
									}
                                } else if(idx_data.exist_doi == "true") {
                                    commonCls.alert("<{$lang.repository_edittree_exist_doi_error_delete}>");
                                    deleteProcess = false;
								} else {
									deleteProcess = false;
									repositoryCls['<{$id}>'].repositoryIndexDeleteConfirm(idx_data.pid, idx_data.id, encodeURIComponent(idx_data.name), event);
								}
							}
						}
					);
	}
</script>
<script class="nc_script" type="text/javascript">
	repositoryUpdateTree<{$id}> = function(idx_id, elm_name, sel_mode, sel_index){
		var pars="";
		pars += 'action=repository_action_main_tree';
		pars += '&edit_id='+idx_id;
		pars += '&sel_mode='+sel_mode;
		var url = "<{$smarty.const.BASE_URL}>/index.php";	// Modify Directory specification BASE_URL K.Matsuo 2011/9/2
		var myAjax = new Ajax.Request(
						url,
						{
							method: 'post',
							postBody: pars,
							asynchronous:false,
							onFailure : function(){
								deleteProcess = false;
							},
							onSuccess: function(req) {
								$(elm_name).innerHTML = req.responseText;
								deleteProcess = false;
								repositoryClickTreeSelect<{$id}>(sel_index);
							}
						}
					);
	}
</script>
<script class="nc_script" type="text/javascript">
	outSelect = function(){
		/////////// remove focus /////////////
		if(edit_id !== ""){
			var elm_name = $('tree_nodelabel'+edit_id);
			if(elm_name != null) { elm_name.className = "nodelabel_repos"; }
			
			var block_name = $('tree_nodeblock'+edit_id);
			if(block_name != null) { $('tree_nodeblock'+edit_id).className = "indexLine"; }
		}
		edit_id = "";
		/////////// remove edit data /////////////
		/// name of japanese ///
		idx_name.value = "";
		idx_name.disabled = "true";
		/// name of english ///
		idx_name_en.value = "";
		idx_name_en.disabled = "true";
		/// comment of index ///
		idx_comment.value = "";
		idx_comment.disabled = "true";
		/// parent index id ///
		pid.value = "";
		/// mod date ///
		mod_date.value = "";
		/// show order ///
		show_order.value = "";
		/// public or not ///
		pub_chk.checked = "";
		/// open pub date space ///
		$('input_date_repos').style.display='none';
		pub_chk.disabled = "true";
		/// pub date ///
		pub_year.value = "";
		pub_month.value = "";
		pub_day.value = "";
		// Bugfix input scrutiny Y.Nakao 2011/06/17 --start--
		/// hidden pub date ///
		hid_pub_year.value = "";
		hid_pub_month.value = "";
		hid_pub_day.value = "";
		// Bugfix input scrutiny Y.Nakao 2011/06/17 --end--
		
		/// access OK group ///
		var cnt = access_group_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = access_group_name.length--;
			access_group_name.options[ jj - 1 ] = null;
		}
		access_group_name.disabled = "true";
		access_group_id.value = "";
		/// access NG group ///
		var cnt = not_access_group_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = not_access_group_name.length--;
			not_access_group_name.options[ jj - 1 ] = null;
		}
		not_access_group_name.disabled = "true";
		not_access_group_id.value = "";
		/// move group button ///
		add_group.disabled = "true";
		del_group.disabled = "true";
		/// access OK authorities ///
		var cnt = access_role_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = access_role_name.length--;
			access_role_name.options[ jj - 1 ] = null;
		}
		access_role_name.disabled = "true";
		access_role_id.value = "";
		/// access NG group ///
		var cnt = not_access_role_name.length;
		for(ii=0; ii<cnt; ii++){
			var jj = not_access_role_name.length--;
			not_access_role_name.options[ jj - 1 ] = null;
		}
		not_access_role_name.disabled = "true";
		not_access_role_id.value = "";
		/// move group button ///
		add_auth.disabled = "true";
		del_auth.disabled = "true";
		///// send alert and button view /////
		send_alert.style.display = 'none';
		send_button.disabled = "true";
		// RSS display
		rss_display.checked = "";
		rss_display.disabled = "true";
		// OpenSearch URI
		opensearch_uri.value = "";
		opensearch_uri.disabled = "true";
		
        // Add tree access control list 2012/02/22 T.Koyasu -start-
        // no disabled tag, when deletes node
        // search result display type
        display_type_0.disabled = "true";
        display_type_1.disabled = "true";
        // index list
        select_index_list_display_0.disabled = "true";
        select_index_list_display_1.disabled = "true";
        select_index_list_name.value = "";
        select_index_list_name.disabled = "true";
        select_index_list_name_english.value = "";
        select_index_list_name_english.disabled = "true";
        // thumbnail
        thumbnail_file.disabled = "true";
        thumbnail_file.value = "";
        thumbnail_edit.style.display = "none";
        thumbnail_del = 0;
        thumbnail_input.style.display = 'block';
        thumbnail_file.disabled = "";
        thumbnail_disp.src = "";
        thumbnail_disp.width = "";
        thumbnail_disp.height= "";
        // insert groups(room authorities)
        room_auth_moderate.disabled = "true";
        room_auth_moderate.checked = false;
        room_auth_general.disabled = "true";
        room_auth_general.checked = false;
        
        // tree access control //
        // base authority
        exclusive_acl_role_name.disabled = "true";
        cnt = exclusive_acl_role_name.length;
        for(ii=0; ii<cnt; ii++){
            jj = exclusive_acl_role_name.length--;
            exclusive_acl_role_name.options[ jj - 1 ] = null;
        }
        exclusive_acl_role_id.value = "";
        
        acl_add_auth_btn.disabled = "true";
        acl_del_auth_btn.disabled = "true";
        
        acl_role_name.disabled = "true";
        cnt = acl_role_name.length;
        for(ii=0; ii<cnt; ii++){
            jj = acl_role_name.length--;
            acl_role_name.options[ jj - 1 ] = null;
        }
        acl_role_id.value = "";
        
        // group
        exclusive_acl_group_name.disabled = "true";
        cnt = exclusive_acl_group_name.length;
        for(ii=0; ii<cnt; ii++){
            jj = exclusive_acl_group_name.length--;
            exclusive_acl_group_name.options[ jj - 1 ] = null;
        }
        exclusive_acl_group_id.value = "";
        acl_add_group_btn.disabled = "true";
        acl_del_group_btn.disabled = "true";
        acl_group_name.disabled = "true";
        cnt = acl_group_name.length;
        for(ii=0; ii<cnt; ii++){
            jj = acl_group_name.length--;
            acl_group_name.options[ jj - 1 ] = null;
        }
        acl_group_id.value = "";
        
        // room authority
        acl_room_auth_moderate.disabled = "true";
        acl_room_auth_moderate.checked = false;
        acl_room_auth_general.disabled = "true";
        acl_room_auth_general.checked = false;
        acl_room_auth_guest.disabled = "true";
        acl_room_auth_guest.checked = false;
        acl_room_auth_logout.disabled = "true";
        acl_room_auth_logout.checked = false;
        // Add tree access control list 2012/02/22 T.Koyasu -end-
        
        // Add bug fix 2013/12/14 K.Matsuo -start-
        $('input_display_more').style.display = "none";
        display_more_num.value = "5";
        display_more.disabled = "true";
        display_more.checked = false;
        create_cover_flag.disabled = "true";
        create_cover_flag.checked = false;
        harvest_public_state.disabled = "true";
        harvest_public_state.checked = false;
        // Add bug fix 2013/12/14 K.Matsuo -end-
        // Add issn and biblio flag 2014/04/16 T.Ichikawa --start--
        online_issn.value = "";
        biblio_flag.checked = "";
        online_issn.disabled = "true";
        biblio_flag.disabled = "true";
        // Add issn and biblio flag 2014/04/16 T.Ichikawa --end--
        
        // Add recursively uppdate flag 2015/01/21 S.Suzuki --start--
        pubdate_recursive.checked = false;
        pubdate_recursive.disabled = "true";
        create_cover_recursive.checked = false;
        create_cover_recursive.disabled = "true";
        aclRoleIds_recursive.checked = false;
        aclRoleIds_recursive.disabled = "true";
        aclRoomAuth_recursive.checked = false;
        aclRoomAuth_recursive.disabled = "true";
        aclGroupIds_recursive.checked = false;
        aclGroupIds_recursive.disabled = "true";
        // Add recursively uppdate flag 2015/01/21 S.Suzuki --end--
        
        if('<{$smarty.session.MyPrivateTreeRootId}>' == ""){
		    journal_info[0].click();
		}
		<{section name=i loop=$action.metadata}>
			<{assign var="metadata" value=$action.metadata}>
			<{if $metadata[i].input_type == "text"}>
				index_attr_<{$metadata[i].attribute_id}>.value = "";
				index_attr_<{$metadata[i].attribute_id}>.disabled = "true";
			<{elseif $metadata[i].input_type == "date"}>
				index_attr_<{$metadata[i].attribute_id}>_year.value = "";
				index_attr_<{$metadata[i].attribute_id}>_year.disabled = "true";
				index_attr_<{$metadata[i].attribute_id}>_month.selectedIndex = 0;
				index_attr_<{$metadata[i].attribute_id}>_month.disabled = "true";
				index_attr_<{$metadata[i].attribute_id}>_day.selectedIndex = 0;
				index_attr_<{$metadata[i].attribute_id}>_day.disabled = "true";
				index_attr_<{$metadata[i].attribute_id}>.value = "";
			<{elseif $metadata[i].input_type == "select"}>
				index_attr_<{$metadata[i].attribute_id}>.selectedIndex = 0;
				index_attr_<{$metadata[i].attribute_id}>.disabled = "true";
			<{/if}>
		<{/section}>

	}
</script>
<{* make new index and del index 2008/12/09 Y.Nakao --end-- *}>

<{* update edit tree info to DB 2008/12/12 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">

    submitEditTree = function () {
        if (display_more.checked == true) {
            if (parseInt(display_more_num.value) == 0 || display_more_num.value == '') {
				alert('<{$lang.repository_edittree_error_display_more}>');
				return;
			}
		}

		// Add not make tag use K.Matsuo 2011/09/08 --start--
		var name_jp = idx_name.value.replace("<", "");
		name_jp = name_jp.replace(">", "");
		var name_en = idx_name_en.value.replace("<", "");
		name_en = name_en.replace(">", "");
		var name_comment = idx_comment.value.replace("<", "");
		name_comment = name_comment.replace(">", "");
		// Add not make tag use K.Matsuo 2011/09/08 --end--
        var pars = '&edit_mode=update' +
					'&edit_id=' + encodeURIComponent(edit_id) +
					// Modify not make tag use K.Matsuo 2011/09/08 --start--
					'&name_jp=' + encodeURIComponent(name_jp) +
					'&name_en=' + encodeURIComponent(name_en) +
					'&comment=' + encodeURIComponent(name_comment) +
					// Modify not make tag use K.Matsuo 2011/09/08 --endt--
					'&pid=' + encodeURIComponent(pid.value) +
					'&mod_date=' + encodeURIComponent(mod_date.value) +
					'&show_order=' + encodeURIComponent(show_order.value) +
					'&pub_chk=' + encodeURIComponent(pub_chk.checked) +
					'&pub_year=' + encodeURIComponent(pub_year.value) +
					'&pub_month=' + encodeURIComponent(pub_month.value) +
					'&pub_day=' + encodeURIComponent(pub_day.value) +
					'&display_more=' + encodeURIComponent(display_more.checked) +
					'&display_more_num=' + encodeURIComponent(display_more_num.value) +
					'&access_group_ids=' + encodeURIComponent(access_group_id.value) +
					'&not_access_group_ids=' + encodeURIComponent(not_access_group_id.value) +
					'&access_role_ids=' + encodeURIComponent(access_role_id.value) +
					'&not_access_role_ids=' + encodeURIComponent(not_access_role_id.value) +
					'&rss_display=' + encodeURIComponent(rss_display.checked);
		// Add config management authority 2010/02/23 Y.Nakao --start--
        if (room_auth_general.checked) {
			pars += '&access_role_room=<{$smarty.const._AUTH_GENERAL}>';
        } else if (room_auth_moderate.checked) {
			pars += '&access_role_room=<{$smarty.const._AUTH_MODERATE}>';
		} else {
			pars += '&access_role_room=<{$smarty.const._AUTH_CHIEF}>';
		}
		// Add config management authority 2010/02/23 Y.Nakao --end--
        // Add tree access control list 2012/02/22 T.Koyasu -start-
        // room authority
        if (acl_room_auth_logout.checked) {
            pars += '&exclusiveAclRoomAuth=-1';
        } else if (acl_room_auth_guest.checked) {
            pars += '&exclusiveAclRoomAuth=<{$smarty.const._AUTH_OTHER}>';
        } else if (acl_room_auth_general.checked) {
            pars += '&exclusiveAclRoomAuth=<{$smarty.const._AUTH_GUEST}>';
        } else if (acl_room_auth_moderate.checked) {
            pars += '&exclusiveAclRoomAuth=<{$smarty.const._AUTH_GENERAL}>';
        } else {
            pars += '&exclusiveAclRoomAuth=<{$smarty.const._AUTH_MODERATE}>'
        }
        // base authority
        var exclusive_acl_user_auth_id_txt = exclusive_acl_user_auth_id.value.split(',');
        var maxUserAuthId = '';
        for (ii = 0; ii < exclusive_acl_user_auth_id_txt.length; ii++) {
            if (exclusive_acl_user_auth_id_txt[ii] > maxUserAuthId) {
                maxUserAuthId = exclusive_acl_user_auth_id_txt[ii];
            }
        }
        pars += '&exclusiveAclRoleIds=' + encodeURIComponent(maxUserAuthId);
        // group
        pars += '&exclusiveAclGroupIds=' + encodeURIComponent(exclusive_acl_group_id.value);

        // Add tree access control list 2012/02/22 T.Koyasu -end-
		// Add contents page Y.Nakao --start--
        if (display_type_0.checked) {
			pars += '&display_type=0';
		} else {
			pars += '&display_type=1';
		}
		// Add contents page Y.Nakao --end--
		// Add index list 2011/04/6 S.Abe --start--
        if (select_index_list_display_0.checked) {
		    pars += '&select_index_list_display=1';
        } else {
		    pars += '&select_index_list_display=0';
		}
        // Add issn and biblio flag 2014/04/16 T.Ichikawa --start--
        pars += '&online_issn=' + encodeURIComponent(online_issn.value);
        if(biblio_flag.checked) {
            pars += '&biblio_flag=1';
        } else {
            pars += '&biblio_flag=0';
        }
        // Add issn and biblio flag 2014/04/16 T.Ichikawa --end--
        pars += '&select_index_list_name=' + encodeURIComponent(select_index_list_name.value);
        pars += '&select_index_list_name_english=' + encodeURIComponent(select_index_list_name_english.value);
		// Add index list 2011/04/6 S.Abe --end--
		// Add index thumbnail 2010/08/20 Y.Nakao --start--
		//repositoryCls['<{$id}>'].onSubmitEdittree_repos(pars);
        pars += '&thumbnail_del=' + thumbnail_del;
        pars += '&create_cover_flag=' + encodeURIComponent(create_cover_flag.checked);
        pars += '&harvest_public_state=' + encodeURIComponent(harvest_public_state.checked);
        
        // Add recursively uppdate flag 2015/01/21 S.Suzuki --start--
        pars += '&pubdate_recursive=' + encodeURIComponent(pubdate_recursive.checked);
        pars += '&create_cover_recursive=' + encodeURIComponent(create_cover_recursive.checked);
        pars += '&aclRoleIds_recursive=' + encodeURIComponent(aclRoleIds_recursive.checked);
        pars += '&aclRoomAuth_recursive=' + encodeURIComponent(aclRoomAuth_recursive.checked);
        pars += '&aclGroupIds_recursive=' + encodeURIComponent(aclGroupIds_recursive.checked);
        // Add recursively uppdate flag 2015/01/21 S.Suzuki --end--
        
        if ('<{$smarty.session.MyPrivateTreeRootId}>' == "") {
            pars += '&journalInfo=' + encodeURIComponent(journal_info_data.value);
            pars += '&journalTypeId=' + encodeURIComponent(journal_type_id.value);
            for ( var i = 0; i < journal_attr_id.length; i++)
            {
                pars += '&journalAttrId['+i+']=' + encodeURIComponent(journal_attr_id[i].value);
                pars += '&journalAttrValue['+i+']=' + encodeURIComponent(journal_attr_value[i].value);
                pars += '&journalAttrRequired['+i+']=' + encodeURIComponent(journal_attr_required[i].value);
            }
        }
        
        if ('<{$smarty.session.MyPrivateTreeRootId}>' != "") {
			repositoryCls['<{$id}>'].repositoryIndexThumbnailFileUpload(pars, "privateTree");
		} else {
			repositoryCls['<{$id}>'].repositoryIndexThumbnailFileUpload(pars, "editTree");
		}
		// Add index thumbnail 2010/08/20 Y.Nakao --end--
	}

</script>
<{* update edit tree info to DB 2008/12/12 Y.Nakao --end-- *}>

<{* mouse drag drop action 2008/12/16 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
	var cursorObjStyle=$('cursor').style;
	makeDraggable = function(item, id){
		if(!item && id==""){
			drag_id = "";
			return;
		}
		item.onmousedown = function(ev){
			drag_id = id;
			// ドラッグ中は選択処理のAjaxを中断
			dragProcess = true;
			if(idxDataAjax) {
				idxDataAjax.transport.abort();
			}
			if(idxMetadataAjax) {
				idxMetadataAjax.transport.abort();
			}
			
			outSelect();
			
			if(ev){
				cursorObjStyle.left =  (ev.pageX-24)+"px";
				cursorObjStyle.top =  (ev.pageY-24)+"px";
			} else {
				cursorObjStyle.left =  (event.x-24 + document.body.scrollLeft) + "px";
				cursorObjStyle.top =  (event.y-24 + document.body.scrollTop) + "px";
			}
			cursorObjStyle.display="block";
			var innerText = $('tree_nodelabel'+id).innerHTML;
			var imgTagPos = innerText.indexOf('<img class="draganddrop"');
			var imgTagEndPos = innerText.indexOf('>', imgTagPos);
			var frontText = innerText.substring(0, imgTagPos); 
			var backText = innerText.substring(imgTagEndPos+1);
			var myObj=document.getElementById("cursor");
			myObj.innerHTML = frontText + backText;
			if(edit_id!=""){
				$('tree_nodelabel'+edit_id).className = 'nodelabel_repos';
				$('tree_nodeblock'+edit_id).className = "indexLine";
			}
			$('tree_nodelabel'+id).className = 'nodelabel_s_repos';
			$('tree_nodeblock'+id).className = "indexLineSelectTreeEdit";
			return false;
		}
	}
	
	dragMouseUp = function(drop_id, drop_index){
		if(drag_id && drag_id!="" && drop_id!=drag_id){
			if (ctrl_pressed) {
				var pars = '&edit_mode=copy_tree';
			}
			else {
				var pars = '&edit_mode=sort';
			}
			pars += '&drag_id='+drag_id+
					'&drop_id='+drop_id+
					'&drop_index='+drop_index;
			if('<{$smarty.session.MyPrivateTreeRootId}>' != ""){
				repositoryCls['<{$id}>'].onSubmitEdittree_repos(pars, "privateTree");
			} else {
				repositoryCls['<{$id}>'].onSubmitEdittree_repos(pars, "editTree");
			}
		}
		if(drag_id!="" && drag_id != edit_id){
			$('tree_nodelabel'+drag_id).className = 'nodelabel_repos';
			$('tree_nodeblock'+drag_id).className = "indexLine";
		}
		cursorObjStyle.display="none";
		drag_id = "";
		dragProcess = false;
	}
</script>
<script class="nc_script" type="text/javascript">
	var cursorObjStyle=$('cursor').style;
	document.onmousemove = function(ev){
		if(drag_id && drag_id!=""){
			if(ev){
				cursorObjStyle.left =  (ev.pageX-24)+"px";
				cursorObjStyle.top =  (ev.pageY-24)+"px";
			} else {
				cursorObjStyle.left =  (event.x-24 + document.body.scrollLeft) + "px";
				cursorObjStyle.top =  (event.y-24 + document.body.scrollTop) + "px";
			}
		} else {
			if(cursorObjStyle){
				cursorObjStyle.display="none";
			}
		}
	}
	dragOver = function(id){
		if(drag_id && drag_id!="" && drag_id!=id){
			$('tree_nodeblock'+id).className = 'indexLine_H';
		}
	}
	dragOut = function(id){
		if(drag_id && drag_id!="" && drag_id!=id){
			$('tree_nodeblock'+id).className = 'indexLine';
		}
	}
	dragSentryOver = function(id){
		if(drag_id && drag_id!="" && drag_id!=id){
			$('tree_sentry'+id).className = 'sentryH_repos';
		}
	}
	dragSentryOut = function(id){
		if(drag_id && drag_id!="" && drag_id!=id){
			$('tree_sentry'+id).className = 'sentry_repos';
		}
	}
	dragSentryPOver = function(id){
		if(drag_id && drag_id!="" && drag_id!=id){
			$('tree_sentryP'+id).className = 'sentryPH_repos';
		}
	}
	dragSentryPOut = function(id){
		if(drag_id && drag_id!="" && drag_id!=id){
			$('tree_sentryP'+id).className = 'sentryP_repos';
		}
	}
</script>
<script class="nc_script" type="text/javascript">
	chkNum = function(event){
		var code = 0;
		var char = "";
		if (event.charCode === 0) {	// Firefox, Safari control code
			code = 0;
		} else if (!event.keyCode && event.charCode) {	// Firefox
			code = event.charCode;
		} else if (event.keyCode && !event.charCode) {	// IE
			code = event.keyCode;
		} else if (event.keyCode == event.charCode) {	// Safari
			code = event.keyCode;
		}
		if (32 <= code && code <= 126) {	// ASCII文字の範囲内
			char =  String.fromCharCode(code);
		}
		if (char && !char.match(/\d/)) {
			return false;
		}
	}
</script>
<{* mouse drag drop action 2008/12/16 Y.Nakao --end-- *}>

<{* Add index thumbnail 2010/08/20 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
	editThumbnail = function(){
		thumbnail_edit.style.display = 'none';
		thumbnail_input.style.display = 'block';
		thumbnail_file.disabled = "";
		thumbnail_disp.src = "";
		if (thumbnail_disp.runtimeStyle != null && thumbnail_disp.runtimeStyle !== 'undefined' ) {
			// for IE
			var run = thumbnail_disp.runtimeStyle;
			run.width  = "auto";
			run.height = "auto";
		}
		thumbnail_del = 1;
	}
</script>
<{* Add index thumbnail 2010/08/20  Y.Nakao --end-- *}>
<{* Add index list 2011/04/6 S.Abe --start-- *}>
<script class="nc_script" type="text/javascript">
    inputIndexListName = function(num){
        if(num == 1) {
            $('select_index_list_name').disabled = false;
            $('select_index_list_name_english').disabled = false;
        }else{
            $('select_index_list_name').disabled = true;
            $('select_index_list_name').value = "";
            $('select_index_list_name_english').disabled = true;
            $('select_index_list_name_english').value = "";
        }
    }
</script>
<{* Add index list 2011/04/6 S.Abe --end-- *}>

<{* Add decodeHtmlSpecialChars 2011/05/31 A.Suzuki --start-- *}>
<script class="nc_script" type="text/javascript">
    decodeHtmlSpecialChars = function(str){
        str = str.replace(/&amp;/g,"&");
        str = str.replace(/&quot;/g,"\"");
        str = str.replace(/&#039;/g,"'");
        str = str.replace(/&lt;/g,"<");
        str = str.replace(/&gt;/g,">");
        // Bugfix input scrutiny Y.Nakao 2011/06/17 --start--
        str = str.replace(/\\/g,"\\");
        // Bugfix input scrutiny Y.Nakao 2011/06/17 --end--
        return str;
    }
</script>
<{* Add decodeHtmlSpecialChars 2011/05/31 A.Suzuki --end-- *}>

<{* Add tree access control list 2011/12/28 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
	addACLRole = function(){
		if(exclusive_acl_role_name.selectedIndex != -1){
			var acl_role_id_txt = acl_role_id.value.split(",");
			var exclusive_acl_role_id_txt = exclusive_acl_role_id.value.split(",");
			var cnt = exclusive_acl_role_name.length
            // Add tree access control list 2012/03/02 T.Koyasu -start-
            var acl_user_auth_id_txt = acl_user_auth_id.value.split(",");
            var exclusive_acl_user_auth_id_txt = exclusive_acl_user_auth_id.value.split(",");
            // the min user_authority
            var minAuth = 100;
            for (ii=cnt-1; ii>=0; ii--) {
                var tmpElm = exclusive_acl_role_name.options[ii];
                if(tmpElm.selected) {
                    if(minAuth > exclusive_acl_user_auth_id_txt[ii]) {
                        minAuth = exclusive_acl_user_auth_id_txt[ii];
                    }
                }
            }
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = exclusive_acl_role_name.options[ii];
				if (elm.selected || exclusive_acl_user_auth_id_txt[ii] >= minAuth) {
					var jj = ++acl_role_name.length;
					acl_role_name.options[ jj-1 ].innerHTML = elm.text;
					exclusive_acl_role_name.options[ii] = null;
					acl_role_id_txt.push(exclusive_acl_role_id_txt[ii]);
                    acl_user_auth_id_txt.push(exclusive_acl_user_auth_id_txt[ii]);
					exclusive_acl_role_id_txt.splice(ii,1);
                    exclusive_acl_user_auth_id_txt.splice(ii,1);
				}
			}
            // Add tree access control list 2012/03/02 T.Koyasu -end-
			if(acl_role_id.value == ""){
				acl_role_id.value = acl_role_id_txt.toString().substring(1);
			} else {
				acl_role_id.value = acl_role_id_txt.toString();
			}
			if(exclusive_acl_role_id.value == ""){
				exclusive_acl_role_id.value = exclusive_acl_role_id_txt.toString().substring(1);
			} else {
				exclusive_acl_role_id.value = exclusive_acl_role_id_txt.toString();
			}
            // Add tree access control list 2012/03/02 T.Koyasu -start-
            if(acl_user_auth_id.value == "") {
                acl_user_auth_id.value = acl_user_auth_id_txt.toString().substring(1);
            } else {
                acl_user_auth_id.value = acl_user_auth_id_txt.toString();
            }
            if(exclusive_acl_user_auth_id.value == "") {
                exclusive_acl_user_auth_id.value = exclusive_acl_user_auth_id_txt.toString().substring(1);
            } else {
                exclusive_acl_user_auth_id.value = exclusive_acl_user_auth_id_txt.toString();
            }
            /*
            // from selected base auth, checkbox of room auth set or not
            switch(minAuth) {
            case 1:
                // guest and log out checkbox is able and checked
                acl_room_auth_logout.checked = true;
                acl_room_auth_logout.disable = "";
                acl_room_auth_guest.checked = true;
                acl_room_auth_guest.disable = "";
            case 2:
                // general checkbox is able and checked
                acl_room_auth_general.checked = true;
            case 3:
                // moderator checkbox is able and checked
            default:
                break;
            }*/
            // Add tree access control list 2012/03/02 T.Koyasu -end-
		}
	}
</script>
<script class="nc_script" type="text/javascript">
	delACLRole = function(){
		if(acl_role_name.selectedIndex != -1){
			var acl_role_id_txt = acl_role_id.value.split(",");
			var exclusive_acl_role_id_txt = exclusive_acl_role_id.value.split(",");
			var cnt = acl_role_name.length;
            // Add tree access control list 2012/03/02 T.Koyasu -start-
            var acl_user_auth_id_txt = acl_user_auth_id.value.split(",");
            var exclusive_acl_user_auth_id_txt = exclusive_acl_user_auth_id.value.split(",");
            // the max user_authority
            var maxAuth = 0;
            for (ii=cnt-1; ii>=0; ii--) {
                var tmpElm = acl_role_name.options[ii];
                if(tmpElm.selected) {
                    if(maxAuth < acl_user_auth_id_txt[ii]) {
                        maxAuth = acl_user_auth_id_txt[ii];
                    }
                }
            }
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = acl_role_name.options[ii];
				if (elm.selected || acl_user_auth_id_txt[ii] <= maxAuth) {
					var jj = ++exclusive_acl_role_name.length;
					exclusive_acl_role_name.options[ jj-1 ].innerHTML = elm.text;
					acl_role_name.options[ii] = null;
					exclusive_acl_role_id_txt.push(acl_role_id_txt[ii]);
                    exclusive_acl_user_auth_id_txt.push(acl_user_auth_id_txt[ii]);
					acl_role_id_txt.splice(ii,1);
                    acl_user_auth_id_txt.splice(ii,1);
				}
			}
            // Add tree access control list 2012/03/02 T.Koyasu -end-
			if(acl_role_id.value == ""){
				acl_role_id.value = acl_role_id_txt.toString().substring(1);
			} else {
				acl_role_id.value = acl_role_id_txt.toString();
			}
			if(exclusive_acl_role_id.value == ""){
				exclusive_acl_role_id.value = exclusive_acl_role_id_txt.toString().substring(1);
			} else {
				exclusive_acl_role_id.value = exclusive_acl_role_id_txt.toString();
			}
            // Add tree access control list 2012/03/02 T.Koyasu -start-
            if(acl_user_auth_id.value == "") {
                acl_user_auth_id.value = acl_user_auth_id_txt.toString().substring(1);
            } else {
                acl_user_auth_id.value = acl_user_auth_id_txt.toString();
            }
            if(exclusive_acl_user_auth_id.value == "") {
                exclusive_acl_user_auth_id.value = exclusive_acl_user_auth_id_txt.toString().substring(1);
            } else {
                exclusive_acl_user_auth_id.value = exclusive_acl_user_auth_id_txt.toString();
            }
            // Add tree access control list 2012/03/02 T.Koyasu -end-
		}
	}
</script>
<script class="nc_script" type="text/javascript">
	addACLGroup = function(){
		if(exclusive_acl_group_name.selectedIndex != -1){
			var acl_group_id_txt = acl_group_id.value.split(",");
			var exclusive_acl_group_id_txt = exclusive_acl_group_id.value.split(",");
			var cnt = exclusive_acl_group_name.length
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = exclusive_acl_group_name.options[ii];
				if (elm.selected) {
					var jj = ++acl_group_name.length;
					acl_group_name.options[ jj-1 ].innerHTML = elm.text;
					exclusive_acl_group_name.options[ii] = null;
					acl_group_id_txt.push(exclusive_acl_group_id_txt[ii]);
					exclusive_acl_group_id_txt.splice(ii,1);
				}
			}
			if(acl_group_id.value == ""){
				acl_group_id.value = acl_group_id_txt.toString().substring(1);
			} else {
				acl_group_id.value = acl_group_id_txt.toString();
			}
			if(exclusive_acl_group_id.value == ""){
				exclusive_acl_group_id.value = exclusive_acl_group_id_txt.toString().substring(1);
			} else {
				exclusive_acl_group_id.value = exclusive_acl_group_id_txt.toString();
			}
		}
	}
</script>

<script class="nc_script" type="text/javascript">
	delACLGroup = function(){
		if(acl_group_name.selectedIndex != -1){
			var acl_group_id_txt = acl_group_id.value.split(",");
			var exclusive_acl_group_id_txt = exclusive_acl_group_id.value.split(",");
			var cnt = acl_group_name.length;
			for (ii=cnt-1; ii>=0; ii--) {
				var elm = acl_group_name.options[ii];
				if (elm.selected) {
					var jj = ++exclusive_acl_group_name.length;
					exclusive_acl_group_name.options[ jj-1 ].innerHTML = elm.text;
					acl_group_name.options[ii] = null;
					exclusive_acl_group_id_txt.push(acl_group_id_txt[ii]);
					acl_group_id_txt.splice(ii,1);
				}
			}
			if(acl_group_id.value == ""){
				acl_group_id.value = acl_group_id_txt.toString().substring(1);
			} else {
				acl_group_id.value = acl_group_id_txt.toString();
			}
			if(exclusive_acl_group_id.value == ""){
				exclusive_acl_group_id.value = exclusive_acl_group_id_txt.toString().substring(1);
			} else {
				exclusive_acl_group_id.value = exclusive_acl_group_id_txt.toString();
			}
		}
	}
</script>

<{* Add tree access control list 2011/12/28 Y.Nakao --end-- *}>

<{* Add hide tree access control list 2013/04/19 K.Matsuo --start-- *}>
<script class="nc_script" type="text/javascript">
	
	showHideTreeAccessControl = function(flag){
//		var elements = document.getElementsByClassName('tree_access_control');
//		for (i = 0; i < elements.length; i++) {
//			elements[i].style.display = 'none';
//		}
		if (document.all){
			var allElements = document.all;
		}
		else {
			var allElements = document.getElementsByTagName("*");
		}
		for (i = 0; i < allElements.length; i++) {
			if (allElements[i].className == 'tree_access_control' || allElements[i].className == 'paging' || allElements[i].className == 'jalc_setting' || allElements[i].className == 'issn_setting') {
				if(flag){
					allElements[i].style.display = '';
				} else {
					allElements[i].style.display = 'none';
				}
			}
		}
		var hei = $('right_block').offsetHeight;
		if(hei > <{$smarty.const._SNIPPET_HEIGHT}>){
			$('editTree<{$id}>panel').style.height = hei+"px";
		} else {
			$('editTree<{$id}>panel').style.height = <{$smarty.const._SNIPPET_HEIGHT}>+"px";
		}

	}
	
	if('<{$smarty.session.MyPrivateTreeRootId}>' != ""){
		showHideTreeAccessControl(false);
	}

	
</script>
<{* Add hide tree access control list 2013/04/19 K.Matsuo --end-- *}>

<{* Add copy index tree 2014/01/20 S.Suzuki --start-- *}>
<script class="nc_script" type="text/javascript">
// キー状態保持変数
ctrl_pressed = false;

// Ctrlキーを押したとき
document.onkeydown = function (e){
    if (e.ctrlKey){
        if (!e) e = window.event;
        ctrl_pressed = true;
    }
};

// Ctrlキーを放したとき
document.onkeyup = function (e){
    if (!e) e = window.event;
    ctrl_pressed = false;
};

<{* Fix WEKO_IVIS-57 ブラウザのショートカット利用時にツリーがコピーされる不具合 2018/4/16 Y.Nakao --start-- *}>
window.onblur = function (e){
    ctrl_pressed = false;
};
<{* Fix WEKO_IVIS-57 ブラウザのショートカット利用時にツリーがコピーされる不具合 2018/4/16 Y.Nakao --end-- *}>

</script>
<{* Add copy index tree 2014/01/20 S.Suzuki --end-- *}>

<script class="nc_script" type="text/javascript">
	outputIndexMetadata = function(){
		var pars =  '';
		pars +=	_nc_base_url + '/index.php';
		pars +=	'?action=repository_action_edit_treeexport';
		pars +=	'&page_id='+<{$page_id}>+'&block_id='+<{$block_id}>;
		location.href = pars;
	}
</script>

<script class="nc_script" type="text/javascript">
	dateCombine = function(){
		<{section name=i loop=$action.metadata}>
			<{assign var="metadata" value=$action.metadata}>
			<{if $metadata[i].input_type == "date"}>
				index_attr_<{$metadata[i].attribute_id}>.value = '';
				<{* 年 *}>
				if(index_attr_<{$metadata[i].attribute_id}>_year.value != ''){
					index_attr_<{$metadata[i].attribute_id}>.value += index_attr_<{$metadata[i].attribute_id}>_year.value;
					<{* 月 *}>
					if(index_attr_<{$metadata[i].attribute_id}>_month.value != ''){
						index_attr_<{$metadata[i].attribute_id}>.value += '-' + index_attr_<{$metadata[i].attribute_id}>_month.value;
						<{* 日 *}>
						if(index_attr_<{$metadata[i].attribute_id}>_day.value != ''){
							index_attr_<{$metadata[i].attribute_id}>.value += '-' + index_attr_<{$metadata[i].attribute_id}>_day.value;
						}
					}
				}
			<{/if}>
		<{/section}>
	}
</script>

<{if $action.edit_id >= 0}>
<script class="nc_script" type="text/javascript">
    repositoryClickTreeSelect<{$id}>(<{$action.edit_id}>);
</script>
<{/if}>