<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_name_authority_import.html 76511 2017-02-22 11:21:12Z yuko_nakao $        -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->

<{* WEKOヘルプへのリンク *}>
<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
    <div align="right" class="pt10 pr10">
        <a href="#" style="cursor: help;" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'import_authority_result'); return false;">
            <img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
        </a>
    </div>
<{/if}>

<form id="attachment_form<{$id}>" target="attachment_form<{$id}>" enctype="multipart/form-data">
	<span style="display:none;height=0px;width=0px;" id="repositoryListDownload<{$id}>"></span>
	<div align="right" class="pt10 pr10">
		<span id="repositoryExportTemplate<{$id}>">
			<a href="#" onclick="javascript: repository<{$id}>templateDownload(); return false;" ><{$lang.repository_name_authority_import_result_template}></a>
		</span>
		<span id="repository<{$id}>_exportBtn" style="position: relative; right: 110px " >
			<img border="0" id="repositoryNowLoading<{$id}>" style="display:none" src="<{$smarty.const.BASE_URL}>/images/common/indicator.gif" />
		</span>
	</div>
	
	<{* 著者名典拠インポート結果 *}>
	<{if $action.importSuccessCnt > 0}>
		<div class="success_msg al pt10">
			<{$action.importSuccessCnt}><{$lang.repository_name_authority_import_result_success}>
		</div>
	<{/if}>
	
	<{* エラー表示 *}>
	<{if $action.errMsg != null && count($action.errMsg) > 0}>
		<div class="error_msg al">
			<{foreach from=$action.errMsg item=msg name="iCnt"}>
				<{$msg|smarty:nodefaults}><br/>
			<{/foreach}>
		</div>
	<{/if}>
	<{if $action.importErrorList != null && count($action.importErrorList) > 0}>
		<div class="error_msg al">
			<{$lang.repository_name_authority_import_error_import}>
		</div>
		<table id="item_confirm_tbl" class="full tb01" align="center">
			<tr>
				<th class="th_col_repos ac"><{$lang.repository_name_authority_import_errotList}></th>
			</tr>
			<{foreach from=$action.importErrorList item=errorMsg name="iCnt"}>
				<{assign var="iCnt" value=$smarty.foreach.iCnt.iteration-1}>
				<tr class="<{if $iCnt%2==0}>list_line_repos1<{else}>list_line_repos2<{/if}>">
					<td><{$errorMsg}></td>
				</tr>
			<{/foreach}>
		</table>
	<{/if}>
	
	<br/><br/>
	<table class="tb01 w70">
		<tr>
			<th class="item_edit_list"><{$lang.repository_import_select_item}></th>
			<td class="item_edit_list al">
				<div class="nobr"><input type="file" name="upload[]" size="30"/></div>
			</td>
		</tr>
	</table>
	<center class="pd20">
		<input type="button" class="btn_blue ac" value="<{$lang.repository_import}>" onclick="repositoryCls['<{$id}>'].repositoryImportauthorityFileUpload();return false;" />
	</center>
</form>
<script class="nc_script" type="text/javascript">
	repository<{$id}>templateDownload = function() {
		var url = _nc_base_url + "/index.php"+
					"?action=repository_action_edit_importauthority_download" + "&page_is=" + <{$page_id}> + "&block_id=" + <{$block_id}>;
		
		// brauzaCheck
		var userAgent = window.navigator.userAgent.toLowerCase();
		var appVersion = window.navigator.appVersion.toLowerCase();
		//IE
		if (userAgent.indexOf("msie") > -1 || userAgent.indexOf("trident") > -1) {
			repository<{$id}>loadingIcon(true);
			$('repositoryListDownload<{$id}>').innerHTML = '<iframe boder="0" name="exportFrame<{$id}>" id="exportFrame<{$id}>" src="'+url+'"></iframe>';
		}
		//Firefox…OK
		else if (userAgent.indexOf("firefox") > -1) {
			repository<{$id}>loadingIcon(true);
			$('repositoryListDownload<{$id}>').innerHTML = '<iframe boder="0" name="exportFrame<{$id}>" id="exportFrame<{$id}>" src="'+url+'" onload="javascript: repository<{$id}>loadingIcon(false);"></iframe>';
		}
		else
		{
			$('repositoryListDownload<{$id}>').innerHTML = '<iframe boder="0" name="exportFrame<{$id}>" id="exportFrame<{$id}>" src="'+url+'"></iframe>';
		}
		return false;
	}
</script>
<script class="nc_script" type="text/javascript">
	repository<{$id}>loadingIcon = function(onFlg) {
		if(onFlg)
		{
			$('repositoryExportTemplate<{$id}>').style.display='none';
			$('repositoryNowLoading<{$id}>').style.display='';
		}
		else
		{
			$('repositoryExportTemplate<{$id}>').style.display='';
			$('repositoryNowLoading<{$id}>').style.display='none';
		}
	}
</script>