<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_doi_call_assign_status.html 75663 2017-01-25 06:17:45Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->

<{* DOI付与条件チェックAPI呼び出し *}>
<{if $smarty.session.doi_itemtype_flag == true && $smarty.session.doi_status < 2}>
	<div id="repository<{$id}>DoiAssignStatusLink">
		<a href="#" onclick="repositoryCls['<{$id}>'].repositoryDoiAssignStatus(event, <{if $smarty.session.edit_item_id == null}>''<{else}><{$smarty.session.edit_item_id}><{/if}>, <{if $smarty.session.edit_item_no == null}>''<{else}><{$smarty.session.edit_item_no}><{/if}>); return false;"><{$lang.repository_doi_assign_label_check}></a><br/>
	</div>
<{/if}>

