<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_edit_tree.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{strip}>
	<div id="repo_main_content">
		<div id="repo_side_navi" class="fl">
			<{include file="repository_edit_tree_indextree.html"}>
		</div>
	</div>
	
	<div id="_repository_right_col<{$id}>" class="repository_right_header">
		<div id="right_block" align="right">
			
			<{*ヘルプ*}>
			<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
				<div class="fr c pl10">
					<{if $smarty.session.MyPrivateTreeRootId == ""}>
						<a href="#" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'edittree'); return false;" style="cursor: help;">
							<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
						</a>
					<{else}>
						<a href="#" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'editprivatetree'); return false;" style="cursor: help;">
							<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
						</a>
					<{/if}>
				</div>
			<{/if}>
			<{* ルートインデックスを選択している場合非表示*}>
			<div id="index_data_edit_menu" style="display: none">
				<div class="comp_tabset"></div>
				<div class="comp_tabset_content">
					<div class="th_classic_content content text_color" align="center">
						<{* インデックス編集 *}>
						<{include file="repository_edit_tree_indexdata.html"}>
					</div>
					<{if $smarty.session.MyPrivateTreeRootId == ""}>
						<div class="th_classic_content content text_color" align="center">
							<{* インデックスメタデータ編集 *}>
							<{include file="repository_edit_tree_metadata.html"}>
						</div>
					<{/if}>
				</div>
				<input type="hidden" value="0" name="activeTabId" id="edit_tree_active_tab<{$id}>" />
			
				<div id="send_alert" class="pt20 red ac" style="display: none;"><{$lang.repository_edittree_attention}></div>
				<div class="pt10 pb10 ac">
					<input type="button" class="btn_blue" id="send_button" value="<{$lang.repository_send}>" onclick="submitEditTree();" disabled/>
				</div>
			</div>
		</div>
	</div>
<{/strip}>

<script class="nc_script" type="text/javascript">
	var active_tab = "edit_tree_active_tab<{$id}>";
	changeActiveTab1<{$id}> = function(){
		$(active_tab).value = 0;
	}
	changeActiveTab2<{$id}> = function(){
		$(active_tab).value = 1;
	}
</script>

<script class="nc_script" type="text/javascript">
	var tabset = new compTabset('<{$id}>');
	tabset.setActiveIndex(valueParseInt(<{$action.activeTabId}>));
	tabset.addTabset("<{$lang.repository_edittree_editnode}>", changeActiveTab1<{$id}>);
	tabset.addTabset("<{$lang.repository_tab_edittree_journal_info}>", changeActiveTab2<{$id}>);
	tabset.render();
</script>

<{include file="repository_script.html"}>
<{include file="repository_edit_tree_indexscript.html"}>

