<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_listdelete.html 17777 2012-05-22 09:53:02Z tatsuya_koyasu $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<div id="repository<{$id}>_listdeleteDiv" style="height:350px;">
	<table class="full clear">
		<tr>
			<th class="pd10 th01" colspan="2">
				<div class="fl">
					<{$lang.repository_item_listdelete_target_index}>
				</div>
				<{* HELP *}>
				<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
					<div class="fr">
						<a style="cursor: help;" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'item_listdelete'); return false;" href="#">
							<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
						</a>
					</div>
				<{/if}>
			</th>
		</tr>
		<tr>
			<td class="pd10 al">
				<div id="select_delete_index">
				    <{if strlen($action.sortIndexName) > 0}>
				        <{$action.sortIndexName}>
				    <{else}>
					    <font style="color:#f00;" id="del_select_index"><{$lang.repository_item_embargo_select_index}></font>
					<{/if}>
				</div>
				<input id="select_delete_index_id" type="hidden" value="<{$action.sortIndexId}>">
			</td>
			<td rowspan="2" align="right">
				<input type="button" value="<{$lang.repository_item_listdelete_delete_button_title}>" class="btn_delete" onclick="javascript: deleteItems();return false;">
			</td>
		</tr>
		<tr>
			<td class="pd10 al">
				<label for="repository_subindex_chk_itemDeleteList<{$id}>">
					<input type="checkbox" id="repository_subindex_chk_itemDeleteList<{$id}>"/>
					<{$lang.repository_item_listdelete_sub_index}>
				</label>
			</td>
		</tr>
	</table>
</div>

<script class="nc_script" type="text/javascript">
	deleteItems = function(){
		var indexName = $('select_delete_index_id');

		<{* インデックスが未指定の場合は警告で終了 *}>
		if(indexName == null || indexName.value == 0)  {
			alert("<{$lang.repository_item_listdelete_select_index_list_default}>");
			return false;
		}

		var isAllDel = 0;
		if(document.getElementById("repository_subindex_chk_itemDeleteList<{$id}>").checked) {
			isAllDel = 1;
		}
		
		var top_el = $(repositoryCls['<{$id}>'].id);
		
		<{* 削除対象インデックスID *}>
		var indexId = indexName.value;

		<{* 指定インデックス下のDOI存在チェックを行う *}>
		var url = _nc_base_url + "/index.php";
		var pars = "action=repository_action_edit_item_listdelete" +
				   "&targetIndexId=" + indexId +
				   "&isDeleteSubIndexItem=" + isAllDel +
				   "&doi_check_flg=1" +
				   "&page_id=" + "<{$page_id}>" +
				   "&block_id=" + "<{$block_id}>";
		var myAjax = new Ajax.Request(
				url,
				{
					method: 'post',
					parameters: pars,
					asynchronous:false,
					onFailure : function(){
						alert(error);
					},
					onSuccess : function(res){
						if(res.responseText == "exist"){
							<{* DOIが存在する場合はDOI以外を削除する旨のポップアップを表示する *}>
							commonCls.sendPopupView(null, 
							  {'prefix_id_name':'repository_view_common_item_setting_delete_confirm', 'action': 'repository_view_common_item_setting_delete_confirm', 'baseBlock': repositoryCls['<{$id}>'].id, 'deleteType': 0, 'targetIndexId': indexId, 'isDeleteSubIndexItem': isAllDel}, 
							  {'top_el':top_el,'center_flag':true,'modal_flag':true});
						} else {
							<{* DOIが存在しない場合は削除確認ダイアログ *}>
							if(commonCls.confirm("<{$lang.repository_confimation_delete}>")){
									repositoryCls['<{$id}>'].repositoryListDelete(indexId, isAllDel, repositoryCls['<{$id}>'].id);
							} else {
								return false;
							}
						}
					}
				}
		);

	}
</script>
<{include file="repository_script.html"}>
