<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_edit_editdoi.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<div class="mt10">
	<div>
		<table align="center">
			<{* HELP *}>
			<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
				<tr>
					<td align="right" class="ptb10">
						<a href="#" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'edit_doi');return false;" style="cursor: help;">
							<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" align="right" alt="help">
						</a>
					</td>
				</tr>
			<{/if}>
			
			<{* FLOW *}>
			<tr>
				<td align="center">
                    <{if $smarty.session._lang == "japanese"}>
                        <{if $smarty.session.attr_file_flg == 1}>
                            <img id="fileImg<{$id}>_JPN_DOI" usemap="#flowImgMap<{$id}>_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_doi_5.png" />
                        <{else}>
                            <img id="fileImg<{$id}>_JPN_NO_DOI" usemap="#flowImgMap<{$id}>_no_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_no_file_doi_4.png" />
                        <{/if}>
                    <{else}>
                        <{if $smarty.session.attr_file_flg == 1}>
                            <img id="fileImg<{$id}>_ENG_DOI" usemap="#flowImgMap<{$id}>_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_doi_5_eng.png" />
                        <{else}>
                            <img id="fileImg<{$id}>_ENG_NO_DOI" usemap="#flowImgMap<{$id}>_no_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_no_file_doi_4_eng.png" />
                        <{/if}>
                    <{/if}>
                    <map name="flowImgMap<{$id}>_doi">
                        <{if $smarty.session.edit_flag != 1}>
                            <area onclick="javascript: grantDoi('selecttype');" title="<{$lang.repository_item_selecttype}>" style="cursor: pointer;" shape="poly" coords="0,0,0,37,132,37,140,19,140,18,132,0">
                        <{/if}>
                        <area onclick="javascript: grantDoi('files');" title="<{$lang.repository_item_editfiles}>" style="cursor: pointer;" shape="poly" coords="132,0,140,18,140,19,132,37,272,37,280,19,280,18,272,0">
                        <area onclick="javascript: grantDoi('texts');" title="<{$lang.repository_item_edittexts}>" style="cursor: pointer;" shape="poly" coords="272,0,280,18,280,19,272,37,412,37,420,19,420,18,412,0">
                        <area onclick="javascript: grantDoi('links');" title="<{$lang.repository_item_editlinks}>" style="cursor: pointer;" shape="poly" coords="412,0,420,18,420,19,412,37,552,37,560,19,560,18,552,0">
                        <{*<area onclick="javascript: grantDoi('doi');" title="<{$lang.repository_item_add_doi}>" style="cursor: pointer;" shape="poly" coords="552,0,560,18,560,19,552,37,692,37,700,19,700,18,692,0">*}>
                        <area onclick="javascript: grantDoi('confirm');" title="<{$lang.repository_item_confirm}>" style="cursor: pointer;" shape="poly" coords="692,0,700,18,700,19,692,37,841,37,841,0">
                    </map>
                    <map name="flowImgMap<{$id}>_no_doi">
                        <{if $smarty.session.edit_flag != 1}>
                            <area onclick="javascript: grantDoi('selecttype');" title="<{$lang.repository_item_selecttype}>" style="cursor: pointer;" shape="poly" coords="0,0,0,37,132,37,140,19,140,18,132,0">
                        <{/if}>
                        <area onclick="javascript: grantDoi('texts');" title="<{$lang.repository_item_edittexts}>" style="cursor: pointer;" shape="poly" coords="132,0,140,18,140,19,132,37,272,37,280,19,280,18,272,0">
                        <area onclick="javascript: grantDoi('links');" title="<{$lang.repository_item_editlinks}>" style="cursor: pointer;" shape="poly" coords="272,0,280,18,280,19,272,37,412,37,420,19,420,18,412,0">
                        <{*<area onclick="javascript: grantDoi('doi');" title="<{$lang.repository_item_add_doi}>" style="cursor: pointer;" shape="poly" coords="412,0,420,18,420,19,412,37,552,37,560,19,560,18,552,0">*}>
                        <area onclick="javascript: grantDoi('confirm');" title="<{$lang.repository_item_confirm}>" style="cursor: pointer;" shape="poly" coords="552,0,560,18,560,19,552,37,701,37,701,0">
                    </map>
				</td>
			</tr>
			<{* DOI付与条件チェックAPI呼び出し --start-- *}>
			<tr>
				<td align="right" class="pt10">
					<{include file="repository_doi_call_assign_status.html"}>
				</td>
			</tr>
			<{* DOI付与条件チェックAPI呼び出し --end-- *}>
		</table>
	</div>

	<div class="mt10" align=center>
		<input type="button" class="btn_back" value="<{$lang.repository_return}>" onclick="commonCls.sendView('<{$id}>','repository_view_main_item_editlinks'); return false;">
		<{*DOI付与画面では一時保存を行わない K.Miura 2017/02/06*}>
		<input type="button" class="btn_next" value="<{$lang.repository_page_next}>" onclick="javascript: grantDoi('next');" />
	</div>
    <center>
        <{if $action.errMsg != null && count($action.errMsg) > 0}>
        <div class="error_msg al">
            <{foreach from=$action.errMsg item=msg}>
            <{$msg|smarty:nodefaults}><br/>
            <{/foreach}>
        </div>
        <{/if}>
        <{if $action.warningMsg != null && count($action.warningMsg) > 0}>
        <div class="warning_msg al">
            <{foreach from=$action.warningMsg item=msg}>
            <{$msg|smarty:nodefaults}><br/>
            <{/foreach}>
        </div>
        <{/if}>
    </center>

 <div align="center" class="text_color">
  <form>
   <div class="paging">
    <{if $action.doi_status == '0' && $action.displays_doi_grant == true}>
      <table>
        <tbody>
        <{if defined("_REPOSITORY_WEKO_DOISUFFIX_FREE") && $smarty.const._REPOSITORY_WEKO_DOISUFFIX_FREE}>
          <tr>
            <td  style="padding-top : 10px; padding-left : 5px">
            </td>
            <td  style="padding-top : 10px; padding-left : 5px" colspan="2" align="left">
              <b><{$lang.repository_label_input_only_suffix}></b>
            </td>
          </tr>
        <{/if}>
        <{if strlen($action.prefix_jalcdoi) > 0 && $smarty.const._REPOSITORY_JALC_DOI == true}>
          <tr>
            <td  style="padding-top : 10px; padding-left : 5px">
              <input type="checkbox" id="id_entry_jalcdoi_checkbox" name="entry_jalcdoi_checkbox" value="<{$action.suffix}>" align="center" onclick="javascript: changeJalcdoiCheckbox();" >
            </td>
            <td  style="padding-top : 10px; padding-left : 5px" align="left">
              <label style="display: block; width:100%;height:100%;" for="id_entry_jalcdoi_checkbox">
                <{$lang.repository_item_enter_jalcdoi}>
              </label>
            </td>
            <td  style="padding-top : 10px; padding-left : 10px" align="left">
              <label style="display: block; width:100%;height:100%;" for="id_entry_jalcdoi_checkbox">
                http://doi.org/<{$action.prefix_jalcdoi}>/<{if !defined("_REPOSITORY_WEKO_DOISUFFIX_FREE") || !$smarty.const._REPOSITORY_WEKO_DOISUFFIX_FREE}><{if $action.prefix_flag > 0}><{$action.prefix_yhandle}>.<{/if}><{$action.suffix}><{else}><input type="text" id="id_entry_jalcdoi_text" name="entry_jalcdoi_text" align="center" <{if $smarty.session.doi_type == "0"}>value="<{$smarty.session.suffix}>"<{/if}> onfocus="javascript: focusJalcdoiText()" ><{/if}>
              </label>
              <input type="hidden" id="id_entry_jalcdoi_hidden" name="entry_jalcdoi_hidden" value="http://doi.org/<{$action.prefix_jalcdoi}>/<{$action.suffix}>">
            </td>
          </tr>
        <{/if}>
        <{if strlen($action.prefix_crossref) > 0 && $smarty.const._REPOSITORY_JALC_CROSSREF_DOI == true}>
          <tr>
            <td  style="padding-top : 10px; padding-left : 5px">
              <input type="checkbox" id="id_entry_crossref_checkbox" name="entry_crossref_checkbox" value="<{$action.suffix}>" align="center" onclick="javascript: changeCrossrefCheckbox();" >
            </td>
            <td  style="padding-top : 10px; padding-left : 5px" align="left">
              <label style="display: block; width:100%;height:100%;" for="id_entry_crossref_checkbox">
                <{$lang.repository_item_enter_crossref}>
              </label>
            </td>
            <td  style="padding-top : 10px; padding-left : 10px" align="left">
              <label style="display: block; width:100%;height:100%;" for="id_entry_crossref_checkbox">
                http://doi.org/<{$action.prefix_crossref}>/<{if !defined("_REPOSITORY_WEKO_DOISUFFIX_FREE") || !$smarty.const._REPOSITORY_WEKO_DOISUFFIX_FREE}><{if $action.prefix_flag > 0}><{$action.prefix_yhandle}>.<{/if}><{$action.suffix}><{else}><input type="text" id="id_entry_crossref_text" name="entry_crossref_text" align="center" <{if $smarty.session.doi_type == "1"}>value="<{$smarty.session.suffix}>"<{/if}> onfocus="javascript: focusCrossrefText()" ><{/if}>
              </label>
              <input type="hidden" id="id_entry_crossref_hidden" name="entry_crossref_hidden" value="http://doi.org/<{$action.prefix_crossref}>/<{$action.suffix}>">
            </td>
          </tr>
        <{/if}>
        <{if strlen($action.prefix_datacite) > 0 && $smarty.const._REPOSITORY_JALC_DATACITE_DOI == true}>
          <tr>
            <td  style="padding-top : 10px; padding-left : 5px">
              <input type="checkbox" id="id_entry_datacite_checkbox" name="entry_datacite_checkbox" value="<{$action.suffix}>" align="center" onclick="javascript: changeDataciteCheckbox();" >
            </td>
            <td  style="padding-top : 10px; padding-left : 5px" align="left">
              <label style="display: block; width:100%;height:100%;" for="id_entry_datacite_checkbox">
                <{$lang.repository_item_enter_datacite}>
              </label>
            </td>
            <td  style="padding-top : 10px; padding-left : 10px" align="left">
              <label style="display: block; width:100%;height:100%;" for="id_entry_datacite_checkbox">
                http://doi.org/<{$action.prefix_datacite}>/<{if !defined("_REPOSITORY_WEKO_DOISUFFIX_FREE") || !$smarty.const._REPOSITORY_WEKO_DOISUFFIX_FREE}><{if $action.prefix_flag > 0}><{$action.prefix_yhandle}>.<{/if}><{$action.suffix}><{else}><input type="text" id="id_entry_datacite_text" name="entry_datacite_text" align="center" <{if $smarty.session.doi_type == "3"}>value="<{$smarty.session.suffix}>"<{/if}> onfocus="javascript: focusDataciteText()" ><{/if}>
              </label>
              <input type="hidden" id="id_entry_datacite_hidden" name="entry_datacite_hidden" value="http://doi.org/<{$action.prefix_datacite}>/<{$action.suffix}>">
            </td>
          </tr>
        <{/if}>
        <{if strlen($action.prefix_library_jalcdoi) > 0}>
          <tr>
            <td  style="padding-top : 10px; padding-left : 5px">
            </td>
            <td  style="padding-top : 10px; padding-left : 5px" align="left">
              <{$lang.repository_item_enter_library_jalcdoi}>
            </td>
            <td  style="padding-top : 10px; padding-left : 10px" align="left">
                <input type="text" id="id_entry_library_jalcdoi_text" name="entry_library_jalcdoi_text" align="center" <{if $smarty.session.library_jalcdoi == 2}>value="<{$smarty.session.suffix}>"<{/if}>onfocus="javascript: focusLibraryJalcdoiText()" ><label for="id_entry_library_jalcdoi_text"></label>
                <input type="hidden" id="id_entry_library_jalcdoi_hidden" name="entry_library_jalcdoi_hidden" value="http://doi.org/<{$action.prefix_library_jalcdoi}>/<{$action.suffix}>">
            </td>
          </tr>
        <{/if}>
        </tbody>
      </table>
      <br/><div><font color="#ff0000"><{$lang.repository_item_edit_editdoi_grant_warning}><br/><{$lang.repository_item_edit_grant_warning}><br/></font></div>
     <{elseif $action.doi_status == '1'}>
     <div class="paging">
       <{*付与済みのDOI情報を表示 K.Miura 2017/02/06*}>
       <{if $smarty.session.doi_uri != null}>
        <{$smarty.session.doi_uri}><br/>
       <{elseif $action.registed_doi == 1}>
         <{$lang.repository_item_enter_jalcdoi}>&nbsphttp://doi.org/<{$action.prefix_jalcdoi}>/<{$action.suffix}><br/>
       <{elseif $action.registed_doi == 2}>
         <{$lang.repository_item_enter_crossref}>&nbsphttp://doi.org/<{$action.prefix_crossref}>/<{$action.suffix}><br/>
       <{elseif $action.registed_doi == 3}>
         <{$lang.repository_item_enter_datacite}>&nbsphttp://doi.org/<{$action.prefix_datacite}>/<{$action.suffix}><br/>
       <{elseif $action.registed_library_jalcdoi == 1}>
         <{$lang.repository_item_enter_library_jalcdoi}>&nbsphttp://doi.org/<{$action.prefix_library_jalcdoi}>/<{$action.suffix}><br/>
       <{/if}>
       <{if $action.doi_cancel_flag == 0}>
         <input type="button" class="btn_delete_doi ar" align="center" value="<{if $action.registed_library_jalcdoi == 1}><{$lang.repository_item_delete_library_jalcdoi}><{elseif $action.registed_doi == 1}><{$lang.repository_item_delete_jalcdoi}><{elseif $action.registed_doi == 2}><{$lang.repository_item_delete_crossref}><{else}><{$lang.repository_item_delete_datacite}><{/if}>" onclick="if(!commonCls.confirm('<{$lang.repository_item_delete_jalcdoi_confirm}>'))return false; commonCls.sendView('<{$id}>', {'action':'repository_view_main_item_editdoi', 'doi_cancel_flag':1}); return false;">
       <{/if}>
     </div>
     <{*doi_cancel_flagがtrue場合取り下げをキャンセルするボタンを表示*}>
     <{if $action.doi_cancel_flag == 1}>
     <div class="paging">
       <font color="#ff0000"><{$lang.repository_item_edit_editdoi_withdraw_warning}><br/><{$lang.repository_item_edit_withdraw_warning}><br/><{$lang.repository_item_edit_editdoi_cannot_regrant_warning}><br/></font>
       <input type="button" class="btn_delete_doi ar" align="center" value="<{$lang.repository_item_edit_editdoi_withdraw_cancel}>" onclick="commonCls.sendView('<{$id}>', {'action':'repository_view_main_item_editdoi', 'doi_cancel_flag':0}); return false;">
     </div>
     <{/if}>
    <{elseif $action.doi_status == '2'}>
     <div class="paging">
       <span><{$lang.repository_item_doi_droped}></span>
     </div>
    <{/if}>
   </div>
  </form>

  <input type="button" class="btn_back" value="<{$lang.repository_return}>" onclick="commonCls.sendView('<{$id}>', 'repository_view_main_item_editlinks');return false;">
  <{*DOI付与画面では一時保存を行わない K.Miura 2017/02/06*}>
  <input type="button" class="btn_next" value="<{$lang.repository_page_next}>" onclick="javascript: grantDoi('next');" />
 </div>

</div>

<script class="nc_script" type="text/javascript">
    changeJalcdoiCheckbox = function()
    {
        var checkJalcdoi = document.getElementById("id_entry_jalcdoi_checkbox");
        if(checkJalcdoi.checked == true)
        {
            var checkCrossRef = document.getElementById("id_entry_crossref_checkbox");
            if (checkCrossRef)
            {
                checkCrossRef.checked = false;
            }
            
            var textCrossRef = document.getElementById("id_entry_crossref_text");
            if (textCrossRef)
            {
                textCrossRef.value = "";
            }
            
            var checkDataCite = document.getElementById("id_entry_datacite_checkbox");
            if (checkDataCite)
            {
                checkDataCite.checked = false;
            }
            
            var textDatacite = document.getElementById("id_entry_datacite_text");
            if (textDatacite)
            {
                textDatacite.value = "";
            }
            
            var textLibraryJalcdoi = document.getElementById("id_entry_library_jalcdoi_text");
            if (textLibraryJalcdoi)
            {
                textLibraryJalcdoi.value = "";
            }
        }
        else
        {
            var textJalcdoi = document.getElementById("id_entry_jalcdoi_text");
            if (textJalcdoi)
            {
                textJalcdoi.value = "";
            }
        }
        
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    changeCrossrefCheckbox = function()
    {
        var checkCrossRef = document.getElementById("id_entry_crossref_checkbox");
        if(checkCrossRef.checked == true)
        {
            var checkJalcdoi = document.getElementById("id_entry_jalcdoi_checkbox");
            if (checkJalcdoi)
            {
                checkJalcdoi.checked = false;
            }
            
            var textJalcdoi = document.getElementById("id_entry_jalcdoi_text");
            if (textJalcdoi)
            {
                textJalcdoi.value = "";
            }
            
            var checkDataCite = document.getElementById("id_entry_datacite_checkbox");
            if (checkDataCite)
            {
                checkDataCite.checked = false;
            }
            
            var textDatacite = document.getElementById("id_entry_datacite_text");
            if (textDatacite)
            {
                textDatacite.value = "";
            }
            
            var textLibraryJalcdoi = document.getElementById("id_entry_library_jalcdoi_text");
            if (textLibraryJalcdoi)
            {
                textLibraryJalcdoi.value = "";
            }
        }
        else
        {
            var textCrossRef = document.getElementById("id_entry_crossref_text");
            if (textCrossRef)
            {
                textCrossRef.value = "";
            }
        }
        
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    changeDataciteCheckbox = function()
    {
        var checkDataCite = document.getElementById("id_entry_datacite_checkbox");
        if(checkDataCite.checked == true)
        {
            var checkJalcdoi = document.getElementById("id_entry_jalcdoi_checkbox");
            if (checkJalcdoi)
            {
                checkJalcdoi.checked = false;
            }
            
            var textJalcdoi = document.getElementById("id_entry_jalcdoi_text");
            if (textJalcdoi)
            {
                textJalcdoi.value = "";
            }
            
            var checkCrossRef = document.getElementById("id_entry_crossref_checkbox");
            if (checkCrossRef)
            {
                checkCrossRef.checked = false;
            }
            
            var textCrossRef = document.getElementById("id_entry_crossref_text");
            if (textCrossRef)
            {
                textCrossRef.value = "";
            }
            
            var textLibraryJalcdoi = document.getElementById("id_entry_library_jalcdoi_text");
            if (textLibraryJalcdoi)
            {
                textLibraryJalcdoi.value = "";
            }
        }
        else
        {
            var textDatacite = document.getElementById("id_entry_datacite_text");
            if (textDatacite)
            {
                textDatacite.value = "";
            }
        }
        
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    focusJalcdoiText = function()
    {
        var checkJalcdoi = document.getElementById("id_entry_jalcdoi_checkbox");
        if (checkJalcdoi)
        {
            checkJalcdoi.checked = true;
        }
        
        var checkCrossRef = document.getElementById("id_entry_crossref_checkbox");
        if (checkCrossRef)
        {
            checkCrossRef.checked = false;
        }
        
        var textCrossRef = document.getElementById("id_entry_crossref_text");
        if (textCrossRef)
        {
            textCrossRef.value = "";
        }
        
        var checkDataCite = document.getElementById("id_entry_datacite_checkbox");
        if (checkDataCite)
        {
            checkDataCite.checked = false;
        }
        
        var textDatacite = document.getElementById("id_entry_datacite_text");
        if (textDatacite)
        {
            textDatacite.value = "";
        }
        
        var textLibraryJalcdoi = document.getElementById("id_entry_library_jalcdoi_text");
        if (textLibraryJalcdoi)
        {
            textLibraryJalcdoi.value = "";
        }
        
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    focusCrossrefText = function()
    {
        var checkJalcdoi = document.getElementById("id_entry_jalcdoi_checkbox");
        if (checkJalcdoi)
        {
            checkJalcdoi.checked = false;
        }
        
        var textJalcdoi = document.getElementById("id_entry_jalcdoi_text");
        if (textJalcdoi)
        {
            textJalcdoi.value = "";
        }
        
        var checkCrossRef = document.getElementById("id_entry_crossref_checkbox");
        if (checkCrossRef)
        {
            checkCrossRef.checked = true;
        }
        
        var checkDataCite = document.getElementById("id_entry_datacite_checkbox");
        if (checkDataCite)
        {
            checkDataCite.checked = false;
        }
        
        var textDatacite = document.getElementById("id_entry_datacite_text");
        if (textDatacite)
        {
            textDatacite.value = "";
        }
        
        var textLibraryJalcdoi = document.getElementById("id_entry_library_jalcdoi_text");
        if (textLibraryJalcdoi)
        {
            textLibraryJalcdoi.value = "";
        }
        
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    focusDataciteText = function()
    {
        var checkJalcdoi = document.getElementById("id_entry_jalcdoi_checkbox");
        if (checkJalcdoi)
        {
            checkJalcdoi.checked = false;
        }
        
        var textJalcdoi = document.getElementById("id_entry_jalcdoi_text");
        if (textJalcdoi)
        {
            textJalcdoi.value = "";
        }
        
        var checkCrossRef = document.getElementById("id_entry_crossref_checkbox");
        if (checkCrossRef)
        {
            checkCrossRef.checked = false;
        }
        
        var textCrossRef = document.getElementById("id_entry_crossref_text");
        if (textCrossRef)
        {
            textCrossRef.value = "";
        }
        
        var checkDataCite = document.getElementById("id_entry_datacite_checkbox");
        if (checkDataCite)
        {
            checkDataCite.checked = true;
        }
        
        var textLibraryJalcdoi = document.getElementById("id_entry_library_jalcdoi_text");
        if (textLibraryJalcdoi)
        {
            textLibraryJalcdoi.value = "";
        }
        
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    focusLibraryJalcdoiText = function()
    {
        var checkJalcdoi = document.getElementById("id_entry_jalcdoi_checkbox");
        if (checkJalcdoi)
        {
            checkJalcdoi.checked = false;
        }
        
        var textJalcdoi = document.getElementById("id_entry_jalcdoi_text");
        if (textJalcdoi)
        {
            textJalcdoi.value = "";
        }
        
        var checkCrossRef = document.getElementById("id_entry_crossref_checkbox");
        if (checkCrossRef)
        {
            checkCrossRef.checked = false;
        }
        
        var textCrossRef = document.getElementById("id_entry_crossref_text");
        if (textCrossRef)
        {
            textCrossRef.value = "";
        }
        
        var checkDataCite = document.getElementById("id_entry_datacite_checkbox");
        if (checkDataCite)
        {
            checkDataCite.checked = false;
        }
        
        var textDatacite = document.getElementById("id_entry_datacite_text");
        if (textDatacite)
        {
            textDatacite.value = "";
        }
        
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    grantDoi = function(save_mode)
    {
        repositoryCls['<{$id}>'].repositoryItemEditDoi(save_mode);   
        return false;
    }
</script>
<script class="nc_script" type="text/javascript">
    checkedDoiCheckBox = function()
    {
        <{if $smarty.session.doi_type == "0"}>
            document.getElementById("id_entry_jalcdoi_checkbox").checked = "true";
        <{elseif $smarty.session.doi_type == "1"}>
            document.getElementById("id_entry_crossref_checkbox").checked = "true";
        <{elseif $smarty.session.doi_type == "3"}>
        	document.getElementById("id_entry_datacite_checkbox").checked = "true";
        <{/if}>
        
    }
</script>
<script class="nc_script" type="text/javascript">
    <{if $action.doi_status == '0'}>
        checkedDoiCheckBox();
    <{/if}>
</script>
<{include file="repository_script.html"}>