<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_type_setting_delete $  2017/01/23 kentaro_miura      -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{*repository 一括削除時DOIアイテムが含まれていた場合に表示するポップアップ*}>
<div style="padding: 30px 50px 30px 50px;">
	<table align="center">
		<tr>
			<td>
				<div class="paging" style="text-align: center;">
					<br>
					<font color="red"><{$lang.repository_item_setting_search_delete_doi_confirm_1}></font>
					<br>
                    <font color="red"><{$lang.repository_item_setting_search_delete_doi_confirm_2}></font>
					<br>
					<{$lang.repository_item_setting_search_delete_doi_confirm_3}>
				</div>
			</td>
		</tr>
		<tr>
			<td align="center">
				<input type="button" class="btn_blue" onclick="javascript: deleteExecute<{$id}>();" value="OK" />
				<input type="button" class="btn_white" onclick="commonCls.removeBlock('<{$id}>');" value="<{$lang.repository_cancel}>" />
			</td>
        </tr>
	</table>
</div>

<{include file="repository_script.html"}>

<script class="nc_script" type="text/javascript">
	deleteExecute<{$id}> = function(){
	    <{if $action.deleteType == 0}>
        repositoryCls['<{$id}>'].repositoryListDelete(<{$action.targetIndexId}>, <{$action.isDeleteSubIndexItem}>, "<{$action.baseBlock}>");
        <{elseif $action.deleteType == 1}>
        repositoryCls['<{$id}>'].repositoryDeleteSearchedItem("<{$action.searchKeyword}>", "<{$action.searchItemType}>", "<{$action.searchType}>", "<{$action.baseBlock}>");
        <{elseif $action.deleteType == 2}>
        repositoryCls['<{$id}>'].repositoryDeleteSearchedItem("<{$action.searchKeyword}>", "<{$action.searchItemType}>", "<{$action.searchType}>", "<{$action.baseBlock}>");
        <{/if}>
        commonCls.removeBlock(<{$id}>);
	}
</script>
