<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_edit_links.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->

<div class="mt10">

	<div class="pb15">
		<table align="center">
			<{* HELP *}>
			<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
				<tr>
					<td align="right" class="ptb10">
						<a href="#" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'edit_link'); return false;" style="cursor: help;">
							<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" align="right" alt="help">
						</a>
					</td>
				</tr>
			<{/if}>

			<{* FLOW *}>
			<tr>
				<td align="center">
                    <{if $smarty.session._lang == "japanese"}>
                        <{if $smarty.session.attr_file_flg == 1 && $smarty.session.doi_itemtype_flag == true}>
                            <img id="fileImg<{$id}>_JPN_DOI" usemap="#flowImgMap<{$id}>_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_doi_4.png" />
                        <{elseif $smarty.session.doi_itemtype_flag == true}>
                            <img id="fileImg<{$id}>_JPN_NO_DOI" usemap="#flowImgMap<{$id}>_no_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_no_file_doi_3.png" />
                        <{elseif $smarty.session.attr_file_flg == 1}>
                            <img id="fileImg<{$id}>_JPN" usemap="#flowImgMap<{$id}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_4.png" />
                        <{else}>
                            <img id="fileImg<{$id}>_JPN_NO" usemap="#flowImgMap<{$id}>_no" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_no_file_3.png" />
                        <{/if}>
                    <{else}>
                        <{if $smarty.session.attr_file_flg == 1 && $smarty.session.doi_itemtype_flag == true}>
                            <img id="fileImg<{$id}>_ENG_DOI" usemap="#flowImgMap<{$id}>_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_doi_4_eng.png" />
                        <{elseif $smarty.session.doi_itemtype_flag == true}>
                            <img id="fileImg<{$id}>_ENG_NO_DOI" usemap="#flowImgMap<{$id}>_no_doi" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_no_file_doi_3_eng.png" />
                        <{elseif $smarty.session.attr_file_flg == 1}>
                            <img id="fileImg<{$id}>_ENG" usemap="#flowImgMap<{$id}>" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_4_eng.png" />
                        <{else}>
                            <img id="fileImg<{$id}>_ENG_NO" usemap="#flowImgMap<{$id}>_no" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/item_select_type_no_file_3_eng.png" />
                        <{/if}>
                    <{/if}>
                    <map name="flowImgMap<{$id}>">
                        <{if $smarty.session.edit_flag != 1}>
                            <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('selecttype'); return false;" title="<{$lang.repository_item_selecttype}>" style="cursor: pointer;" shape="poly" coords="0,0,0,37,132,37,140,19,140,18,132,0">
                        <{/if}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('files'); return false;" title="<{$lang.repository_item_editfiles}>" style="cursor: pointer;" shape="poly" coords="132,0,140,18,140,19,132,37,272,37,280,19,280,18,272,0">
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('texts'); return false;" title="<{$lang.repository_item_edittexts}>" style="cursor: pointer;" shape="poly" coords="272,0,280,18,280,19,272,37,412,37,420,19,420,18,412,0">
                        <{*<area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('links'); return false;" title="<{$lang.repository_item_editlinks}>" style="cursor: pointer;" shape="poly" coords="412,0,420,18,420,19,412,37,552,37,560,19,560,18,552,0">*}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('confirm'); return false;" title="<{$lang.repository_item_confirm}>" style="cursor: pointer;" shape="poly" coords="552,0,560,18,560,19,552,37,701,37,701,0">
                    </map>
                    <map name="flowImgMap<{$id}>_doi">
                        <{if $smarty.session.edit_flag != 1}>
                            <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('selecttype'); return false;" title="<{$lang.repository_item_selecttype}>" style="cursor: pointer;" shape="poly" coords="0,0,0,37,132,37,140,19,140,18,132,0">
                        <{/if}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('files'); return false;" title="<{$lang.repository_item_editfiles}>" style="cursor: pointer;" shape="poly" coords="132,0,140,18,140,19,132,37,272,37,280,19,280,18,272,0">
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('texts'); return false;" title="<{$lang.repository_item_edittexts}>" style="cursor: pointer;" shape="poly" coords="272,0,280,18,280,19,272,37,412,37,420,19,420,18,412,0">
                        <{*<area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('links'); return false;" title="<{$lang.repository_item_editlinks}>" style="cursor: pointer;" shape="poly" coords="412,0,420,18,420,19,412,37,552,37,560,19,560,18,552,0">*}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('doi'); return false;" title="<{$lang.repository_item_add_doi}>" style="cursor: pointer;" shape="poly" coords="552,0,560,18,560,19,552,37,692,37,700,19,700,18,692,0">
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('confirm'); return false;" title="<{$lang.repository_item_confirm}>" style="cursor: pointer;" shape="poly" coords="692,0,700,18,700,19,692,37,841,37,841,0">
                    </map>
                    <map name="flowImgMap<{$id}>_no">
                        <{if $smarty.session.edit_flag != 1}>
                            <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('selecttype'); return false;" title="<{$lang.repository_item_selecttype}>" style="cursor: pointer;" shape="poly" coords="0,0,0,37,132,37,140,19,140,18,132,0">
                        <{/if}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('texts'); return false;" title="<{$lang.repository_item_edittexts}>" style="cursor: pointer;" shape="poly" coords="132,0,140,18,140,19,132,37,272,37,280,19,280,18,272,0">
                        <{*<area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('links'); return false;" title="<{$lang.repository_item_editlinks}>" style="cursor: pointer;" shape="poly" coords="272,0,280,18,280,19,272,37,412,37,420,19,420,18,412,0">*}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('confirm'); return false;" title="<{$lang.repository_item_confirm}>" style="cursor: pointer;" shape="poly" coords="412,0,420,18,420,19,412,37,561,37,561,0">
                    </map>
                    <map name="flowImgMap<{$id}>_no_doi">
                        <{if $smarty.session.edit_flag != 1}>
                            <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('selecttype'); return false;" title="<{$lang.repository_item_selecttype}>" style="cursor: pointer;" shape="poly" coords="0,0,0,37,132,37,140,19,140,18,132,0">
                        <{/if}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('texts'); return false;" title="<{$lang.repository_item_edittexts}>" style="cursor: pointer;" shape="poly" coords="132,0,140,18,140,19,132,37,272,37,280,19,280,18,272,0">
                        <{*<area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('links'); return false;" title="<{$lang.repository_item_editlinks}>" style="cursor: pointer;" shape="poly" coords="272,0,280,18,280,19,272,37,412,37,420,19,420,18,412,0">*}>
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('doi'); return false;" title="<{$lang.repository_item_add_doi}>" style="cursor: pointer;" shape="poly" coords="412,0,420,18,420,19,412,37,552,37,560,19,560,18,552,0">
                        <area onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('confirm'); return false;" title="<{$lang.repository_item_confirm}>" style="cursor: pointer;" shape="poly" coords="552,0,560,18,560,19,552,37,701,37,701,0">
                    </map>
				</td>
			</tr>
			<{* DOI付与条件チェックAPI呼び出し --start-- *}>
			<tr>
				<td align="right" class="pt10">
					<{include file="repository_doi_call_assign_status.html"}>
				</td>
			</tr>
			<{* DOI付与条件チェックAPI呼び出し --end-- *}>
		</table>
	</div>

	<div class="mt5" style="text-align:center; text-valign: center;">
		<input type="button" class="btn_back" value="<{$lang.repository_return}>" onclick="commonCls.sendView('<{$id}>', 'repository_view_main_item_edittexts'); return false;" />
		<input type="button" class="btn_blue" value="<{$lang.repository_save}>" onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('stay'); return false;" />
		<input type="button" class="btn_next" value="<{$lang.repository_page_next}>" onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('next'); return false;" />
	</div>
    <center>
        <{if $action.errMsg != null && count($action.errMsg) > 0}>
        <div class="error_msg al">
            <{foreach from=$action.errMsg item=msg}>
            <{$msg|smarty:nodefaults}><br/>
            <{/foreach}>
        </div>
        <{/if}>
        <{if $action.warningMsg != null && count($action.warningMsg) > 0}>
        <div class="warning_msg al">
            <{foreach from=$action.warningMsg item=msg}>
            <{$msg|smarty:nodefaults}><br/>
            <{/foreach}>
        </div>
        <{/if}>
    </center>

<{* Add join set insert index and set item links 2008/12/17 Y.Nakao --start-- *}>
<div class="box_center">
<table class="paging full">
	<tr>
		<td valign=top class="w196px">

			<div id="repo_side_navi">

			<div id="_repository_keyword">
			<{* keyword search *}>
				<h3 class="th_repos text_color"><span><{$lang.repository_search_keyword}><{$lang.repository_search_start}></span></h3>

				<form name="id_form_edit_links_search_keyword" name="form_edit_links_search_keyword">
				<div class="plr05 ptb10">
					<div class="keyword_bk"><em><input type="text" class="<{if $smarty.session._lang == "japanese"}>keyword_text<{else}>keyword_text_eng<{/if}>" onkeypress="return clickSearch<{$id}>(event);" name="search_keyword" id="id_search_keyword" value="<{$smarty.session.link_searchkeyword}>"></em></div>
					<input type="text" name="dummy" style="position:absolute;visibility:hidden">
					<div class="fl"><input type="button" class="btn_blue mg00" value="<{$lang.repository_search_start}>" onclick="repositoryCls['<{$id}>'].sendSearchKeywordItemLink('keyword_search', '0', encodeURIComponent($('id_search_keyword').value)); return false;"></div>
					<div class="clear">
					<label for="search_type_simple"><input type="radio" name="search_type" id="search_type_simple" value="simple" <{if $smarty.session.link_searchtype=="simple"}>checked<{/if}>><{$lang.repository_search_type_simple}></label>&nbsp;
					<label for="search_type_detail"><input type="radio" name="search_type" id="search_type_detail" value="detail" <{if $smarty.session.link_searchtype!="simple"}>checked<{/if}>><{$lang.repository_search_type_detail}></label><br/>
					</div>
				</form>
				</div></div>
			<{* index tree *}>
			<{* make index tree 2008/12/03 Y.Nakao --start-- *}>
			<h3 class="th_repos text_color"><span><{$lang.repository_index_tree}></span></h3>
			<div id="linkTreepanel" class="repository_left_frame_tree item_edit_links_colors" style="width: <{$smarty.const._SNIPPET_WIDTH}>px; overflow:auto;" />
			<{include file="repository_item_search_tree.html"}>
			</div>
			<{* make index tree 2008/12/03 Y.Nakao --end-- *}>
			</div><!-- //repo_side_navi -->

		</td>

		<td valign=top>
			<{* setting links for insert index *}>
			<h3 class="th_repos_title_bar text_colo w95"><{$lang.repository_admin_index_order}><font color="red">*</font></h3>
			<form name="item_index_form" id="id_item_index_form">
				<div class="th_classic_content3 al item_edit_links_colors"><{$lang.repository_item_select_position_indice}></div>
				<div class="th_classic_content3 full" style="text-align: left;">
					<label id="selected_index"cclass="h01em"></label>
					<input type="hidden" id="check_insert_idx" readonly>
					<input type="hidden" id="check_insert_idx_name" readonly>
				</div>
			</form>
			<{* setting links for item *}>
			<h3 class="th_repos_title_bar text_color w95 paging"><{$lang.repository_set_link}></h3>
			<div class="paging full" id="item_links">
				<{*タイトル*}>
				<div class="actionsortbox">
					<table class="text_color">
					<tr>
					 <td class="connecter w30px"></td>
					 <td class="pd05_00_10_00">
					  <b>
					   <{if $smarty.session._lang=="japanese"}>
			            <{if $smarty.session.base_attr.title != "" && $smarty.session.base_attr.title != null && $smarty.session.base_attr.title != "タイトル無し"}>
			             <{$smarty.session.base_attr.title}>
			            <{elseif $smarty.session.base_attr.title_english!="no title"}>
			             <{$smarty.session.base_attr.title_english}>
			            <{/if}>
			           <{else}>
			            <{if $smarty.session.base_attr.title_english != "" && $smarty.session.base_attr.title_english != null && $smarty.session.base_attr.title_english != "no title"}>
			             <{$smarty.session.base_attr.title_english}>
			            <{elseif $smarty.session.base_attr.title != "タイトル無し"}>
			             <{$smarty.session.base_attr.title}>
			            <{/if}>
			           <{/if}>
					  </b>
					 </td>
					</tr>
					</table>
				</div>
				<div class="th_classic_content2 content text_color">
					<form name="item_link_form" id="item_edit_link">
						 <table class="text_color full" frame="hsides">
						  <{*リンクリスト*}>
						  <{section name=i loop=$smarty.session.link}>
						  <{assign var="link" value=$smarty.session.link}>
						  <{assign var="cnt1" value=$smarty.section.i.index}>
						  <{* 検索結果件数ループ *}>
						  <{if $smarty.section.i.index%2==0}>
						   <tr class="list_line_repos1">
						  <{else}>
						   <tr class="list_line_repos2">
						  <{/if}>
						  <{if $cnt1!=count($link)-1}>
						   <td class="connecter2 w24px" ></td>
						  <{else}>
						   <td class="connecter3 w24px"></td>
						  <{/if}>
						   <{* セレクトボックス *}>
						   <td class="ranking_list_paging w100px vt">
						    <select id="item_relation_select" name="item_relation_select[]">
						     <option value=" "><{$lang.repository_item_relation_relate_to}></option>
						     <{foreach from=$action.relationArray item=relation}>
							  <option value="<{$relation[0]}>" <{if $link[i].relation==$relation[0]}>SELECTED<{/if}>><{$relation[1]}></option>
						     <{/foreach}>
						    </select>
						   </td>
						   <{*タイトル*}>
						   <td class="ranking_list_paging vt">
						       <{* Bugfix item relation 2011/06/29 Y.Nakao --start-- *}>
						       <{if $smarty.session._lang == "japanese"}>
						           <{if strlen($link[i].title)>0}>
						               <{$link[i].title}>
						           <{else}>
						               <{$link[i].title_english}>
						           <{/if}>
						       <{else}>
						           <{if strlen($link[i].title_english)>0}>
						               <{$link[i].title_english}>
						           <{else}>
						               <{$link[i].title}>
						           <{/if}>
						       <{/if}>
						       <{* Bugfix item relation 2011/06/29 Y.Nakao --end-- *}>
						   </td>
						   <td class="ranking_list_paging td_repos w50px" valign=center>
						    <input type="button" class="btn_delete" value="<{$lang.repository_delete}>" onclick="repositoryCls['<{$id}>'].sendSearchKeywordItemLink('delete_link', '<{$cnt1}>'); return false;">
						   </td>
						  </tr>
						  <{/section}>
						 </table>
					</form>
					<{*検索結果一覧表示(タイトルのみ)表示欄*}>
					<div id="_repository_folders<{$id}>" class="repository_right_frame paging pl10">
						<div calss="al pd04"><b><{$lang.repository_search_result}><b></div>
						<div class="item_edit_texts_frame">
						<table class="ac full" cellspacing="0">
							<{*ヘッダ*}>
							<tr>
								<th class="th_col_repos item_edit_list w30px" valign=top nowrap>
								No
								</th>
								<th class="th_col_repos item_edit_list" valign=top nowrap>
								<{$lang.repository_title}>
								</th>
								<th class="th_col_repos item_edit_list" valign=top nowrap>
								<{$lang.repository_itemtype}>
								</th>
								<th class="th_col_repos item_edit_list" valign=top nowrap>
								<{$lang.repository_add}>
								</th>
							</tr>
							<{*検索結果*}>
							<{section name=i loop=$smarty.session.link_search}>
							<{assign var="link_search" value=$smarty.session.link_search}>
							<{assign var="cnt1" value=$smarty.section.i.index}>

							<{*boder rows add 2012/01/27 A.jin -- start--*}>
							<{if $cnt1%2==0}>
							     <tr class="list_line_repos1">
							<{else}>
						         <tr class="list_line_repos2">
							<{/if}>
							<!-- <tr> -->
								<td class="al pl05" valign=top>
								<{$smarty.section.i.index_next}>
								</td>
								<td class="al" valign=top>
								 <{if $smarty.session._lang=="japanese"}>
						          <{if $link_search[i].title != "" && $link_search[i].title != null}>
						           <{$link_search[i].title}>
						          <{else}>
						           <{$link_search[i].title_english}>
						          <{/if}>
						         <{else}>
						          <{if $link_search[i].title_english != "" && $link_search[i].title_english != null}>
						           <{$link_search[i].title_english}>
						          <{else}>
						           <{$link_search[i].title}>
						          <{/if}>
						         <{/if}>

								</td>
								<td class="ac" valign=center>
								<{$link_search[i].item_type_name}>
								</td>
								<td class="ac" valign=center>
									<input type="button" class="btn_white" value="<{$lang.repository_up}>" onclick="repositoryCls['<{$id}>'].sendSearchKeywordItemLink('add_link', '<{$cnt1}>'); return false;">
								</td>
							</tr>
							<{*boder rows add 2012/01/27 A.jin -- end--*}>
							<{/section}>
						</table>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align:center; text-valign: center;">
				<input type="button" class="btn_back" value="<{$lang.repository_return}>" onclick="commonCls.sendView('<{$id}>', 'repository_view_main_item_edittexts'); return false;" />
				<input type="button" class="btn_blue" value="<{$lang.repository_save}>" onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('stay'); return false;" />
				<input type="button" class="btn_next" value="<{$lang.repository_page_next}>" onclick="repositoryCls['<{$id}>'].repositoryItemEditLinks('next'); return false;" />
			</div>
		</td>
	</tr>
</table>
</div>

</div>

<{if count($smarty.session.indice)>0 }>
<{section name=i loop=$smarty.session.indice}>
<{assign var="indice" value=$smarty.session.indice}>
<script class="nc_script" type="text/javascript">
	<{* modify replace string K.Matsuo 2011/09/07 --start-- *}>
	var str = '<{$indice[i].index_name}>';
	str = str.replace("'", "\'");
	if($('selected_index').innerHTML == ""){
		$('selected_index').innerHTML = str;
	} else {
		$('selected_index').innerHTML += ", "+str;
	}
	<{* modify K.Matsuo 2011/09/07 --start-- *}>
	if($('check_insert_idx').value == ""){
		$('check_insert_idx').value = '<{$indice[i].index_id}>';
	} else {
		$('check_insert_idx').value += "|"+'<{$indice[i].index_id}>';
	}
	if($('check_insert_idx_name').value == ""){
		$('check_insert_idx_name').value = encodeURIComponent('<{$indice[i].index_name}>');
	} else {
		$('check_insert_idx_name').value += "|"+encodeURIComponent('<{$indice[i].index_name}>');
	}
</script>
<{/section}>
<{/if}>

<{* 2008/05/20 S.Kawasaki nc_script文字数制限の暫定対応でツリー生成-描画コードを分割して記述するように修正*}>
<{* make index tree 2008/12/03 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
    repositoryInitTree<{$id}>('linkTreepanel','<{$id}>', 'link');
	var hei = $('item_links').offsetHeight + 50;
	if(hei > <{$smarty.const._SNIPPET_HEIGHT}>){
		$('linkTreepanel').style.height = hei+"px";
	} else {
		$('linkTreepanel').style.height = <{$smarty.const._SNIPPET_HEIGHT}>+"px";
	}
</script>

<script class="nc_script" type="text/javascript">
    repositoryClickTreeCheck<{$id}> = function(event, id, idx_name){
		if (event.preventDefault) {
			event.stopPropagation();
		} else {
			event.cancelBubble = true;
		}
		if( $('selected_index') != null ) {
			var elm_name = 'tree_check' + id;
			if($(elm_name).checked){
				// check true
				if($('selected_index').innerHTML != ""){
					$('selected_index').innerHTML += ', ' + idx_name;
					$('check_insert_idx').value += '|' + id;
					$('check_insert_idx_name').value += '|' + encodeURIComponent(idx_name);
				} else {
					$('selected_index').innerHTML = idx_name;
					$('check_insert_idx').value = id;
					$('check_insert_idx_name').value = encodeURIComponent(idx_name);
				}
				$(elm_name).checked = "true";
			} else {
				// check false
				// view index name
				var str = ", "+$('selected_index').innerHTML+", ";
				str = str.replace(", "+idx_name+", ", ", ");
				str = str.substr(2,str.length-4);
				$('selected_index').innerHTML = str;
				// hidden index id
				str = "|"+$('check_insert_idx').value+"|";
				str = str.replace("|"+id+"|", "|");
				str = str.substr(1,str.length-2);
				$('check_insert_idx').value = str;
				// hidden index name
				$('check_insert_idx_name').value = encodeURIComponent($('selected_index').innerHTML.replace(/, /g, "|"));
			}
		}
	}
</script>
<{* make index tree 2008/12/03 Y.Nakao --end-- *}>
<script class="nc_script" type="text/javascript">
	clickSearch<{$id}> = function(event) {
		if ( event.keyCode == 13 ) {
			// push key is 'enter'
			repositoryCls['<{$id}>'].sendSearchKeywordItemLink('keyword_search', '0', encodeURIComponent($('id_search_keyword').value));
			return false;
		}
	}
</script>
<{include file="repository_script.html"}>
