<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_edit_tree_indextree.html 59724 2015-11-04 04:15:36Z yuko_nakao $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{* インデックスツリー *}>
<{strip}>
	<div id="repository_index_tree">
	<h3 class="th_repos_title_bar nc_block_title c"><span class="pl05"><{$lang.repository_index_tree}></span></h3>
	<div class="plr05 ptb10">
		<{* new or del *}>
		<div class="line_edit_tree padding ac mb10">
			<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 --start-- *}>
			<{* 「追加」ボタン *}>
			<button class="btn_white" id="index_insert_button<{$id}>" onclick="javascript: insertNode();"><img class="branch_repos" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/tree/insert.png"><{$lang.repository_edittree_newnode}></button>
			<{* 「削除」ボタン *}>
			<{* ルートインデックスの場合は使用不可*}>
			<button class="btn_white" id="index_delete_button<{$id}>" disabled="true" onclick="javascript: deleteNodeConfirm(event); this.blur();"><img class="branch_repos" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/tree/delete.png"><{$lang.repository_edittree_delnode}></button>
			<{* Modify Directory specification BASE_URL K.Matsuo 2011/9/2 --end-- *}>
		</div>
		
		<{* index tree *}>
		<div class="th_classic_content content" id="editTree<{$id}>panel" style="width: <{$smarty.const._SNIPPET_WIDTH}>px; overflow:auto;"></div>
		
		<{include file="repository_item_search_tree.html"}>
	</div>
	<div id="cursor" class="dragImage" style="position:absolute; display='none'; height=20px;"></div>
<{/strip}>
