<{* 検索用窓（全タブ共通） *}>
<div align="center">
	<form id="name_authority_search">
		<table cellspacing="2" style="word-break: break-all;">
			<tr>
				<td class="pd05"><{$lang.repository_name_authority_edit_label_nameAuthorityId}></td>
				<td class="pd05">
					<input type="text" id="name_authority_search_id<{$id}>" size="5" />
					<input type="hidden" id="name_authority_search_id_value<{$id}>" name="author_id" size="5" />
				</td>
				<td class="pd05"><{$lang.repository_name_authority_edit_label_surname}></td>
				<td class="pd05">
					<input type="text" id="name_authority_search_family<{$id}>" size="5" />
					<input type="hidden" id="name_authority_search_family_value<{$id}>" name="family" size="5" />
				</td>
				<td class="pd05"><{$lang.repository_name_authority_edit_label_name}></td>
				<td class="pd05">
					<input type="text" id="name_authority_search_given<{$id}>" size="5" />
					<input type="hidden" id="name_authority_search_given_value<{$id}>" name="name" size="5" />
				</td>
				<td></td>
			</tr>
			<tr>
				<td class="pd05"><{$lang.repository_name_authority_edit_label_mail}></td>
				<td class="pd05" colspan="4">
					<input type="text" id="name_authority_search_mailaddress<{$id}>" size="23" />
					<input type="hidden" id="name_authority_search_mailaddress_value<{$id}>" name="mail" size="15" />
				</td>
				<td class="pd05" colspan="2">
					<select id="name_authority_search_external_author_id_prefix<{$id}>">
						<{section name=ii loop=$action.author_id_prefix_list}>
							<option value="<{$action.author_id_prefix_list[ii].prefix_id}>"><{$action.author_id_prefix_list[ii].prefix_name}></option>
						<{/section}>
					</select>
					<input type="hidden" id="name_authority_search_external_author_id_prefix_value<{$id}>" name="prefix_id" size="15" />
				</td>
				<td class="pd05">
					<input type="text" id="name_authority_search_external_author_id_suffix<{$id}>" size="15" />
					<input type="hidden" id="name_authority_search_external_author_id_suffix_value<{$id}>" name="suffix" size="15" />
				</td>
			</tr>
		</table>
	</form>
</div>
