<{* // -------------------------------------------------------------------- *}>
<{* //                                                                      *}>
<{* // $Id: repository_item_doi.html 42605 2014-10-03 01:02:01Z keiya_sugimoto $           *}>
<{* //                                                                      *}>
<{* // Copyright (c) 2007 - 2008, National Institute of Informatics,         *}>
<{* // Research and Development Center for Scientific Information Resources  *}>
<{* //                                                                      *}>
<{* // This program is licensed under a Creative Commons BSD Licence        *}>
<{* // http://creativecommons.org/licenses/BSD/                             *}>
<{* //                                                                      *}>
<{* // -------------------------------------------------------------------- *}>

<{strip}>
<div id="repository<{$id}>_searchDeleteDiv">
	<table class="full">
		<tr>
			<{* HELP *}>
			<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
				<div class="fr">
					<a style="cursor: help;" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'item_doibulkgrant'); return false;" href="#">
						<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
					</a>
				</div>
			<{/if}>
		</tr>
		<tr>
			<td class="pd10">
				<div id="select_sort_index<{$id}>" class="al">
					<{if $action.delete_success_num != null}>
						<font style="color:#f00;"><{$lang.repository_item_search_delete_num|replace:"%s":$action.delete_success_num}></font>
						<{* ●件削除しました*}>
						
					<{elseif strlen($action.meta) == 0 && strlen($action.all) == 0 && strlen($action.itemTypeId) == 0}>
						<font style="color:#f00;"><{$lang.repository_item_search_delete_search}></font>
						<{* キーワード検索を実行してください*}>
						
					<{elseif count($action.titleData) == 0}>
						<font style="color:#f00;"><{$lang.repository_search_error2}></font>
						<{* 一致する情報は見つかりませんでした*}>
					<{/if}>
				</div>
			</td>
		</tr>
		
		
		<{if count($action.titleData) > 0}><{* タイトル一覧があるとき結果を表示 *}>

			<tr>
				<td　align="center">
					<font><{$lang.repository_item_search_view_num}>：</font>
					<font><{$action.item_num}></font>
				</td>
			</tr>
			<tr>
				<td>
					<{* ページ番号 *}>
					<{if count($action.titleData) > 0}>
						<{include file="repository_item_searchdelete_page.html"}>
					<{/if}>
				</td>
			</tr>
			<tr>
				<td align="center">
					<input type="button" value="<{$lang.repository_item_search_delete_button_title}>" class="btn_delete" onclick="javascript: deleteSearchedItem<{$id}>(this);"><{* アイテムを削除ボタン *}>
				</td>
			</tr>
			<tr>
				<td style="position: relative;">
					<font style="font-weight: bold; position: relative; left: 8.5%; color:#f00; float: left;"><{$lang.repository_item_search_asterisk}>：<{$lang.repository_item_search_registered_item}></font>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<form id="enter_search_delete_form<{$id}>">
							<table id="repository_search_delete_title_list<{$id}>" class="full">
								<tr>
									<th style="border: 1px solid #E0E0E0; width : 10%; text-align:center">
										<{* 全てのチェックボックスにチェックを入れる *}>
										<input type="checkbox" name="select_all" onchange="javascript: checkAllSearchDelete<{$id}>();" id="search_delete_all_check<{$id}>">
									</th>
									<th style="border: 1px solid #E0E0E0;">
										<{$lang.repository_item_search_delete_title}><{* タイトル *}>
									</th>
								</tr>
								<{foreach from=$action.titleData item=itemData name="itemTitleList"}>
								
									<{assign var="cnt" value=$smarty.foreach.itemTitleList.iteration-1}> 
									<tr id="repository_search_delete_management_<{$id}>" height="30px" style="border: 1px solid #E0E0E0;">
										
										<td style="position: relative;">
											<{* 個々のチェックボックス *}>
											<input type="checkbox"  name="delete_search_items[]"  style="position: relative; right: 38%; float: right" value="<{$cnt}>" id="delete_search_items<{$id}><{$cnt}>" onClick="changeCheckAllSearchDelete<{$id}>(this.checked)">
											<{if $itemData.review_status == -1}>
												<div style="font-weight: bold; position: relative; right: -25%; color:#f00; float: right;"><{$lang.repository_item_search_asterisk}></div>
											<{/if}>
										</td>
										
										<td>
											<{if $itemData.title!="" }><{* タイトル *}>
												<span title="<{$itemData.title|truncate}>"><{$itemData.title|truncate:60:"..."}></span>
											<{else}>
												<span title="<{$itemData.title_english}>"><{$itemData.title_english|truncate:60:"..."}></span>
											<{/if}>
										</td>
									</tr>
								<{/foreach}>
							</table>
						</form>
					</div>
				</td>
			</tr>
			<tr>
				<td align="center">
					<input type="button" value="<{$lang.repository_item_search_delete_button_title}>" class="btn_delete" onclick="javascript: deleteSearchedItem<{$id}>(this);"><{* アイテムを削除ボタン *}>
				</td>
			</tr>
			
		<{/if}>
	</table>
	
	<{* ページ番号 *}>
	<{if count($action.titleData) > 0}>
		<{include file="repository_item_searchdelete_page.html"}>
	<{/if}>
	<div>
		<font><{$lang.repository_item_search_view_num}>：</font>
		<font><{$action.item_num}></font>
	</div>
</div>

<{/strip}>

<script class="nc_script" type="text/javascript">
	checkAllSearchDelete<{$id}> = function()
	{
		var flg = $('search_delete_all_check<{$id}>').checked;
		
		var checkedbox = document.getElementsByName("delete_search_items[]");
		
		if(checkedbox)
		{
			for(var cnt = 0; cnt < checkedbox.length; cnt++)
			{
				checkedbox[cnt].checked = flg;
			}
		}
		
		return false;
	}
</script>
<script class="nc_script" type="text/javascript">
	changeCheckAllSearchDelete<{$id}> = function(chk_flg)
	{
		if( chk_flg == false )
		{
			if(document.getElementById('search_delete_all_check<{$id}>') != null){
				document.getElementById('search_delete_all_check<{$id}>').checked = false;
			}
		}
		else
		{
			var checkedbox = document.getElementsByName("delete_search_items[]");
			if(checkedbox)
			{
				var flg_all_check = true;
				for(var cnt = 0; cnt < checkedbox.length; cnt++)
				{
					if( checkedbox[cnt].checked == false )
					{
						flg_all_check = false;
						document.getElementById('search_delete_all_check<{$id}>').checked = false;
						break;
					}
				}
				
				if( flg_all_check == true )
				{
					document.getElementById('search_delete_all_check<{$id}>').checked = true;
				}
			}
		}
		return false;
	}
</script>
<script class="nc_script" type="text/javascript">
	deleteSearchedItem<{$id}> = function(elm)
	{
		var exist_check = false;
		
		var checkedbox = document.getElementsByName("delete_search_items[]");
		
		if(checkedbox)
		{
			for(var cnt = 0; cnt < checkedbox.length; cnt++)
			{
				if(checkedbox[cnt].checked == true)
				{
					exist_check = true;
					break;
				}
			}
		}
		
		if( exist_check == false )
		{
			alert('<{$lang.repository_item_search_delete_error_no_check}>');
			return false;
		}
		else
		{
			var keyword = "";
			var searchkeyword = document.getElementById("id_search_delete_keyword<{$id}>");
			keyword = encodeURIComponent(searchkeyword.value);

			var search_type = "detail";
			<{if $action.search_type != null}>
				search_type = "<{$action.search_type}>";
			<{/if}>
			
			var itemtype = "";
	        var selects = document.getElementById("item_type_id<{$id}>");
	        itemtype = selects.options[selects.selectedIndex].value;
	        
	        var top_el = $(repositoryCls['<{$id}>'].id);
			
			<{* 削除対象アイテムにDOIが含まれているか確認する *}>
			var form = document.getElementById('enter_search_delete_form<{$id}>');
			var url = _nc_base_url + "/index.php";
			var pars = "action=repository_action_edit_item_searchdelete" + 
					   "&"+ Form.serialize(form) + 
					   "&searchkeyword=" + keyword +
					   "&searchItemtype=" + itemtype + 
					   "&search_type=" + search_type +
					   "&doi_check_flg=1" +
					   "&page_id=" + "<{$page_id}>" +
					   "&block_id=" + <{$block_id}>;
			var myAjax = new Ajax.Request(
					url,
					{
						method: 'post',
						parameters: pars,
						asynchronous:false,
						onFailure : function(){
							alert(error);
						},
						onSuccess : function(res){
							if(res.responseText == "exist"){
								<{* DOIが存在する場合はDOI以外を削除する旨のポップアップを表示する *}>
								commonCls.sendPopupView(null, 
								  {'prefix_id_name':'repository_view_common_item_setting_delete_confirm', 'action': 'repository_view_common_item_setting_delete_confirm', 'baseBlock': repositoryCls['<{$id}>'].id, 'deleteType': 1, 'searchKeyword': keyword, 'searchType': search_type, 'searchItemType': itemtype},
								  {'top_el':top_el,'center_flag':true,'modal_flag':true});
							} else {
								<{* DOIが存在しない場合は削除確認ダイアログ *}>
								if(commonCls.confirm("<{$lang.repository_confirm_delete3}>")){
									repositoryCls['<{$id}>'].repositoryDeleteSearchedItem(keyword, itemtype, search_type, repositoryCls['<{$id}>'].id);
								} else {
									return false;
								}
							}
						}
					}
			);
		}
	}
</script>
<script class="nc_script" type="text/javascript">
	redirctPageChange<{$id}> = function(page_no) {
		if('<{$action.search_type}>' == "itemType"){
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting',  'item_setting_active_tab':2, 'itemTypeId':'<{$action.itemTypeId}>', 'page_no':page_no });
		}
		else{
		var keyword = "";
		var search_keyword = document.getElementById("id_search_delete_keyword<{$id}>");
		keyword = encodeURIComponent(search_keyword.value);
		
		var search_type = "";
		var radioList = document.getElementsByName("search_type<{$id}>");
		for(var i=0; i<radioList.length; i++){
			if (radioList[i].checked) {
				search_type = radioList[i].value;
				break;
			}
		}
		
		if( search_type == "simple" ){
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting',  'item_setting_active_tab':2, 'meta':keyword, 'page_no':page_no });
		}
		else{
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting',  'item_setting_active_tab':2, 'all':keyword, 'page_no':page_no });
		}
		}
		
	}
</script>