<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_setting.html 17777 2012-05-22 09:53:02Z tatsuya_koyasu $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{strip}>
	<{if $action.authCheckFlg==true}>
	<div class="mt10 min-w1000px">
		
		<{if $action.errMsg != null  && count($action.errMsg) > 0 }>
		<p class="error_msg">
			<span class="red">
				<{foreach from=$action.errMsg item=msg}>
					<{$msg|smarty:nodefaults}><br/>
				<{/foreach}>
			</span>
		</p>
		<{/if}>
		
		<div id="repo_side_navi" class="fl" style="width: <{$smarty.const._SNIPPET_WIDTH}>px; overflow:auto;">
			<!-- キーワード検索 -->
			<div id="_repository_keyword"  style="display:none;">
				<h3 id="item_setting<{$id}>_title" class="th_repos_title_bar nc_block_title c"><span class="pl05"><{$lang.repository_admin_keyword_search}></span></h3>
				<form name="id_form_search_delete_search_keyword" name="form_search_delete_search_keyword" method="post">
					<div class="plr05 ptb10">
						<div class="keyword_bk">
							<em>
								<input type="text" class="<{if $smarty.session._lang == "japanese"}>keyword_text<{else}>keyword_text_eng<{/if}>" onkeypress="return clickSearch<{$id}>(event);" name="search_keyword" id="id_search_delete_keyword<{$id}>" value="<{$action.searchkeywordForDelete}>">
							</em>
						</div>
						<input type="text" name="dummy" style="position:absolute;visibility:hidden">
						<div class="fl">
							<input type="button" class="btn_blue mg00" value="<{$lang.repository_search_start}>" onclick="repositorySearchKeyword<{$id}>( encodeURIComponent($('id_search_delete_keyword<{$id}>').value)); return false;">
						</div>
						<div class="clear">
							<label for="search_type_simple"><input type="radio" name="search_type<{$id}>" id="search_type_simple" value="simple" <{if $action.search_type=="simple"}>checked<{/if}>><{$lang.repository_search_type_simple}></label>&nbsp;
							<label for="search_type_detail"><input type="radio" name="search_type<{$id}>" id="search_type_detail" value="detail" <{if $action.search_type!="simple"}>checked<{/if}>><{$lang.repository_search_type_detail}></label><br/>
						</div>
					</div>
				</form>
			</div>
			<!-- キーワード検索 -->
			
			<!-- K.Miura 2017/1/11 -->
			<!-- アイテムタイプ検索 -->
			<div id="_repository_itemtype_search"  style="display:none;">
				<h3 id="item_setting<{$id}>_title" class="th_repos_title_bar nc_block_title c"><span class="pl05"><{$lang.repository_admin_itemtype_search}></span></h3>
				<div class="plr05">
					<div class="ranking_list_paging">
						<select id="item_type_id<{$id}>" name="item_type_id" style="width:100%;">
      					<!-- アイテムタイプ一覧をスクリプトで登録。valueは主キー, 表示はアイテムタイプ名 -->
      					<option value="" ></option>
      					<{foreach from=$action.itemtype_data item=item_type}>
       						<option value="<{$item_type[0]}>" <{if $item_type[0] == $action.itemTypeId}>SELECTED<{/if}>><{$item_type[1]}></option>
      					<{/foreach}>
     					</select>
     				</div>
					<div class="fl plr05 pb10">
						<input type="button" class="btn_blue mg00" value="<{$lang.repository_search_start}>" onclick="javascript: repositorySearchItemtype();">
					</div>
				</div>
			</div>
			</form>
			<!-- アイテムタイプ検索 -->
			<!-- K.Miura 2017/1/11 -->
			
			
			<!-- インデックスツリー -->
			<div id="repository_index_tree" style="display:none;">
				<h3 id="item_setting<{$id}>_title" class="th_repos_title_bar nc_block_title c"><span class="pl05"><{$lang.repository_index_tree}></span></h3>
				<div>
					<div class="th_classic_content content" id="itemSettingTree<{$id}>panel">
					<{include file="repository_item_search_tree.html"}>
					</div>
				</div>
			</div>
			<!-- インデックスツリー -->
		</div>
		
	    <div id="item_setting<{$id}>_tabs_id" class="repository_right_header pr05">
			<div class="comp_tabset"></div>
			<div class="comp_tabset_content">
				<div class="th_classic_content content text_color" id="itemSettingTab1" align="center">
					<{include file="repository_item_customsort.html"}>
				</div>
				<div class="th_classic_content content text_color" id="itemSettingTab2" align="center">
					<{include file="repository_item_embargo.html"}>
				</div>
				<div class="th_classic_content content text_color" id="itemSettingTab3" align="center">
					<{if strlen($action.meta) > 0 || strlen($action.all) > 0 || strlen($action.searchkeywordForDelete) > 0 || strlen($action.itemTypeId) > 0 }>
						<{include file="repository_item_searchdelete.html"}>
					<{elseif $action.sortIndexId != 0 }>
						<{include file="repository_item_listdelete.html"}>
					<{else}>
						<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
							<div class="fr">
								<a style="cursor: help;" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'item_doibulkgrant'); return false;" href="#">
									<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
								</a>
							</div>
						<{/if}>
						<div style="height: 40px;">
							<font style="color:#f00;"><{$lang.repository_item_listdelete_selsect_index_or_search_keyword}></font>
						</div>
					<{/if}>
				</div>
				
				<{if !defined("_REPOSITORY_WEKO_DOISUFFIX_FREE") || !$smarty.const._REPOSITORY_WEKO_DOISUFFIX_FREE}>
					<div class="th_classic_content content text_color" id="itemSettingTab4" align="center">
						<{include file="repository_item_doi.html"}>
					</div>
				<{/if}>
				
			</div>
			<input type="hidden" value="0" id="item_setting_active_tab_id" />
		</div>
	</div>
	<{else}>
		<p class="error_msg">
			<span class="red">
				<{$lang._invalid_auth}>
			</span>
		</p>
	<{/if}>
<{/strip}>
<{include file="repository_script.html"}>

<script class="nc_script" type="text/javascript">
	var active_tab = "item_setting_active_tab_id";
	changeActiveTab1 = function(){
		var active_tab = "item_setting_active_tab_id";
		$(active_tab).value = 0;
		initSettingTree<{$id}>(1);
		changeSideDiv<{$id}>(1);
	}
	changeActiveTab2 = function(){
		var active_tab = "item_setting_active_tab_id";
		$(active_tab).value = 1;
		initSettingTree<{$id}>(2);
		changeSideDiv<{$id}>(2);
	}
	changeActiveTab3 = function(){
		var active_tab = "item_setting_active_tab_id";
		$(active_tab).value = 2;
		initSettingTree<{$id}>(3);
		changeSideDiv<{$id}>(3);
	}
	<{if !defined("_REPOSITORY_WEKO_DOISUFFIX_FREE") || !$smarty.const._REPOSITORY_WEKO_DOISUFFIX_FREE}>
		changeActiveTab4 = function(){
			var active_tab = "item_setting_active_tab_id";
			$(active_tab).value = 3;
			initSettingTree<{$id}>(4);
			changeSideDiv<{$id}>(4);
		}
	<{/if}>


	initSettingTree<{$id}> = function(num){
		var id = num;

		var elm = $('itemSettingTab'+id);
		var elm_title = $('item_setting<{$id}>_title');

		var elm_height = Element.getHeight(elm);
		var elm_title_height = Element.getHeight(elm_title);

		//var tree_height = elm_height - elm_title_height;
		var tree_height = elm_height;

		if(tree_height > <{$smarty.const._SNIPPET_HEIGHT}>)
		{
			$('itemSettingTree<{$id}>panel').style.height = tree_height + "px";
		}
		else
		{
			$('itemSettingTree<{$id}>panel').style.height = <{$smarty.const._SNIPPET_HEIGHT}>+"px";
		}

		$('itemSettingTree<{$id}>panel').style.width = <{$smarty.const._SNIPPET_WIDTH}>+"px";
	}
	
	changeSideDiv<{$id}> = function(tabNumber){
		
		if( tabNumber == 3 ){
			document.getElementById("repository_index_tree").style.display="block";
			document.getElementById("_repository_keyword").style.display="block";
			document.getElementById("_repository_itemtype_search").style.display="block"; //変更
		}
		else
		{
			document.getElementById("repository_index_tree").style.display="block";
			document.getElementById("_repository_keyword").style.display="none";
			document.getElementById("_repository_itemtype_search").style.display="none"; //変更
		}
	}
	
</script>

<script class="nc_script" type="text/javascript">
		var tabset = new compTabset('<{$id}>');
		tabset.setActiveIndex(valueParseInt(<{$action.item_setting_active_tab}>));
		tabset.addTabset("<{$lang.repository_item_sortorder}>", changeActiveTab1);
		tabset.addTabset("<{$lang.repository_item_embargo}>", changeActiveTab2);
		tabset.addTabset("<{$lang.repository_item_listdelete}>", changeActiveTab3);
		<{if !defined("_REPOSITORY_WEKO_DOISUFFIX_FREE") || !$smarty.const._REPOSITORY_WEKO_DOISUFFIX_FREE}>
			tabset.addTabset("<{$lang.repository_item_enterdoi}>", changeActiveTab4);
		<{/if}>
		tabset.render();
</script>

<script class="nc_script" type="text/javascript">
    repositoryInitTree<{$id}>('itemSettingTree<{$id}>panel','<{$id}>', 'sel');
</script>

<script class="nc_script" type="text/javascript">
	var click_id = '';
	repositoryClickTreeSelect<{$id}> = function(id, idx_name){
		var active_tab = "item_setting_active_tab_id";
		click_id = id;
		if($(active_tab).value == "0")
		{
			if( $('select_sort_index') != null ) {
				$('select_sort_index').innerHTML = idx_name;
				$('select_sort_index_id').value = id;
			}
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting', 'sortIndexId':id, 'sortIndexName':idx_name, 'item_setting_active_tab':0});

			initSettingTree<{$id}>(1);

			return false;
		}
		else if($(active_tab).value == "1")
		{


			if( $('select_embargo_index') != null ) {
				$('select_embargo_index').innerHTML = idx_name;
				$('select_embargo_index_id').value = id;
			}

			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting', 'sortIndexId':id, 'sortIndexName':idx_name, 'item_setting_active_tab':1});

			initSettingTree<{$id}>(2);

			return false;
		}
		else if($(active_tab).value == "2")
		{
			if( $('select_delete_index') != null ) {
				$('select_delete_index').innerHTML = idx_name;
				$('select_delete_index_id').value = id;
			}
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting', 'sortIndexId':id, 'sortIndexName':idx_name, 'item_setting_active_tab':2});

			initSettingTree<{$id}>(3);

			return false;
		}
		else if($(active_tab).value == "3")
		{
			if( $('select_jalc_index') != null ) {
				$('select_jalc_index').innerHTML = idx_name;
				$('select_jalc_index_id').value = id;
			}
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting', 'sortIndexId':id, 'sortIndexName':idx_name, 'item_setting_active_tab':3});

			initSettingTree<{$id}>(4);

			return false;
		}
	}
</script>
<script class="nc_script" type="text/javascript">
	repositorySearchKeyword<{$id}> = function(keyword){
		var search_type = "";
		var radioList = document.getElementsByName("search_type<{$id}>");
		for(var i=0; i<radioList.length; i++){
			if (radioList[i].checked) {
				search_type = radioList[i].value;
				break;
			}
		}
		if( search_type == "simple" ){
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting',  'item_setting_active_tab':2, 'meta':keyword});
		}
		else if( search_type == "detail"){
			commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting',  'item_setting_active_tab':2, 'all':keyword});
		}
	}
</script>
<script class="nc_script" type="text/javascript">
	clickSearch<{$id}> = function(event) {
		if ( event.keyCode == 13 ) {
			// push key is 'enter'
			repositorySearchKeyword( encodeURIComponent($('id_search_delete_keyword<{$id}>').value));
			return false;
		}
	}
</script>
<!-- K.Miura 2017/1/11 --start-- -->
<script class="nc_script" type="text/javascript">
	repositorySearchItemtype = function(){
		var search_type = "itemtype";
        var selects = document.getElementById("item_type_id<{$id}>");
        var itemTypeId = selects.options[selects.selectedIndex].value;
        if(itemTypeId == ""){
        	alert('<{$lang.repository_itemtype_search_error}>');
        }
        else{
        	commonCls.sendView('<{$id}>', {'action':'repository_view_edit_item_setting',  'item_setting_active_tab':2, 'itemTypeId':itemTypeId, 'not_deleted_item_search_flag':1 });
        }
    }
</script>
<!-- K.Miura 2017/1/11 --end-- -->
