<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_mobile_item_search_indexlist.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->

<{strip}>
    
    <{if $smarty.session.child_index != "" || $action.index_biblioInfo_output_flag == 1}>
        
        <div style="padding-top: 10px; padding-bottom:20px;">
            <{* index list *}>
            <font size="5"><{$lang.repository_search_indexlist}></font>
            <{if $smarty.session.index_data != null}>
                <hr />
            <{/if}>
            
            <{assign var="index_data" value=$smarty.session.index_data}>
            <table border="0">
                <{* index pankuzu --start-- *}>
                <{if $smarty.session.index_data != null}>
                    <{assign var="index_data" value=$smarty.session.index_data}>
                    <tr>
                        <td>
                            <a target="_top" href="<{$smarty.const.BASE_URL}>/?action=repository_opensearch&index_id=0&page_id=<{$page_id}>&block_id=<{$block_id}>" />Root</a>
                            <span style="padding-right:5px;padding-left:5px;" onclick="javascript: repository<{$id}>ShowSubIndexTree(event, 'repository_subIndexPanelForIndexList<{$id}>', 'Root', 0);">
                                <img border="0" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/page_next.gif" />
                            </span>
                            <{if $smarty.session.parent_index_data != null}>
                                <{assign var="parent_index" value=$smarty.session.parent_index_data}>
                                <{section name=i loop=$parent_index}>
                                    <{strip}>
                                        <a target="_top" href="<{$smarty.const.BASE_URL}>/?action=repository_opensearch&index_id=<{$parent_index[i].index_id}>&count=<{$smarty.session.list_view_num}>&order=<{$smarty.session.sort_order}>&pn=1">
                                            <{* Add parameter (list_view_num, sort_order, page_no) 2009/12/11 K.Ando ---end--- *}>
                                            <{assign var="indexName" value=''}>
                                            <{if $smarty.session._lang=="japanese"}>
                                                <{if $parent_index[i].index_name != "" && $parent_index[i].index_name != null}>
                                                    <{$parent_index[i].index_name}>
                                                    <{assign var="indexName" value=$parent_index[i].index_name|truncate:15:"..."}>
                                                <{else}>
                                                    <{$parent_index[i].index_name_english}>
                                                    <{assign var="indexName" value=$parent_index[i].index_name_english|truncate:15:"..."}>
                                                <{/if}>
                                            <{else}>
                                                <{if $parent_index[i].index_name_english != "" && $parent_index[i].index_name_english != null}>
                                                    <{$parent_index[i].index_name_english}>
                                                    <{assign var="indexName" value=$parent_index[i].index_name_english|truncate:15:"..."}>
                                                <{else}>
                                                    <{$parent_index[i].index_name}>
                                                    <{assign var="indexName" value=$parent_index[i].index_name|truncate:15:"..."}>
                                                <{/if}>
                                            <{/if}>
                                        </a>
                                    <{/strip}>
                                    <span style="padding-right:5px;padding-left:5px;" onclick="javascript: repository<{$id}>ShowSubIndexTree(event, 'repository_subIndexPanelForIndexList<{$id}>', '<{$indexName}>', '<{$parent_index[i].index_id}>');">
                                        <img border="0" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/page_next.gif" />
                                    </span>
                                <{/section}>
                            <{/if}>
                            
                            <b>
                                <{if $smarty.session._lang=="japanese"}>
                                    <{if $index_data.index_name != "" && $index_data.index_name != null}>
                                        <{$index_data.index_name|smarty:nodefaults}>
                                    <{else}>
                                        <{$index_data.index_name_english|smarty:nodefaults}>
                                    <{/if}>
                                <{else}>
                                    <{if $index_data.index_name_english != "" && $index_data.index_name_english != null}>
                                        <{$index_data.index_name_english|smarty:nodefaults}>
                                    <{else}>
                                        <{$index_data.index_name|smarty:nodefaults}>
                                    <{/if}>
                                <{/if}>
                            </b>
                        
                        </td>
                    </tr>
                <{/if}>
                <{* index pankuzu --start-- *}>
            </table>
            
            <div style="display:none;background-color: #fff;border: 1px solid #000;" id="repository_subIndexPanelForIndexList<{$id}>"></div>
            
            <hr />
            <table class="list_table">
				<tr>
					<{* インデックス雑誌情報表示欄 *}>
					<{* 一覧表示かつ出力する設定になっていた場合に表示する(目次表示の場合index_biblioInfo_output_flagをセットしていない) *}>
					<{if $action.index_biblioInfo_output_flag == 1}>
						<{include file="repository_mobile_index_biblio_info.html"}>
					<{/if}>
				</tr>
			</table>
            <{* index list *}>
            <table border="0">
                <{foreach from=$smarty.session.child_index item=data name=loop}>
                    <{assign var="iCnt" value=$smarty.foreach.loop.iteration-1}>
                    <tr>
                        <{strip}>
                            <td>
                                <a target="_top" href="<{$smarty.session.child_index[$iCnt].permalink}>">
                                    <img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/tree/folderclose.png" />
                                </a>
                            </td>
                            <td width="100%">
                                <span>
                                    <a target="_top" href="<{$smarty.session.child_index[$iCnt].permalink}>">
                                        <{if $smarty.session._lang=="japanese"}>
                                            <{if $smarty.session.child_index[$iCnt].index_name != "" && $smarty.session.child_index[$iCnt].index_name != null}>
                                                <{$smarty.session.child_index[$iCnt].index_name}>
                                            <{else}>
                                                <{$smarty.session.child_index[$iCnt].index_name_english}>
                                            <{/if}>
                                        <{else}>
                                            <{if $smarty.session.child_index[$iCnt].index_name_english != "" && $smarty.session.child_index[$iCnt].index_name_english != null}>
                                                <{$smarty.session.child_index[$iCnt].index_name_english}>
                                            <{else}>
                                                <{$smarty.session.child_index[$iCnt].index_name}>
                                            <{/if}>
                                        <{/if}>
                                    </a>
                                    <wbr />
                                    <span class="text_color">&nbsp;[<{$smarty.session.child_index[$iCnt].contents}><{$lang.repository_search_item_count}></span>
									<{if $smarty.session.child_index[$iCnt].show_private_contents && $smarty.session.child_index[$iCnt].private_contents > 0}>
										<span class="text_color">&nbsp;(<{$lang.repository_search_private}><{$smarty.session.child_index[$iCnt].private_contents}><{$lang.repository_search_item_count}>)&nbsp;</span>
									<{/if}>
									<span class="text_color">]&nbsp;</span>
                                </span>
                            </td>
                        <{/strip}>
                        <td>
                            <{if $smarty.session.child_index[$iCnt].rss!=""}>
                                <div>
                                    <a target="_top" href="<{$smarty.session.child_index[$iCnt].rss}>" target="_blank"><img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/<{$action.wekoThemeName}>/rss.png" alt="RSS"/></a>
                                </div>
                            <{/if}>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <{if $smarty.session.child_index[$iCnt].comment!=""}>
                                <div style="font-size:80%;"
                                    onclick="if(document.getElementById('idxCommentMore<{$id}>_<{$iCnt}>')!=null){ 
                                                 if(document.getElementById('idxCommentMore<{$id}>_<{$iCnt}>').style.display=='none'){
                                                     document.getElementById('idxCommentMore<{$id}>_<{$iCnt}>').style.display='';
                                                 } else {
                                                     document.getElementById('idxCommentMore<{$id}>_<{$iCnt}>').style.display='none';
                                                 }
                                                 if(document.getElementById('idxComment<{$id}>_<{$iCnt}>').style.display=='none'){
                                                     document.getElementById('idxComment<{$id}>_<{$iCnt}>').style.display='';
                                                 } else {
                                                     document.getElementById('idxComment<{$id}>_<{$iCnt}>').style.display='none';
                                                 }
                                             }">
                                    <{foreach from=$smarty.session.child_index[$iCnt].comment_array item=comment_array name=idxComment}>
                                        <{assign var="lineCnt" value=$smarty.foreach.idxComment.iteration}>
                                        <{if $lineCnt==3}>
                                            <span id="idxComment<{$id}>_<{$iCnt}>" style="display: none;">
                                        <{/if}>
                                        <{$comment_array|smarty:nodefaults|regex_replace:'/(.*)\[\[([^\]\|]+)\|([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$3</a>$4'|regex_replace:'/(.*)\[\[([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$2</a>$3'}>
                                        
                                        <{if $lineCnt==2 && count($smarty.session.child_index[$iCnt].comment_array)>2}>
                                            <span id="idxCommentMore<{$id}>_<{$iCnt}>">...</span>
                                        <{/if}>
                                        <br />
                                    <{/foreach}>
                                    <{if $lineCnt>=3}>
                                        </span>
                                    <{/if}>
                                </div>
                                <{* index comment show space *}>
                            <{/if}>
                            <div style="padding:5px;"> </div>
                        </td>
                    </tr>
                <{/foreach}>
            </table>
            
        </div>
        
    <{/if}>
    
    
<{/strip}>
