<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_name_authority.html 76055 2017-02-07 00:32:50Z keiya_sugimoto $        -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->

<{strip}>
	<{* 表示中のタブID *}>
	<input type="hidden" id="repository<{$id}>ActiveTabIdNameAuthority" value="0"/>
	
	<div class="mt10">
		<div class="comp_tabset"></div>
		<div>
			<{* 追加・変更・削除 *}>
			<div class="contents" align="center">
				<{include file="repository_name_authority_edit.html"}>
			</div>
			
			<{* 付替え *}>
			<div class="contents" align="center">
				<{include file="repository_name_authority_change.html"}>
			</div>
			
			<{* インポート *}>
			<div class="contents" align="center">
				<div class="pd10">
					<{include file="repository_name_authority_import.html"}>
				</div>
			</div>
		</div>
	</div>
	
<{/strip}>

<{include file="repository_script.html"}>

<{* タブ切替時に実施する処理 *}>
<script class="nc_script" type="text/javascript">
	repository<{$id}>NameAuthorityControlActiveTab0 = function(){
		$('repository<{$id}>ActiveTabIdNameAuthority').value = 0;
	}
	repository<{$id}>NameAuthorityControlActiveTab1 = function(){
		$('repository<{$id}>ActiveTabIdNameAuthority').value = 1;
	}
	repository<{$id}>NameAuthorityControlActiveTab2 = function(){
		$('repository<{$id}>ActiveTabIdNameAuthority').value = 2;
	}
</script>

<{* タブ描画 *}>
<script class="nc_script" type="text/javascript">
	var tabset = new compTabset('<{$id}>');
	tabset.setActiveIndex(<{$action.nameAuthorityControlActiveTabId}>);
	tabset.addTabset("<{$lang.repository_name_authority_tab_edit}>",    repository<{$id}>NameAuthorityControlActiveTab0);
	tabset.addTabset("<{$lang.repository_name_authority_tab_replace}>", repository<{$id}>NameAuthorityControlActiveTab1);
	tabset.addTabset("<{$lang.repository_name_authority_tab_import}>",  repository<{$id}>NameAuthorityControlActiveTab2);
	tabset.render();
</script>
<{* AjaxRequest共通メソッド *}>
<script class="nc_script" type="text/javascript">
	function repository<{$id}>AjaxMethod(url, vals, methodVal, successFunc, failedFunc)
	{
		var myAjax = new Ajax.Request(
			url,
			{
				method: methodVal,
				parameters: vals, 
				onFailure : function(){
					failedFunc();
				},
				onSuccess : function(res){
					successFunc(res.responseText);
				}
			}
		);
	}
</script>
