<{* // -------------------------------------------------------------------- *}>
<{* //                                                                      *}>
<{* // $Id: repository_item_searchdelete_page.html  kentaro_miura $           *}>
<{* //                                                                      *}>
<{* // Copyright (c) 2007 - 2008, National Institute of Informatics,         *}>
<{* // Research and Development Center for Scientific Information Resources  *}>
<{* //                                                                      *}>
<{* // This program is licensed under a Creative Commons BSD Licence        *}>
<{* // http://creativecommons.org/licenses/BSD/                             *}>
<{* //                                                                      *}>
<{* // -------------------------------------------------------------------- *}>
	<div class="pager">
		<table style="width: auto;" align="center">
			<tbody>
				<tr>
					
				<{* 前へボタン *}>
				<{if ($action.page_no)>1}>
					<td class="nowrap">
						<{strip}>
						<a href="#" onclick="redirctPageChange<{$id}>(<{$action.page_no-1}>); return false;" class="pd00">
							<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/page_prev.gif" border="0"/>
							<{$lang.repository_page_prev}>
						</a>
						<{/strip}>
					</td>
				<{/if}>
				
				<{* 各ページのボタン *}>
				<{if $action.page_no < 6}>
				 <{assign var="start_page_no" value=1}>
				<{else}>
				 <{assign var="start_page_no" value=$action.page_no-5}>
				<{/if}>
				
				<{if $action.page_no+5 > $action.page_num}>
				 <{assign var="end_page_no" value=$action.page_num}>
				<{else}>
				 <{assign var="end_page_no" value=$action.page_no+5}>
				<{/if}>
				
				<{section name=i start=$start_page_no loop=$end_page_no+1}>
				 <td class="nowrap">
				  <{assign var="loop_num" value=$smarty.section.i.index}>
				  <{if $smarty.section.i.first == true}>
				    <{if $loop_num > 1}>
				      <a href="#" class="page_move dil" onclick="redirctPageChange<{$id}>(1); return false;">
				       1
				      </a>
				    </td>
				    <td class="nowrap">
				     <{if $loop_num > 2}>
				         ...
				     <{/if}>
				    </td>
				    <td class="nowrap">
				   <{/if}>
				  <{/if}>
				  <{if $loop_num == $action.page_no}>
				   <a class="page_view">
				    <{$loop_num}>
				   </a>
				  <{else}>
				   <a href="#" class="page_move" onclick="redirctPageChange<{$id}>(<{$loop_num}>); return false;">
				    <{$loop_num}>
				   </a>
				  <{/if}>
				  <{if $smarty.section.i.last == true}>
				      <{if $loop_num < $action.page_num}>
				          </td>
				          <td class="nowrap">
				              <{if $loop_num < $action.page_num-1}> ...  <{/if}>
				          </td>
				          <td class="nowrap">
				              <a href="#" class="page_move" onclick="redirctPageChange<{$id}>(<{$action.page_num}>); return false;">
				                  <{$action.page_num}>
				              </a>
				      <{/if}>
				  <{/if}>
				 </td>
				<{/section}>
				
				<{* 次へボタン *}>
				<{if $action.page_no != $action.page_num}>
					<td class="nowrap">
						<{strip}>
						<a href="#" onclick="redirctPageChange<{$id}>(<{$action.page_no+1}>); return false;" class="pd00">
							<{$lang.repository_page_next}>
							<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/page_next.gif" border="0" />
						</a>
						<{/strip}>
					</td>
				<{/if}>
				
				</tr>
			</tbody>
		</table>
	</div>