<!--// ---------------------------------------------------------------------->
<!--//																	 -->
<!--// $Id: repository_import_select.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $		  -->
<!--//																	 -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,		-->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//																	 -->
<!--// This program is licensed under a Creative Commons BSD Licence	   -->
<!--// http://creativecommons.org/licenses/BSD/							-->
<!--//																	 -->
<!--// ---------------------------------------------------------------------->

<{*Import*}>

<{if strlen($action.error_msg) > 0}>
	<p class="mtb10 error_msg">
		<{$action.error_msg}>
	</p>
<{/if}>

<{strip}>
	<{if $smarty.session._lang=="japanese" && $action.help_icon_display == "1"}>
		<div align="right" class="pt10 pr10">

			<a href="#" style="cursor: help;" onclick="repositoryCls['<{$id}>'].repositoryHelp(event,'import');return false;">
				<img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/help.png" alt="help">
			</a>

		</div>
	<{/if}>
	<form id="attachment_form<{$id}>" target="attachment_form<{$id}>" enctype="multipart/form-data">
		<div class="mt10">
			<div class="th_classic_content content text_color" id="import_tab_1" align="center" >
				<{* show error massage list 2014/11/04 T.Koyasu --start-- *}>
				<{if $action.error_info != null && count($action.error_info) > 0}>
					<div class="error_msg mt05">
						<table class="full tb01" align="center">
							<tr>
								<th class="th_col_repos ac"><{$lang.repository_import_error_header_item_title}></th>
								<th class="th_col_repos ac"><{$lang.repository_import_error_header_error}></th>
								<th class="th_col_repos ac"><{$lang.repository_import_error_header_attr_name}></th>
								<th class="th_col_repos ac"><{$lang.repository_import_error_header_input_value}></th>
								<th class="th_col_repos ac"><{$lang.repository_import_error_header_regist_value}></th>
							</tr>
							<{foreach from=$action.error_info item=error_list name=cnt}>
								<{assign var="iCnt" value=$smarty.foreach.cnt.iteration-1}>
								<{if $iCnt % 2 == 0}> 
									<tr class="list_line_repos1">
								<{else}>
									<tr class="list_line_repos2">
								<{/if}>
									<td class="w300px" style="white-space:normal; ">
										<{$error_list.title}>
									</td>
									<td class="w300px" style="white-space:normal; word-break: break-all;">
										<{if $error_list.error_no == 0 && strlen($error_list.error) > 0}>
											<{$error_list.error}>
										<{elseif $error_list.error_no == 1}>
											<{$lang.repository_import_error_msg_no_xml}>
										<{elseif $error_list.error_no == 2}>
											<{$lang.repository_import_error_msg_parse_xml}>
										<{elseif $error_list.error_no == 3}>
											<{$lang.repository_import_error_msg_tag_num}>
										<{elseif $error_list.error_no == 4}>
											<{$lang.repository_import_error_msg_item_title}>
										<{elseif $error_list.error_no == 5}>
											<{$lang.repository_import_error_msg_item_shown_date}>
										<{elseif $error_list.error_no == 6}>
											<{$lang.repository_import_error_msg_item_no_shown_date}>
										<{elseif $error_list.error_no == 7}>
											<{$lang.repository_import_error_msg_item_attr_is_required}>
										<{elseif $error_list.error_no == 8}>
											<{$lang.repository_import_error_msg_item_attr_type}>
										<{elseif $error_list.error_no == 9}>
											<{$lang.repository_import_error_msg_item_attr_link}>
										<{elseif $error_list.error_no == 10}>
											<{$lang.repository_import_error_msg_item_attr_date}>
										<{elseif $error_list.error_no == 11}>
											<{$lang.repository_import_error_msg_item_attr_candidate}>
										<{elseif $error_list.error_no == 12}>
											<{$lang.repository_import_error_msg_biblio_issue_date}>
										<{elseif $error_list.error_no == 13}>
											<{$lang.repository_import_error_msg_thumbnail_not_exist}>
										<{elseif $error_list.error_no == 14}>
											<{$lang.repository_import_error_msg_file_not_exist}>
										<{elseif $error_list.error_no == 15}>
											<{$lang.repository_import_error_msg_file_pub_date}>
										<{elseif $error_list.error_no == 16}>
											<{$lang.repository_import_error_msg_flash_pub_date}>
										<{elseif $error_list.error_no == 17}>
											<{$lang.repository_import_error_msg_item_type}>
										<{elseif $error_list.error_no == 18}>
											<{$lang.repository_import_error_msg_edit_item_url}>
										<{elseif $error_list.error_no == 19}>
											<{$lang.repository_import_error_msg_edit_item_num}>
										<{elseif $error_list.error_no == 20}>
											<{$lang.repository_import_error_msg_can_not_use_item_type}>
										<{/if}>
									</td>
									<td>
										<{$error_list.attr_name}>
									</td>
									<td>
										<{$error_list.input_value}>
									</td>
									<td>
										<{$error_list.regist_value}>
									</td>
								</tr>
							<{/foreach}>
						</table>
					</div>
				<{/if}>
				<{* show error massage list 2014/11/04 T.Koyasu --end-- *}>
				<div id="repo_side_navi" class="fl">
					<{* make index tree 2008/12/03 Y.Nakao --start-- *}>
					<div>
						<h3 class="th_repos_title_bar nc_block_title c">
							<span class="pl05">
								<{$lang.repository_index_tree}>
							</span>
						</h3>
						<div class="th_classic_content content" id="repository_import_tree" align="left" style="width: <{$smarty.const._SNIPPET_WIDTH}>px; overflow:auto;"></div>
						<{include file="repository_item_search_tree.html"}>
						<{* make index tree 2008/12/03 Y.Nakao --end-- *}>
					</div>
				</div>
				<div class="repository_right_header plr20">
					<table class="tb01 full" style="position: relative; right:10px">
						<tr>
							<th class="item_edit_list"><{$lang.repository_import_select_item}></th>
							<td class="item_edit_list al">
								<div class="nobr"><input type="file" name="upload[]" size="30"/></div><!-- old w15em -->
							</td>
						</tr>
						<tr>
							<th class="item_edit_list"><{$lang.repository_import_index}></th>
							<td class="item_edit_list al">
								<{$lang.repository_import_select_index}><br />
								<{* Add specialized support for open.repo "auto affiliation in private tree" Y.Nakao 2013/06/26 --start-- *}>
								<{strip}>
								<label class="pl10" id="selected_index">
									<{foreach from=$action.selectedIndexName item=indexName name=loopIndexName}>
										<{assign var="loopIndexName" value=$smarty.foreach.loopIndexName.iteration-1}>
										<{if $loopIndexName>0}><br><{/if}><{$indexName}>
									<{/foreach}>
								</label>
								<{/strip}>
								<br/>
								<input type="hidden" id="check_insert_idx" value="<{$action.selectedIndexIds}>" readonly />
								<{* Add specialized support for open.repo "auto affiliation in private tree" Y.Nakao 2013/06/26 --end-- *}>
							</td>
						</tr>
					</table>
					<center class="pt20">
						<{* import button 2012/1/26 --start-- A.jin --start-- *}>
						<input type="button" class="btn_blue ac" value="<{$lang.repository_import}>" onclick="repositoryCls['<{$id}>'].repositoryImportFileUpload();return false;" />
					</center>
					<{* import button 2012/1/26 --start-- A.jin --end-- *}>
				</div>
			</div>
		</div>
	</form>
<{/strip}>
<{* 2008/05/20 S.Kawasaki nc_script文字数制限の暫定対応でツリー生成-描画コードを分割して記述するように修正*}>
<{* make index tree 2008/12/03 Y.Nakao --start-- *}>
<script class="nc_script" type="text/javascript">
	repositoryInitTree<{$id}>('repository_import_tree','<{$id}>', 'check');
	$('repository_import_tree').style.height = <{$smarty.const._SNIPPET_HEIGHT}>+"px";
	$('repository_import_tree').style.width = <{$smarty.const._SNIPPET_WIDTH}>+"px";
</script>
<script class="nc_script" type="text/javascript">
	repositoryClickTreeCheck<{$id}> = function(id, idx_name){
		if( $('selected_index') != null ) {
			var elm_name = 'tree_check' + id;
			if($(elm_name).checked){
				// check true
				if($('selected_index').innerHTML != ""){
					//IE判定
					var userAgent = window.navigator.userAgent.toLowerCase();
					var appVersion = window.navigator.appVersion.toLowerCase();
					if((userAgent.indexOf("msie") > -1) && (appVersion.indexOf("msie 8.") != -1)){
						$('selected_index').innerHTML += '<BR>' + idx_name;
					}
					else{
						$('selected_index').innerHTML += '<br>' + idx_name;
					}
					$('check_insert_idx').value += '|' + id;
				} else {
					$('selected_index').innerHTML = idx_name;
					$('check_insert_idx').value = id;
				}
			} else {
				// check false
				// view index name
				//IE判定
				var userAgent = window.navigator.userAgent.toLowerCase();
				var appVersion = window.navigator.appVersion.toLowerCase();

				var str = '';
				if((userAgent.indexOf("msie") > -1)&&(appVersion.indexOf("msie 8.") != -1)){
					//IE8か
					str = "<BR>"+$('selected_index').innerHTML+"<BR>";
					var tempStr = "<BR>"+idx_name+"<BR>";
					str = str.replace(tempStr, "<BR>");
					str = str.substr(4,str.length-8);
				}
				else{
					str = "<br>"+$('selected_index').innerHTML+"<br>";
					var tempStr = "<br>"+idx_name+"<br>";
					str = str.replace(tempStr, "<br>");
					str = str.substr(4,str.length-8);
				}

				$('selected_index').innerHTML = str;
				// hidden index id
				str = "|"+$('check_insert_idx').value+"|";
				str = str.replace("|"+id+"|", "|");
				str = str.substr(1,str.length-2);
				$('check_insert_idx').value = str;
			}
		}
	}
</script>
<{* make index tree 2008/12/03 Y.Nakao --end-- *}>
<{include file="repository_script.html"}>

