<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_item_contents.html 80692 2017-08-08 03:03:43Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{strip}>
    <div class="mt10">
        <{include file=$smarty.const.WEBAPP_DIR|cat:'/modules/repository/templates/default/smartphone/repository_item_search_indexlist.html'}>
        <form id="export_print" method="post">
            <div id="search_print_order" class="pd10">
                <table class="repository_contents_table">
                    <{if $smarty.session.index_data != null}>
                        <{assign var="index_data" value=$smarty.session.index_data}>
                        
                        <{* index pankuzu --start-- *}>
                        <{if $smarty.session.index_data != null}>
                            <tr>
                                <{assign var="index_data" value=$smarty.session.index_data}>
                                <td align="left" valign="top" colspan="2">
                                    <div class="pb20">
                                        <{* upper index name *}>
                                        <{* Root index link *}>
                                        <a href="<{$smarty.const.BASE_URL}>/?action=repository_opensearch&index_id=0&count=<{$smarty.session.list_view_num}>&order=<{$smarty.session.sort_order}>&pn=1" />Root</a>
                                        <span class="plr05" onclick="javascript: repository<{$id}>ShowSubIndexTree(event, 0);" id="_repository_subIndexList">
                                            <img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/page_next.gif" class="plr10 vam" border="0" />
                                        </span>
                                        <{if $smarty.session.parent_index_data != null}>
                                            <{assign var="parent_index" value=$smarty.session.parent_index_data}>
                                            <{section name=i loop=$parent_index}>
                                                <a href="<{$smarty.const.BASE_URL}>/?action=repository_opensearch&index_id=<{$parent_index[i].index_id}>&count=<{$smarty.session.list_view_num}>&order=<{$smarty.session.sort_order}>&pn=1">
                                                    <{* Add parameter (list_view_num, sort_order, page_no) 2009/12/11 K.Ando ---end--- *}>
                                                    <{if $smarty.session._lang=="japanese"}>
                                                        <{if $parent_index[i].index_name != "" && $parent_index[i].index_name != null}>
                                                            <{$parent_index[i].index_name}>
                                                        <{else}>
                                                            <{$parent_index[i].index_name_english}>
                                                        <{/if}>
                                                    <{else}>
                                                        <{if $parent_index[i].index_name_english != "" && $parent_index[i].index_name_english != null}>
                                                            <{$parent_index[i].index_name_english}>
                                                        <{else}>
                                                            <{$parent_index[i].index_name}>
                                                        <{/if}>
                                                    <{/if}>
                                                </a>
                                                <span class="plr05" onclick="javascript: repository<{$id}>ShowSubIndexTree(event, '<{$parent_index[i].index_id}>');" id="_repository_subIndexList">
                                                    <img src="<{$smarty.const.CORE_BASE_URL}>/images/repository/default/page_next.gif" class="plr10 vam" border="0" />
                                                </span>
                                            <{/section}>
                                        <{/if}>
                                        
                                        <b>
                                            <{if $smarty.session._lang=="japanese"}>
                                                <{if $index_data.index_name != "" && $index_data.index_name != null}>
                                                    <{$index_data.index_name|smarty:nodefaults}>
                                                <{else}>
                                                    <{$index_data.index_name_english|smarty:nodefaults}>
                                                <{/if}>
                                            <{else}>
                                                <{if $index_data.index_name_english != "" && $index_data.index_name_english != null}>
                                                    <{$index_data.index_name_english|smarty:nodefaults}>
                                                <{else}>
                                                    <{$index_data.index_name|smarty:nodefaults}>
                                                <{/if}>
                                            <{/if}>
                                        </b>
                                    </div>
                                </td>
                            </tr>
                        <{/if}>
                        <{* index pankuzu --end-- *}>
                        
                        <{* index comment --start-- *}>
                        <tr>
                            <td align="center" class="pl01em">
                                <{if strlen($index_data.thumbnail_name) > 0}>
                                    <{* thumbnail *}>
                                    <img border="0" alt="" style="padding-right:10px;" 
                                        <{if $index_data.thumbnail_width > 280 || $index_data.thumbnail_height > 200}>
                                            <{if $index_data.thumbnail_width > $index_data.thumbnail_height}>
                                                width="280px" 
                                            <{else}>
                                                height="200px" 
                                            <{/if}>
                                        <{/if}>
                                        src="<{$smarty.const.CORE_BASE_URL}>/?action=repository_action_common_download&index_id=<{$index_data.index_id}>" 
                                    />
                                <{/if}>
                            </td>
                            <td align="left" valign="top" class="pl01em">
                                <{if count($index_data.comment) > 0}>
                                    <{section name=i loop=$index_data.comment}>
                                        <{$index_data.comment[i]|regex_replace:'/(.*)\[\[([^\]\|]+)\|([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$3</a>$4'|regex_replace:'/(.*)\[\[([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$2</a>$3'}><br/>
                                    <{/section}>
                                <{/if}>
                            </td>
                        </tr>
                        <{* index comment --end-- *}>
                        
                        <{* separator --start-- *}>
                        <tr>
                            <td colspan="2" class="ptb10"><hr class="tb01"/></td>
                        </tr>
                        <{* separator --end -- *}>
                    <{/if}>
                    
                    <{* metadata --start-- *}>
                    <{if ($smarty.session.child_index == null || count($smarty.session.child_index) == 0) && count($action.array_title) == 0}>
                        <tr>
                            <td colspan="2">
                                <font style="color:#f00;"><{$lang.repository_search_error2}></font>
                            </td>
                        </tr>
                    <{/if}>
                    
                    <tr>
                        <td colspan="2">
                            <{section name=i loop=$action.array_title}>
                                <{assign var="title" value=$action.array_title[i]}>
                                <{assign var="title_en" value=$action.array_title_english[i]}>
                                <{assign var="item" value=$action.array_item[i]}>
                                <{assign var="heading" value=$action.heading[i]}>
                                <{assign var="metadata" value=$action.contents[i]}>
                                <{assign var=i value=$smarty.section.i.index}>
                                <{* heading --start-- *}>
                                <{if strlen($heading[0]) > 0 || strlen($heading[1]) > 0 || strlen($heading[2]) > 0 || strlen($heading[3]) > 0}>
                                    <{if $i==0 || ( $i>0 && ($heading[0]!=$heading_prev[0] || $heading[1]!=$heading_prev[1] || $heading[2]!=$heading_prev[2] || $heading[3]!=$heading_prev[3]) )}>
                                        <div class="panelbar large text_color mt10">
                                            <{* heading *}>
                                            <{if $heading[0] != "" || $heading[1] != ""}>
                                                <{if $smarty.session._lang=="japanese"}>
                                                    <{if $heading[0] != ""}>
                                                        <{$action.heading[i][0]}>
                                                    <{else}>
                                                        <{$action.heading[i][1]}>
                                                    <{/if}>
                                                <{else}>
                                                    <{if $heading[1] != ""}>
                                                        <{$action.heading[i][1]}>
                                                    <{else}>
                                                        <{$action.heading[i][0]}>
                                                    <{/if}>
                                                <{/if}>
                                            <{/if}>
                                            
                                            <{* Sub heading *}>
                                            <{if $heading[2] != "" || $heading[3] != ""}>
                                                &nbsp;:&nbsp;
                                                <{if $smarty.session._lang=="japanese"}>
                                                    <{if $heading[2] != ""}>
                                                        <{$action.heading[i][2]}>
                                                    <{else}>
                                                        <{$heading[3]}>
                                                    <{/if}>
                                                <{else}>
                                                    <{if $heading[3] != ""}>
                                                        <{$action.heading[i][3]}>
                                                    <{else}>
                                                        <{$action.heading[i][2]}>
                                                    <{/if}>
                                                <{/if}>
                                            <{/if}>
                                        </div>
                                    <{/if}>
                                <{/if}>
                                <{assign var="heading_prev" value=$action.heading[i]}>
                                <{* heading --end-- *}>
                                
                                <div class="pt05 lh15">
                                    <{* title --start-- *}>
                                    <div class="item_title bold pl01em">
                                        <{* hidden : other lang title *}>
                                        <{if strlen($title) > 0 || strlen($title_en) > 0}>
                                            <{if $smarty.session._lang=="japanese"}>
                                                <{if strlen($title) > 0}>
                                                    <a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title[i]}></a>
                                                <{else}>
                                                    <a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title_english[i]}></a>
                                                <{/if}>
                                            <{else}>
                                                <{if strlen($title_en) > 0}>
                                                    <a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title_english[i]}></a>
                                                <{else}>
                                                    <a href="<{$smarty.const.BASE_URL}>/?action=repository_uri&item_id=<{$item.item_id}>"><{$action.array_title[i]}></a>
                                                <{/if}>
                                            <{/if}>
                                        <{/if}>
                                    </div>
                                    <{* title --end-- *}>
                                    
                                    <{* attr data --start-- *}>
                                    <{assign var="item_attr_type" value=$metadata.item_attr_type}>
                                    <{assign var="item_attr" value=$metadata.item_attr}>
                                    <div class="repository_contents_metadata pl02em">
                                        <{assign var=flg_name value="false"}>
                                        <{section name=j loop=$item_attr_type}>
                                            <{assign var=j value=$smarty.section.j.index}>
                                            <{assign var="attr_type" value=$item_attr_type[j]}>
                                            <{assign var="attr" value=$item_attr[j]}>
                                            
                                            <{* name --start-- *}>
                                            <{if $attr_type.input_type=="name"}>
                                                <{if $attr_type.display_lang_type == $smarty.session._lang && count($attr) > 0 && $flg_name == "false"}>
                                                    <{section name=k loop=$attr}>
                                                        <{assign var=k value=$smarty.section.k.index}>
                                                        <{if $k > 0}>
                                                            , 
                                                        <{/if}>
                                                        <{$attr[k].family}> <{$attr[k].name}>
                                                    <{/section}>
                                                    <br/>
                                                    <{assign var=flg_name value="true"}>
                                                
                                                <{elseif $attr_type.display_lang_type != $smarty.session._lang && count($attr) > 0 && $flg_name == "false" && $attr_type.display_flag!="false"}>
                                                    <{* another language *}>
                                                    <{section name=k loop=$attr}>
                                                        <{assign var=k value=$smarty.section.k.index}>
                                                        <{if $k > 0}>
                                                            , 
                                                        <{/if}>
                                                        <{$attr[k].family}> <{$attr[k].name}>
                                                    <{/section}>
                                                    <br/>
                                                    <{assign var=flg_name value="true"}>
                                                <{/if}>
                                            <{* name --start-- *}>
                                            
                                            <{* thumbnail --start-- *}>
                                            <{*
                                            <{elseif $attr_type.input_type=="thumbnail"}>
                                                <{section name=k loop=$attr}>
                                                    <{assign var=k value=$smarty.section.k.index}>
                                                    <img vspace="0" title="<{$attr[k].file_name}>" hspace="0" border="0" 
                                                    onload="javascript: if(this.height < this.width){if(this.width>100){this.height=100*this.height/this.width;this.width=100;}}else{if(this.height>100){this.width=100*this.width/this.height;this.height=100;}};" 
                                                    src="<{$smarty.const.BASE_URL}>/index.php?action=repository_action_common_download&item_id=<{$attr[k].item_id}>&item_no=<{$attr[k].item_no}>&attribute_id=<{$attr[k].attribute_id}>&file_no=<{$attr[k].file_no}>&img=true"/>
                                                <{/section}>
                                            *}>
                                            <{* thumbnail --end-- *}>
                                            
                                            <{* biblio_info --start-- *}>
                                            <{*
                                            <{elseif $attr_type.input_type=="biblio_info"}>
                                                <{section name=k loop=$attr}>
                                                    <{assign var=k value=$smarty.section.k.index}>
                                                    <!-- jtitle -->
                                                    <{if $smarty.session._lang=="japanese" && strlen($attr[k].biblio_name) > 0}>
                                                        <{$attr[k].biblio_name}>&nbsp;
                                                    <{else && strlen($attr[k].biblio_name_english) > 0}>
                                                        <{$attr[k].biblio_name_english}>&nbsp;
                                                    <{/if}>
                                                    <!-- volume -->
                                                    <{if strlen($attr[k].volume) > 0}>
                                                        Vol.<{$attr[k].volume}>&nbsp;
                                                    <{/if}>
                                                    <!-- issue -->
                                                    <{if strlen($attr[k].issue) > 0}>
                                                        No.<{$attr[k].issue}>&nbsp;
                                                    <{/if}>
                                                    <!-- page -->
                                                    <{if strlen($attr[k].start_page) > 0 && strlen($attr[k].end_page) > 0}>
                                                        <{$attr[k].start_page}>-<{$attr[k].end_page}>&nbsp;
                                                    <{elseif strlen($attr[k].start_page) > 0}>
                                                        <{$attr[k].start_page}>&nbsp;
                                                    <{elseif strlen($attr[k].end_page) > 0}>
                                                        <{$attr[k].end_page}>
                                                    <{/if}>
                                                    <!-- dateofissued -->
                                                    <{if strlen($attr[k].date_of_issued) > 0}>
                                                        <{$attr[k].date_of_issued}>&nbsp;
                                                    <{/if}>
                                                <{/section}>
                                            *}>
                                            <{* biblio_info --end-- *}>
                                            
                                            <{* else --start-- *}>
                                            <{*
                                            <{elseif $attr_type.input_type!="heading"}>
                                                <{section name=k loop=$attr}>
                                                    <{assign var=k value=$smarty.section.k.index}>
                                                    <{if $k > 0}>
                                                        , 
                                                    <{/if}>
                                                    <{$attr[k].attribute_value}>
                                                <{/section}>
                                            *}>
                                            <{* else --end-- *}>
                                            
                                            <{/if}>
                                        <{/section}>
                                        
                                        <{* Fix output file last 2013/05/21 Y.Nakao --start-- *}>
                                        <{section name=j loop=$item_attr_type}>
                                            <{assign var=j value=$smarty.section.j.index}>
                                            <{assign var="attr_type" value=$item_attr_type[j]}>
                                            <{assign var="attr" value=$item_attr[j]}>
                                            
                                            <{* file --start-- *}>
                                            <{if $attr_type.input_type=="file" || $attr_type.input_type=="file_price"}>
                                                <{foreach from=$attr item=str_data name=loop_str}>
                                                    <{assign var="loop_str" value=$smarty.foreach.loop_str.iteration-1}>
                                                    <{if $attr[$loop_str].mimetype_name != ""}>
                                                        <a class="list_mimetype_icon" style="cursor : pointer;"
                                                           href="<{$attr[$loop_str].open_access_file}>"
                                                        >
                                                            <{* Button --start-- *}>
                                                            <{* Not flash viewer *}>
                                                            <{foreach from=$attr[$loop_str].mimetype_name item=str_mime name=loop_mime}>
                                                                <{assign var="loop_mime" value=$smarty.foreach.loop_mime.iteration-1}>
                                                                <{if $attr[$loop_str].mimetype_name[$loop_mime]==' '}>
                                                                    &nbsp;
                                                                <{else}>
                                                                    <{$attr[$loop_str].mimetype_name[$loop_mime]}>
                                                                <{/if}>
                                                            <{/foreach}>
                                                            <{* Button --end-- *}>
                                                        </a>
                                                        &nbsp;&nbsp;
                                                    <{/if}>
                                                    <{if $attr[$loop_str].open_access_file!="" 
                                                         && $attr[$loop_str].open_access_file!="false"}>
                                                        <div style="display:none;">
                                                            <a href="<{$attr[$loop_str].open_access_file}>">
                                                                <{if $attr[$loop_str].display_neme != ""}>
                                                                    <{$attr[$loop_str].display_neme}>
                                                                <{else}>
                                                                    <{$attr[$loop_str].fileneme}>
                                                                <{/if}>
                                                            </a>
                                                        </div>
                                                    <{/if}>
                                                <{/foreach}>
                                            <{/if}>
                                            <{* file --end-- *}>
                                            
                                        <{/section}>
                                        <{* Fix output file last 2013/05/21 Y.Nakao --end-- *}>
                                        
                                    </div>
                                    <{* attr data --start-- *}>
                                </div>
                            <{/section}>
                        </td>
                    </tr>
                    <{* metadata --end-- *}>
                </table>
            </div>
        </form>
        <input type="hidden" id="send_footer" value="<{$smarty.session._meta.meta_footer}>" />
    </div>
<{/strip}>
