<!--// ---------------------------------------------------------------------->
<!--//                                                                     -->
<!--// $Id: repository_index_biblio_info.html 81438 2017-11-20 04:49:51Z keiya_sugimoto $          -->
<!--//                                                                     -->
<!--// Copyright (c) 2007 - 2008, National Institute of Informatics,        -->
<!--// Research and Development Center for Scientific Information Resources -->
<!--//                                                                     -->
<!--// This program is licensed under a Creative Commons BSD Licence       -->
<!--// http://creativecommons.org/licenses/BSD/                            -->
<!--//                                                                     -->
<!--// ---------------------------------------------------------------------->
<{*インデックス書誌情報表示欄*}>

<{*入力されたメタデータ*}>
<{assign var="index_metadata" value=$action.index_additionaldata_attr}>
<{*メタデータ名*}>
<{assign var="index_metadata_name" value=$action.index_additionaldata_attr_name}>
<{*メタデータで設定した言語*}>
<{if $index_metadata[17] == "jpn"}>
	<{assign var="index_metadata_lang" value="japanese"}>
<{elseif $index_metadata[17] == "eng"}>
	<{assign var="index_metadata_lang" value="english"}>
<{elseif $index_metadata[17] == "chi"}>
	<{assign var="index_metadata_lang" value="chinese"}>
<{else}>
	<{assign var="index_metadata_lang" value=""}>
<{/if}>
<{*入力されたインデックスデータ*}>
<{assign var="index_data" value=$smarty.session.index_data}>

<{*雑誌情報の項目と値を表示*}>

<{*1.サムネイルを表示*}>
<td valign="top">
	<{if strlen($index_data.thumbnail_name) > 0}>
		<!-- thumbnail -->
		<div style="margin: 10px">
			<img border="0" alt="" align="top" 
				<{if $index_data.thumbnail_width > 150 || $index_data.thumbnail_height > 200}>
					<{if $index_data.thumbnail_height > $index_data.thumbnail_width}>
						height="200px"
						<{*縮小した画像の横幅が150より大きい場合*}>
						<{if ($index_data.thumbnail_width * 200 / $index_data.thumbnail_height) > 150}>
							width="150px"
						<{/if}>
					<{else}>
						width="150px"
					<{/if}>
				<{/if}>
				src="<{$smarty.const.CORE_BASE_URL}>/?action=repository_action_common_download&index_id=<{$index_data.index_id}>" 
			/>
		</div>
	<{/if}>
</td>

	
<{*デフォルトの表示項目*}>
<td>			
	<{*2.雑誌名、別タイトルを表示*}>
	<div>
		<{*NC2表示言語が雑誌情報「言語」と一致する ⇒ 雑誌情報「タイトル」を表示する。*}>
		<{if $index_metadata_lang == $smarty.session._lang}>
			<font style="font-size: 20px;"><{$index_metadata[0]|smarty:nodefaults}><br><{*タイトル*}></font>
			<{$lang.repository_index_metadata_other_title}>:&nbsp<{$index_metadata[18]|smarty:nodefaults}><{*別タイトル*}>
		<{elseif $index_metadata_lang != $smarty.session._lang && strlen($index_metadata[18]) > 0}>
		<{*NC2表示言語が雑誌情報「言語」と一致しないかつ雑誌情報「別タイトル」がある ⇒ 雑誌情報「別タイトル」を表示する。*}>
			<font style="font-size: 20px;"><{$index_metadata[18]|smarty:nodefaults}><{*別タイトル*}></font>
			<{$lang.repository_index_metadata_other_title}>:&nbsp<{$index_metadata[0]|smarty:nodefaults}><{*タイトル*}>
		<{else}>
		<{*NC2表示言語が雑誌情報「言語」と一致しないかつ雑誌情報「別タイトル」がない ⇒ 雑誌情報「タイトル」を表示する。*}>
			<font style="font-size: 20px;"><{$index_metadata[0]|smarty:nodefaults}><br><{*タイトル*}></font>
			<{$lang.repository_index_metadata_other_title}>:&nbsp
		<{/if}>
	</div>
	<{*3.出版者、言語、ISSN/ISBN、eISSN/eISBNを表示*}>
	<{*登録されていない、または、空文字の場合は表示しない *}>
	<div">
		<{if strlen($index_metadata[12]) > 0}>
			<{$index_metadata_name[12]}>:&nbsp<{$index_metadata[12]|smarty:nodefaults}><br><{*出版者*}>
		<{/if}>
		<{if strlen($index_metadata[17]) > 0}>
			<{$index_metadata_name[17]}>:&nbsp<{$index_metadata[17]}><br><{*言語*}>
		<{/if}>
		<{*メタデータの項目名と表示する項目名が違ったため直接入力*}>
		<{if strlen($index_metadata[1]) > 0}>
			<{$lang.repository_index_metadata_issn}>:&nbsp<{$index_metadata[1]}><br><{*ISSN/ISBN*}>
		<{/if}>
		<{if strlen($index_metadata[2]) > 0}>
			<{$index_metadata_name[2]}>:&nbsp<{$index_metadata[2]}><br><{*eISSN/ISBN*}>
		<{/if}>
		<br>
		<{*コメントを表示*}>
		<{*ハイパーリンクを張り付ける*}>
		<{if count($index_data.comment) > 0}>
			<{section name=j loop=$index_data.comment}>
				<{$index_data.comment[j]|regex_replace:'/(.*)\[\[([^\]\|]+)\|([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$3</a>$4'|regex_replace:'/(.*)\[\[([^\]\|]+)\]\](.*)/U':'$1<a href="$2"target="_blank">$2</a>$3'|smarty:nodefaults}><br/>
			<{/section}>
		<{/if}>
		<br>
		<{*URLを表示*}>
		<{$lang.repository_item_attr_link_url}>:&nbsp<a href="<{$smarty.const.CORE_BASE_URL}>/?action=repository_opensearch&index_id=<{$index_data.index_id}>"><{$smarty.const.CORE_BASE_URL}>/?action=repository_opensearch&index_id=<{$index_data.index_id}></a>
		<br>
		<br>
	</div>


	<{*詳細表示項目*}>
	<{*登録されていない、または、空文字の場合は表示しない*}>
	<div onclick="javascript: changeViewDetail();">
		<p style="cursor: pointer;">
			<img id="detail_cursor" border="0" src="<{$smarty.const.CORE_BASE_URL}>/images/repository/tree/close-1.png" style="vertical-align:text-top;"><{$lang.repository_index_metadata_detail}>
		</p>
	</div>
	<div id="detail_metadata" style="display: none; margin-left: 1em">
		<{section name=i loop=$index_metadata}>
		<{*デフォルトの表示項目を除く*}>
			<{assign var="iteration" value=$smarty.section.i.iteration-1}>
   			<{if $iteration != 0 &&  $iteration != 1 && $iteration != 2 && $iteration != 12 && $iteration != 17 && $iteration != 18}>
				<{if strlen($index_metadata[i]) > 0}>
					<{$index_metadata_name[i]}>:&nbsp<{$index_metadata[i]|smarty:nodefaults}><br>
				<{/if}>
			<{/if}>
		<{/section}>
	</div>
</td>

<{*詳細表示項目の表示・非表示切り替え*}>
<script class="nc_script" type="text/javascript">
    changeViewDetail = function(){
        var detailDisplay = document.getElementById("detail_metadata").style;
        if(detailDisplay.display == "none"){
        	detailDisplay.display = "block";
        	document.getElementById("detail_cursor").src = "<{$smarty.const.CORE_BASE_URL}>/images/repository/tree/open-1.png";
        }
        else if(detailDisplay.display == "block"){
        	detailDisplay.display = "none";
        	document.getElementById("detail_cursor").src = "<{$smarty.const.CORE_BASE_URL}>/images/repository/tree/close-1.png";
        }
    }
</script>


